<ion-view title="Acrustox" id="page178">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
              <a ui-sref="menu.cIC">Apparent ECEC</a> of less than 1.50 cmol(+) per kg clay and a pH value (1N KCl) of 5.0 or more, within 150 cm of the mineral soil surface.
      
    </div>
    <div>
      <img src="img/MkL8DvnSj2SPOJ0TpzMw_Acrustox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acrustoxes-markdown287" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Ustox
          <ul>
            <li>Acrustox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>