<ion-view title="Aquands" id="page108">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Histic
          <a ui-sref="menu.hSticoHorizonte">horizon</a> or
          <a ui-sref="menu.Cuico"> aquic conditions</a>.</li>
        <li>• Poorly drained soils. </li>
        <li>• <a ui-sref="menu.rasgosRedoximRficos">Redoximorphic features.</a> </li>
      </ul>
      <hr>
      <p></p>
    </div>
        <div>
    <img src="img/Placacuand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
     <p align="center"><small>Image: Osvaldo Salazar (@fertisuelo)</small></p> 
    <div id="acuandes-markdown160" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil an Aquand?</p>
    </div>
    <div id="acuandes-button-bar26" class="button-bar">
      <a ui-sref="menu.subRdenesAndisoles()" id="acuandes-button151" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAcuandes()" id="acuandes-button152" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>
