<ion-view title="Aquepts" id="page437">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.Cuico"> Aquic conditions</a> or an exchangeable sodium percentage
        <a ui-sref="menu.pSIPorcentajeSodioInterc">(ESP)</a> of 15 or more within 50 cm of the
mineral soil surface</p>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/iuaHaByBSz6DQdz8ujWv_Endoacuept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acueptes-markdown767" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil an Aquept?</p>
    </div>
    <div id="acueptes-button-bar71" class="button-bar">
      <a ui-sref="menu.subRdenesInceptisoles()" id="acueptes-button496" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAcueptes()" id="acueptes-button497" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>