<ion-view title="Aquiturbels" id="page268">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.Cuico">Aquic conditions</a> and redox depletions (with
        <a ui-sref="menu.cromaChroma">chroma</a> of 2 or less) within 50 cm of the mineral soil surface.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/r6kTLuVhRtO8PUhR9blx_Acuiturbel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acuiturbeles-markdown456" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisols</strong>
      </h5>

      <ul>
        <li>Turbels
          <ul>
            <li>Aquiturbels</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>