<ion-view title="Aquisalids" id="page247">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        <a ui-sref="menu.saturaciNAgua">Saturated</a> with water in one or more layers within 100 cm of the soil surface for 1 month or more in normal years.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/WCHYD6Q6T78Wtw53gUtN_Acuisalid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acuisalides-markdown410" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Salids
          <ul>
            <li>Aquisalids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>