<ion-view title="Aquods" id="page75">
  <ion-content padding="true" class="has-header">
    <p>•
      <a ui-sref="menu.Cuico"> Aquic conditions</a> in one or more horizons within 50 cm of the mineral soil surface and have one or both of
the following:
      <br> &nbsp;&nbsp;&nbsp;&nbsp;• 
      <a ui-sref="menu.hSticoHorizonte">Histic</a> horizon; or
	  <br> &nbsp;&nbsp;&nbsp;&nbsp;• 
      <a ui-sref="menu.rasgosRedoximRficos">Redoximorphic features</a> in an
      <a ui-sref="menu.Lbico"> albic</a> or a 
      <a ui-sref="menu.spDicoHorizonte">spodic</a> horizon.</p>
    <div>
      <img src="img/nhpZ1kyLRJWKo8rHHBWJ_Endoacuod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acuodes-markdown100" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil an Aquod?</p>
    </div>
    <div id="acuodes-button-bar21" class="button-bar">
      <a ui-sref="menu.subRdenesSpodosoles()" id="acuodes-button111" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAcuodes()" id="acuodes-button112" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>