<ion-view title="Aquorthels" id="page275">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.Cuico"> Aquic conditions</a> and redox depletions (
        <a ui-sref="menu.cromaChroma">chroma</a> of 2 or less) within 50 cm of the mineral soil surface.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/WHTFRSpxQr2riNrJ91fK_Acuorthel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acuorteles-markdown470" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisols</strong>
      </h5>

      <ul>
        <li>Orthels
          <ul>
            <li>Aquorthels</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>