<ion-view title="Alaquods" id="page86">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Less than 0.10 percent iron (by ammonium oxalate) in 75 percent or more of the <a ui-sref="menu.spDicoHorizonte">spodic</a> horizon.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/vc2w4L6rS0iAxrHX6PRo_Alacuod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="alacuodes-markdown117" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododols</strong>
      </h5>

      <ul>
        <li>Aquods
          <ul>
            <li>Alaquods</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>