<ion-view title="Albaquults" id="page290">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>
          •
          <a ui-sref="menu.cambioTexturalAbrupto">Abrupt textural change</a>
          between the <a ui-sref="menu.CricoHorizonte">ochric</a>
          <a ui-sref="menu.epipedN">epipedon</a>
           or  <a ui-sref="menu.Lbico"> albic</a> horizon
          and the
          <a ui-sref="menu.argLicoHorizonte">argillic</a> or <a ui-sref="menu.kNdicoHorizonte">kandic</a> horizon.</li>
        <li>•
          <a ui-sref="menu.conductividadHidrUlicaSaturadaKsat">Saturated Hydraulic conductivity</a> ≤0.4 cm/h in the <a ui-sref="menu.argLicoHorizonte">argillic</a> or
		  <a ui-sref="menu.kNdicoHorizonte">kandic</a> horizon.
           </li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/ri74un7fTFGVxM8mIDZc_Albacult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="albacultes-markdown489" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Aquults
          <ul>
            <li>Albaquults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>