<ion-view title="Albolls" id="page324">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Soils of flat landscape with an
          <a ui-sref="menu.Lbico"> albic</a> horizon overlying
          <a ui-sref="menu.argLicoHorizonte">argillic</a> or
          <a ui-sref="menu.nTricoHorizonte">natric</a> horizon.
        </li>
		 <li>• Redox concentrations (masses or concretions) within <a ui-sref="menu.Lbico"> albic</a> and/or <a ui-sref="menu.argLicoHorizonte">argillic</a> or
          <a ui-sref="menu.nTricoHorizonte">natric</a> horizon.</li>
         <li>• A <a ui-sref="menu.regMenesDeTemperaturaDeSuelo">soil temperature regime</a> that is warmer than 
          <a ui-sref="menu.crIco">cryic</a>.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/cJS64PtNRJa7tpuVX2zR_Argialbol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="alboles-markdown558" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil an Alboll?</p>
    </div>
    <div id="alboles-button-bar56" class="button-bar">
      <a ui-sref="menu.subRdenesMolisoles()" id="alboles-button370" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAlboles()" id="alboles-button371" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>