<ion-view title="Alfisols" id="page39">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Soils with an
        <a ui-sref="menu.argLicoHorizonte">argillic</a> or
        <a ui-sref="menu.nTricoHorizonte">natric</a> or
        <a ui-sref="menu.kNdicoHorizonte">kandic</a> horizon or a
        <a ui-sref="menu.fragipN">fragipan</a>.
        <br>Soils that do not have a 
        <a ui-sref="menu.plGenoPlaggenHorizonte">plaggen</a> epipedon. </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider10" delegate-handle="slider10" id="alfisoles-slider10" style="width:100%;height:300px;">
      <ion-slide-page id="alfisoles-slide228">
        <div>
          <img src="img/Dpkdqqa5RiKM89qI2p7A_Albacualf.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
	  
      <ion-slide-page id="alfisoles-slide229">
        <a title="Global distribution of Alfisols" href="img/Alfisoles_mundo.jpg"><img src="img/Alfisoles_mundo.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
		  </a>
      </ion-slide-page>
      <ion-slide-page id="alfisoles-slide230">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <p align="center">Alfisols distribution in Argentine Republic.<br>
                <img src="img/btndOsxMRSvMNFoBbCRZ_Alfisoles1y2.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Alfisoles en Argentina">
                <br>
                <font color="green">• Dominant </font> &nbsp; &nbsp;
                <font color="purple"> • Secondary </font>
              </p>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <div id="alfisoles-markdown35" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">Is this soil an Alfisol?</p>
    </div>
    <div id="alfisoles-button-bar13" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="alfisoles-button47" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesAlfisoles()" id="alfisoles-button48" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>
