<ion-view title="Alluvial" id="page552">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Soil formed by recent deposits in valley areas frequently subject to flooding by rivers that provide the material. The granulometry of the material is heterogeneous in different layers. It is common to find layers of fine materials (silt, clays)
       on layers of coarser materials (sand, gravel).
    </p>
</ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.Lbico()" id="aluvial-button596" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="aluvial-button597" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.Ndico()" id="aluvial-button598" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
  
</ion-view>