<ion-view title="Andisols" id="page33">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Soils that have
        <a ui-sref="menu.Ndico">andic properties</a> in 60 percent or
		more of the thickness either: 
		 <br>&nbsp;&nbsp;&nbsp 1. Within 60 cm either of the mineral soil surface or of the
		top of an organic layer with andic soil properties, whichever
		is shallower; or 
		 <br>&nbsp;&nbsp;&nbsp 2. Between the above-mentioned upper limit and  a densic, lithic, or paralithic contact,
		duripan, or petrocalcic horizon.  
      </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="andisoles-slider4" style="width:100%;height:300px;">
      <ion-slide-page id="andisoles-slide210">
        <div>
          <img src="img/W5e7G4bRSP6Xu5jmgtka_Melanudand.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="andisoles-slide253">
       <a title="Global distribution of Andisols" href="img/andisols-global-distribution.jpg"><img src="img/LMVRKooVTrWSN4WRdZ6g_Andisoles_cr300centro.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
		  </a>
      </ion-slide-page>
      <ion-slide-page id="andisoles-slide254">
        <p align="center">Andisols distribution in Argentine Republic
          <img src="img/Het9qrcxSzKlTX9IZoZE_Andisoles1y2.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Andisoles en Argentina">
          <br>
          <font color="green">• Dominant </font> &nbsp; &nbsp;
          <font color="purple"> • Secondary </font>
        </p>
      </ion-slide-page>
    </ion-slides>
    <div id="andisoles-markdown29" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">Is this soil an Andisol?</p>
    </div>
    <div id="andisoles-button-bar7" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="andisoles-button32" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesAndisoles()" id="andisoles-button36" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>