<ion-view title="Anhydrous (conditions)" id="page522">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Anhydrous conditions</b>
      </p>
      <p align="justify">
        Anhydrous conditions refer to the moisture condition of soils in very cold deserts and other
		areas with <a ui-sref="menu.permafrost">permafrost</a>. Anhydrous soil conditions are similar to the <a ui-sref="menu.arDico">aridic</a> (<a ui-sref="menu.tRricoRGimenDeHumedad">torric</a>) 
		soil moisture regimes, except that
		the soil temperature at 50 cm is less than 5 oC.
             
    </div>
    
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.Ndico()" id="anhidrasCondiciones-button602" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="anhidrasCondiciones-button603" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.antrPicoHorizonte()" id="anhidrasCondiciones-button604" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>