<ion-view title="Anthropic (horizon)" id="page523">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Anthropic horizon</b>
      </p>
      <p align="justify">
        The anthropic <a ui-sref="menu.epipedN">epipedon</a> consists of mineral soil material that shows evidence of the purposeful alteration of soil properties 
		or of earth-surface features by human activity (exeptuing agricultural practices). 
		The anthropic <a ui-sref="menu.epipedN">epipedon</a> forms in human-altered or human transported material.
      </p>
     </div>
    </ion-content>
 <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.anhidrasCondiciones()" id="antrPicoHorizonte-button605" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="antrPicoHorizonte-button606" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.Cuico()" id="antrPicoHorizonte-button607" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>