<ion-view title="Expansive clays" id="page609">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Expansive clays are minerals prone to large volume changes (expansion/contraction) depending on the water content. 
	  Clays of the smectite type (such as montmorillonite) show this property because they present a structure that allows 
	  water to penetrate between its layers increasing the interlayer space. Soils with high content of expansive clays can present <a ui-sref="menu.gilgaiMicrorrelieve">gilgai</a> microrelief
    </p>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.pSIPorcentajeSodioInterc()" id="arcillasExpansibles-button903" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" id="arcillasExpansibles-button904" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
	<a ui-sref="menu.fBricosMateriales()" id="arcillasExpansibles-button905" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
	</div>
  </ion-footer-bar>
</ion-view>