<ion-view title="Aridic" id="page525">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Aridic (torric) soil moisture regimes:</b>
      </p>
      <p align="justify">
		In the aridic (torric) soil moisture regime, the moisture <a ui-sref="menu.secciNDeControlDeHumedad">control section</a>
		is, in normal years:
        <br>&nbsp;&nbsp;&nbsp;&nbsp; 1. Dry in all parts for more than half of the cumulative days
		per year when the soil temperature at a depth of 50 cm below
		the soil surface is above 5 °C; and
		<br>&nbsp;&nbsp;&nbsp;&nbsp; 2. Moist in some or all parts for less than 90 consecutive days
		when the soil temperature at a depth of 50 cm below the soil
		surface is above 8 °C.
        <br>Aridic is used in the Order level and torric in lower categories of soil taxonomy.</p>
    </div>
       </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.argLicoHorizonte()" id="arDico-button611" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="arDico-button612" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.saturaciNConBases()" id="arDico-button613" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>