<ion-view title="Argids" id="page231">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• With an <a ui-sref="menu.argLicoHorizonte">argillic</a> or <a ui-sref="menu.nTricoHorizonte">natric</a> horizon.
        </li>
        <li>• Without a <a ui-sref="menu.petrocLcicoHorizonte">petrocalcic</a> horizon. </li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/qLTaYpUYS2mCZBVY3N2P_Calciargid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="argides-markdown385" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil an Argid?</p>
    </div>
    <div id="argides-button-bar51" class="button-bar">
      <a ui-sref="menu.subRdenesAridisoles()" id="argides-button290" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposArgides()" id="argides-button291" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>