<ion-view title="Argiudolls" id="page372">
  <ion-content padding="true" class="has-header">
    <div>
      <p>With an
        <a ui-sref="menu.argLicoHorizonte">argillic</a> horizon. </p>
      <hr>
    </div>
    <div>
      <img src="img/iDqgsY6JTa2GEGKsHghA_Argiudol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="argiudoles-markdown646" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Mollisols</strong>
      </h5>

      <ul>
        <li>Udolls
          <ul>
            <li>Argiudolls</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>