<ion-view title="Argillic (horizon)" id="page524">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Argillic horizon</b>
      </p>
      <p align="justify">
        (L. <em>argilla</em> = clay). Subsoil horizon with an <a ui-sref="menu.iluviaciNIluvial">illuvial</a> accumulation of clay. 
		Present evidence of clay illuviation (oriented clay bridging the sand grains, clay films etc.).
        <br> The argillic horizon has a significantly higher content of clay than the <a ui-sref="menu.eluviaciNEluvial">eluvial</a> horizon above
		as follows:

      </p>
      <table style="width: 100%">
        <tbody>
          <tr>
            <th>
              <b>% Arc in Eluvial hz. </b>
            </th>
            <th>
              <b>% Arc in Argillic hz.</b>
            </th>
          </tr>
          <tr>
            <td>
              <p align="center">&lt; 15</p>
            </td>
            <td>
              <p align="center">3% (absolute)</p>
            </td>
          </tr>
          <tr>
            <td>
              <p align="center">15-40</p>
            </td>
            <td>
              <p align="center">1.2 times more</p>
            </td>
          </tr>
          <tr>
            <td>
              <p align="center">&gt;40</p>
            </td>
            <td>
              <p align="center">8% (absolute)</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
     
<div>
<img src="img/HorizonteArgílico_ArgiudolTipico.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
</div> 
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.Cuico()" id="argLicoHorizonte-button608" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="argLicoHorizonte-button609" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.arDico()" id="argLicoHorizonte-button610" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>
