<ion-view title="Bioturbation" id="page527">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">
        Bioturbation is the movement of solid material in the profile of the soil by the actions of the soil fauna. <br>These actions are manifested, for example, by the presence of
		worm casts, worm holes, rodent burrows, insect cavities, termite runs, snail shells and faecal pellets.</p>
    </div>
        
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.saturaciNConBases()" id="bioturbaciN-button614" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="bioturbaciN-button615" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.densidadAparente()" id="bioturbaciN-button616" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>