<ion-view title="CaCO<sub>3</sub> equivalent" id="page624">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Calcium carbonate equivalent:</b>
      <br> "Calcium carbonate equivalent" is the quantity of carbonate (CO<sub>3</sub>) in the soil expressed as CaCO<sub>3</sub> and as a weight 
	  percentage of the less than 2 mm size fraction.
    </p>
    
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.densidadAparente()" id="caCO3Equivalente-button592" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="caCO3Equivalente-button764" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.cLcicoHorizonte()" id="caCO3Equivalente-button765" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>