<ion-view title="Calcixerepts" id="page459">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>A <a ui-sref="menu.cLcicoHorizonte">calcic</a> horizon within a depth
			of 100 cm or a <a ui-sref="menu.petrocLcicoHorizonte">petrocalcic</a>
			horizon within a depth of 150 cm AND <a ui-sref="menu.carbonatosLibres">free carbonates</a> above.
        </li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/zrrnjm5R4C37aFfb0efw_Calcixerept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calcixereptes-markdown808" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Xerepts
          <ul>
            <li>Calcixerepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>