<ion-view title="Calciustepts" id="page450">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>A <a ui-sref="menu.cLcicoHorizonte">calcic</a> horizon within a depth
			of 100 cm or a <a ui-sref="menu.petrocLcicoHorizonte">petrocalcic</a>
			horizon within a depth of 150 cm AND <a ui-sref="menu.carbonatosLibres">free carbonates</a> or sandy
			<a ui-sref="menu.textura">texture</a> above.
		</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/8syxgiiZR4wSl1Vy6owc_Calciustept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calciusteptes-markdown791" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Ustepts
          <ul>
            <li>Calciustepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>