<ion-view title="Calciudolls" id="page370">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>A <a ui-sref="menu.cLcicoHorizonte">calcic</a> or <a ui-sref="menu.petrocLcicoHorizonte">petrocalcic</a>
			horizon within a depth of 100 cm AND free carbonates above. Do not have an <a ui-sref="menu.argLicoHorizonte">argillic</a> horizon 
			above the <a ui-sref="menu.cLcicoHorizonte">calcic</a> or <a ui-sref="menu.petrocLcicoHorizonte">petrocalcic</a> horizon.
        </li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/ITurgzfQ8efnICZOdtDQ_calciudol300.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calciudoles-markdown642" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Mollisols</strong>
      </h5>

      <ul>
        <li>Udolls
          <ul>
            <li>Calciudolls</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>