<ion-view title="Calciargids" id="page261">
  <ion-content padding="true" class="has-header">
    <div>
      <p><a ui-sref="menu.cLcicoHorizonte">Calcic</a> horizon within a depth of 150 cm. </p>
      <hr>
    </div>
    <div>
      <img src="img/qLTaYpUYS2mCZBVY3N2P_Calciargid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calciargides-markdown438" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Argids
          <ul>
            <li>Calciargids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>