<ion-view title="Calciusterts" id="page222">
  <ion-content padding="true" class="has-header">
    <div>
       <p><a ui-sref="menu.cLcicoHorizonte">Calcic</a> or <a ui-sref="menu.petrocLcicoHorizonte">petrocalcic</a> horizon
         within a depth of 100 cm. </p>
      <hr>
    </div>
    <div>
      <img src="img/wAqArYIgQGSJDky6cg4M_Calciustert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calciustertes-markdown368" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Usterts
          <ul>
            <li>Calciusterts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>