<ion-view title="Abrupt textural change" id="page530">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">An abrupt textural change is a specific kind of change
		that may occur between an epipedon composed of mineral
		soil material or an eluvial horizon and an underlying <a ui-sref="menu.argLicoHorizonte">argillic</a>,
		<a ui-sref="menu.glSsicoHorizonte">glossic</a>, <a ui-sref="menu.kNdicoHorizonte">kandic</a>, or <a ui-sref="menu.nTricoHorizonte">natric</a> horizon. It is characterized by a
		considerable increase in clay content within a very short vertical
		distance (7.5 cm) in the zone of contact.<br>
		&nbsp&nbsp&nbsp &bull; If there is < 20% clay in the eluvial layer, then clay content doubles.<br>
		&nbsp&nbsp&nbsp &bull; If there is > 20% clay in the eluvial layer, then clay content increases by
		> 20% (absolute).
      </p>
    </div>
    <div>
      <img src="img/nyzyC6XRqqL3wrlbmNpA_cambiotexturalabrupto.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.glosario()" id="cambioTexturalAbrupto-button624" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.Grico()" id="cambioTexturalAbrupto-button625" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>