<ion-view title="Glacic layer" id="page531">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> A glacic layer is massive ice or ground ice in the form of ice
		lenses or wedges. The layer is 30 cm or more thick and contains
		75 percent or more visible ice.</p>
    </div>
    <div>
      <img src="img/aCrGEPVKRVqC6vVr3xM7_Glacistel.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.gilgaiMicrorrelieve()" id="capaGlCica-button626" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="capaGlCica-button627" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.glSsicoHorizonte()" id="capaGlCica-button628" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>