<ion-view title="Diagnostic soil characteristics" id="page631">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
	  Diagnostic soil characteristics are features of the soil that 
are used in various places in the keys or in the definitions of 
diagnostic horizons<br><br>
        <b>Characteristics diagnostic for mineral soils</b>
        <br>
        <br> •
        <a ui-sref="menu.cambioTexturalAbrupto">Abrupt textural change</a>
        <br> • <a ui-sref="menu.Lbico"> Albic materials</a>
		<br> •
        <a ui-sref="menu.Ndico">Andic soil properties</a>
		<br> •
        <a ui-sref="menu.anhidrasCondiciones">Anhydrous conditions</a>
		<br> • Coefficient of Linear Extensibility (COLE)
		<br> •
        <a ui-sref="menu.durinDulos">Durinodes</a>
		 <br> •
        <a ui-sref="menu.frGicasPropiedades">Fragic soil properties</a>
        <br> •
        <a ui-sref="menu.carbonatosSecundariosIdentificables">Identifiable secondary carbonates</a>
		<br> •
        <a ui-sref="menu.interdigitacionesDeMatLbicos">Interfingering of albic materials</a>
		<br> •
        <a ui-sref="menu.lamela">Lamellae</a>
		<br> • Linear Extensibility (LE)
		<br> •
        <a ui-sref="menu.discontinuidadLitolGica">Lithologic discontinuities</a>
		<br> •
        <a ui-sref="menu.valorN"> n Value</a>
        <br> •
        <a ui-sref="menu.petrofRricoContacto">Petroferric Contact</a>
		<br> •
        <a ui-sref="menu.plintita">Plinthite</a>
		<br> • Resistant Minerals
		<br> •
        <a ui-sref="menu.slickensides">Slickensides</a>
		<br> •
		<a ui-sref="menu.spDicosMateriales">Spodic materials</a>
        <br> • Weatherable Minerals
        
        
        
       
        
        
        <br>


        <br>
      </p>
      <hr>
      <b>Characteristics diagnostic for organic soils</b>
      <br>
      <br> ◾&nbsp;
      <u>Kinds of organic soil materials:</u>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Fibers
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;
      <a ui-sref="menu.fBricosMateriales">Fibric soil materials</a>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;
      <a ui-sref="menu.hMicoMaterial">Hemic soil materials</a>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;
      <a ui-sref="menu.sPricosMateriales">Sapric soil materials</a>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;
      <a ui-sref="menu.humilVicosMateriales">Humilluvic materials</a>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Limnic materials
      <br>
      <br> ◾&nbsp;
      <u>Thickness of organic soil materials</u>
      <br>
      <br>
      <hr>
      <b>Horizons and characteristics diagnostic for both mineral and organic soils</b>
      <br>
	  <br> •
      <a ui-sref="menu.Cuico">Aquic Conditions</a>
	  <br> •
      <a ui-sref="menu.crioturbaciN">Cryoturbation</a>
	  <br> •
      <a ui-sref="menu.contactoDNsico">Densic contact</a>
	  <br> • Densic materials
	  <br> •
      <a ui-sref="menu.materialesGLicos">Gelic materials</a>
      <br> •
      <a ui-sref="menu.capaGlCica">Glacic layer</a>
      <br> •
      <a ui-sref="menu.contactoLTico">Lithic contact</a>
      <br> •
      <a ui-sref="menu.contactoParalTico">Paralithic contact</a>
      <br> • Paralithic materials
	  <br> •
      <a ui-sref="menu.permafrost">Permafrost</a>
	  <br> •
      <a ui-sref="menu.regMenesDeHumedadDeSuelo">Soil moisture regimes</a>
      <br> • <a ui-sref="menu.regMenesDeTemperaturaDeSuelo">Soil temperature regimes</a>
      <br> •
      <a ui-sref="menu.sulfDicosMateriales">Sulfidic materials</a>
	  <br> •
      <a ui-sref="menu.sulfRicoHorizonte">Sulfuric horizon</a>
     
      
      
      <br>
      <p></p>
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.horizontesYCaracterSticasDeDiagnStico()" id="sphagnum-button836" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" id="sphagnum-button837" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
	<a ui-sref="menu.endopedones()" id="sphagnum-button838" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
	</div>
  </ion-footer-bar>
</ion-view>