<ion-view title="Identifiable secondary carbonates" id="page532">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">Translocated authigenic calcium carbonate that has been precipitated in
place from the soil solution rather than inherited from a soil parent material, such as a calcareous <a ui-sref="menu.loess">loess</a> or <a ui-sref="menu.till">till</a>.
         
        Identifiable secondary carbonates either may disrupt the soil
structure or fabric, forming masses, nodules, <a ui-sref="menu.concrecionesCalcReas">concretions</a>, or
spheroidal aggregates  that are soft and powdery
when dry, or may be present as coatings in pores, on structural
faces, or on the undersides of rock or pararock fragments.
          </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.hipertRmico()" id="carbonatosSecundariosIdentificables-button629" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="carbonatosSecundariosIdentificables-button630" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.iluviaciNIluvial()" id="carbonatosSecundariosIdentificables-button631" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>