<ion-view title="Free carbonates" id="page612">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">Soil carbonates that are uncoated or unbound and that effervesce visibly or audibly when treated with cold, dilute HCl.
        <br> The term “free carbonates” is nearly synonymous with the term “calcareous.” Soils that have free carbonates generally have calcium carbonate as a common mineral, although sodium and magnesium carbonates are also 
        included in this concept.
        <br>There is no implication of pedogenesis in the concept of free carbonates, as there is in 
        <a ui-sref="menu.carbonatosSecundariosIdentificables">identifiable secondary carbonates</a>.</p>
    </div>
      
<div>
<img src="img/CarbonatosSecundariosDispersos.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
</div> 
	  <div>
      <p><em>A drop of dilute HCl applied to a soil sample is widely used as a quick test to confirm the presence of carbonate</em></p>
	         </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.fragipN()" id="carbonatosLibres-button894" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
     <a ui-sref="menu.glosario()" id="carbonatosLibres-button895" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
     <a ui-sref="menu.frGido()" id="carbonatosLibres-button896" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>
