<ion-view title="Identifiable secondary carbonates" id="page532">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">Identifiable secondary carbonates are forms of calcium carbonate in the soil that are the result of pedogenic processes.
        		Forms include masses, nodules, <a ui-sref="menu.concrecionesCalcReas">concretions</a>, coatings on peds or in pores, filaments in the soil matrix, 
				and pendants on the undersides of rock fragments.The feature must be thick enough to be
				visible even when moist, generally about 1 mm or more in size.</p>
	
	</div>
       
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
<a ui-sref="menu.capaGlCica()" id="carbonatosSecundarios-button629" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="carbonatosSecundarios-button630" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.conductividadElCtrica()" id="carbonatosSecundarios-button631" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>