<ion-view title="Cementation" id="page613">
  <ion-content padding="true" class="has-header">
    <p align="justify">
     Cementation is a process that hardens layers of a soil. 
	 The cemented layer is physically rootrestrictive. <br> The predominant cementing agents are calcium carbonates, silica, iron, gypsum or salts more soluble than gypsum.
	</p>
	<div>
	<img src="img/Cementacion.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
	</div> 
	<p align="center"><small>This profile has a series of layers a few centimeters thick that are cemented by silica<br>Image: USDA</small></p> 
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.cIC()" id="cementaciN-button858" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" id="cementaciN-button859" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
	<a ui-sref="menu.cromaChroma()" id="cementaciN-button860" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
	</div>
  </ion-footer-bar>
</ion-view>
