<ion-view title="Cation-exchange capacity" id="page610">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>
        <u>Cation-exchange capacity (CEC)</u>
      </b>
      <br> It is the number of cmol(+) capable of being adsorbed by 1 kg of soil. 
			That is to say, it is the sum of the positive charges that, in the form of cations of change, can adsorb a soil.
      <br> Because its value depends on the pH, it usually refers to the value determined at pH 7.

      <br>
      <br>
      <b>
        <u>Effective CEC (ECEC)</u>
      </b>
      <br> When CEC measurement is done at the native soil pH.
      <br>
	    <br> 
      <b>
	 <u>Apparent CEC</u>
	   </b>
	   <br> 
	 This value is derived by dividing a CEC value of a whole soil sample by the percentage of clay in the sample.
It is used to definde <a ui-sref="menu.XicoHorizonte">oxic</a> and <a ui-sref="menu.kNdicoHorizonte">kandic</a> horizons.
    </p>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.concrecionesCalcReas()" id="cIC-button864" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" id="cIC-button865" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
	<a ui-sref="menu.cementaciN()" id="cIC-button866" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
	</div>
  </ion-footer-bar>
</ion-view>