<ion-view title="Clasification" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="clasificaciN-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">
        <strong>Soil Orders</strong>
      </p>
    </div>
    <a ui-sref="menu.gelisoles()" id="clasificaciN-button1" class="button button-positive button-block">Gelisols</a>
    <a ui-sref="menu.histosoles()" id="clasificaciN-button6" class="button button-positive button-block">Histosols</a>
    <a ui-sref="menu.spodosoles()" id="clasificaciN-button7" class="button button-positive button-block">Spodosols</a>
    <a ui-sref="menu.andisoles()" id="clasificaciN-button9" class="button button-positive button-block">Andisols</a>
    <a ui-sref="menu.oxisoles()" id="clasificaciN-button8" class="button button-positive button-block">Oxisols</a>
    <a ui-sref="menu.vertisoles()" id="clasificaciN-button11" class="button button-positive button-block">Vertisols</a>
    <a ui-sref="menu.aridisoles()" id="clasificaciN-button12" class="button button-positive button-block">Aridisols</a>
    <a ui-sref="menu.ultisoles()" id="clasificaciN-button13" class="button button-positive button-block">Ultisols</a>
    <a ui-sref="menu.molisoles()" id="clasificaciN-button14" class="button button-positive button-block">Mollisols</a>
    <a ui-sref="menu.alfisoles()" id="clasificaciN-button15" class="button button-positive button-block">Alfisols</a>
    <a ui-sref="menu.inceptisoles()" id="clasificaciN-button16" class="button button-positive button-block">Inceptisols</a>
    <a ui-sref="menu.entisoles()" id="clasificaciN-button17" class="button button-positive button-block">Entisols</a>
  </ion-content>
</ion-view>