<ion-view title="Key to the epipedons" id="page519">
  <ion-content padding="true" class="has-header">
    <p>
      This is a simplified key to identify epipedons.
      <br> It should not be used as a definition of the required characteristics for an epipedon.
    </p>
    <div>
      <img src="img/VKICr8BgSIe6ZhxxCgME_ClavesEpipedones.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="claveEpipedones-markdown103" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:10px;">
        <em>Adapted from: Sabine Grunwald (https://soils.ifas.ufl.edu/faculty/grunwald/teaching/eSoilScience/organic.shtml)
        </em>
      </p>
    </div>
  </ion-content>
</ion-view>