<ion-view title="Calcic horizon" id="page528">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">
        The calcic horizon is a subsoil horizon with a significant illuvial accumulation
		of calcium carbonate, whose evidence is either the presence of secondary forms, such as
		masses, threads coatings, pendants, or <a ui-sref="menu.concrecionesCalcReas">concretions</a>, or nodules, or a <a ui-sref="menu.caCO3Equivalente">Calcium carbonate equivalent</a> that is higher than that of the underlying horizon.</p>
		
		<u>Generalized Characteristics</u><br>
		&nbsp&nbsp&nbsp1) Thickness is > 15 cm.<br>
		&nbsp&nbsp&nbsp2) <a ui-sref="menu.caCO3Equivalente">Calcium carbonate equivalent</a> is > 15% (or > 5% if the horizon has < 18% clay and > 15% sand) and horizon either:<br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbspa. Is 5% higher by weight (absolute) than an underlying horizon, or<br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbspb. Has > 5%, by volume, visible <a ui-sref="menu.carbonatosSecundariosIdentificables">secondary CaCO<sub>3</sub></a> forms <br>
		&nbsp&nbsp&nbsp3) Horizon has no (or minimal) <a ui-sref="menu.cementaciN">cementation</a>.
    </div>
    <div>
      <img src="img/n7xymiO1TCeBvIOlF2mY_Calciustol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
         
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.caCO3Equivalente()" id="cLcicoHorizonte-button617" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="cLcicoHorizonte-button618" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.cMbicoHorizonte()" id="cLcicoHorizonte-button619" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>