<ion-view title="Cambic horizon" id="page529">
  <ion-content padding="true" class="has-header">
    <div>
     <p align="justify">A cambic horizon is the result of physical alterations,
		chemical transformations, or removals or of a combination of
		two or more of these processes.<br><br>
	  <u>Generalized Characteristics:</u><br>
	  &nbsp&nbsp&nbsp1)Thickness is > 15 cm.<br>
	  &nbsp&nbsp&nbsp2)Has a <a ui-sref="menu.textura">texture</a> class of very fine sand, loamy very fine sand, or finer.<br>
	  &nbsp&nbsp&nbsp3)Horizon has evidence of alteration (pedogenesis) as follows:<br>
		 &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp a- Soil structure (or at least loss of rock structure in > 50% of the
		volume), and<br>
		 &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp b- In wet soils (those periodically saturated within 50 cm of the soil
surface):<br>
		 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp Gray colors (low <a ui-sref="menu.cromaChroma">chroma</a>) or low <a ui-sref="menu.cromaChroma">chroma</a> colors and redox concentrations(reddish <a ui-sref="menu.rasgosRedoximRficos">mottles</a>).<br>
		  &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp c- In “non-wet” soils <br>
		  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp i. When compared to the horizon above or below:<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp 1. Higher <a ui-sref="menu.value">value</a> or <a ui-sref="menu.cromaChroma">chroma</a>, or<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp 2. Redder <a ui-sref="menu.hue">hue</a>, or<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp 3. Higher clay content, or<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp ii. Carbonates or gypsum have been removed.<br>
	 The cambic horizon cannot also meet the requirements for an <a ui-sref="menu.antrPicoHorizonte">anthropic</a>,
<a ui-sref="menu.hSticoHorizonte">histic</a>, <a ui-sref="menu.folSticoEpipedN">folistic</a>, <a ui-sref="menu.melNicoHorizonte">melanic</a>, 
<a ui-sref="menu.mLicoHorizonte">mollic</a>, <a ui-sref="menu.plGenoPlaggenHorizonte">plaggen</a>, or 
<a ui-sref="menu.MbricoHorizonte">umbric</a> epipedon; for a <a ui-sref="menu.duripN">duripan</a> or
<a ui-sref="menu.fragipN">fragipan</a>; or for an <a ui-sref="menu.argLicoHorizonte">argillic</a>, <a ui-sref="menu.cLcicoHorizonte">calcic</a>, 
<a ui-sref="menu.gypsicoHorizonte">gypsic</a>, <a ui-sref="menu.nTricoHorizonte">natric</a>, <a ui-sref="menu.XicoHorizonte">oxic</a>, 
<a ui-sref="menu.petrocLcicoHorizonte">petrocalcic</a>, <a ui-sref="menu.petrogPsicoHorizonte">petrogypsic</a>,
<a ui-sref="menu.plCicoHorizonte">placic</a>, <a ui-sref="menu.sLicoHorizonte">salic</a>, <a ui-sref="menu.spDicoHorizonte">spodic</a>, 
or <a ui-sref="menu.sulfRicoHorizonte">sulfuric</a> subsoil horizon.	 
  
	   </p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.cLcicoHorizonte()" id="cMbicoHorizonte-button620" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="cMbicoHorizonte-button621" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.concrecionesCalcReas()" id="cMbicoHorizonte-button622" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>