<ion-view title="Electrical Conductivity" id="page533">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">The electrical conductivity (EC) of a solution is the ability to 
	  conduct electrical current. It is related to the presence of salts, whose dissociation 
	  generates positive and negative ions capable of transporting electrical energy if the 
	  liquid is subjected to an electric field. That is why the EC of soil-water mixtures estimates 
	  the amount of salts present in the soil. <br> One of the units used to measure the EC is the dS/m (deciSiemens/meter).</p>
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.duripN()" id="conductividadElCtrica-button632" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="conductividadElCtrica-button633" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.eluviaciNEluvial()" id="conductividadElCtrica-button634" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp;</a>
    </div>
  </ion-footer-bar>
</ion-view>