<ion-view title="Paralithic contact" id="page538">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <p align="justify"> Contact between unconsolidated soil material and the
underlying root-restrictive soft bedrock (paralithic materials).
        <br>Cracks that allow penetration by roots are spaced more than 10 cm apart. <br>The
		underlying bedrock is soft enough to make hand digging possible, although it
		may be difficult.
        <br>
        <br>
        <u>
          <b>Paralithic materials</b>
        </u>
        <br>Cementation, bulk density, and the organization of these materials
		are such that roots cannot enter, except in cracks.
		<br>Commonly, these materials are partially
		weathered bedrock or weakly consolidated bedrock, such as
		sandstone, siltstone, or shale.</p>
    </div>
    <div>
      <img src="img/i2isqA74TiqcgiKny5dH_Argiustolconcontactoparaltico.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.XicoHorizonte()" id="contactoParalTico-button647" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="contactoParalTico-button648" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.secciNDeControlDeTamaODePartCulas()" id="contactoParalTico-button649" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>