<ion-view title="Densic contact" id="page601">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">The contact between unconsolidated soil material and the
		underlying root-restrictive, dense, compact materials (densic materials). <br> Densic materials are noncemented.
        <br> Densic materials have, at their upper boundary, a densic
		contact if they have no cracks or if the spacing of cracks that
		roots can enter is 10 cm or more.
        <br>

      <p></p>
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.crioturbaciN()" id="contactoDNsico-button641" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="contactoDNsico-button642" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.horizontesYCaracterSticasDeDiagnStico()" id="contactoDNsico-button643" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>