<ion-view title="Lithic contact" id="page537">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The lithic contact is the boundary between unconsolidated soil material and
		the underlying root-restrictive hard bedrock. Any cracks that allow penetration
		by roots are spaced more than 10 cm apart.</p>
    </div>
    <div>
      <img src="img/5DSgPYOQ5S9VByEYlaQz_Contactoltico.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.lamela()" id="contactoLTico-button644" style="font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="contactoLTico-button645" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.discontinuidadLitolGica()" id="contactoLTico-button646" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>