<ion-view title="Cryaquolls" id="page326">
  <ion-content padding="true" class="has-header">
    <div>
      <p> <a ui-sref="menu.crIco">Cryic</a> soil temperature regime. </p>
      <hr>
    </div>
    <div>
    <img src="img/Criacuol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div> 
     <p align="center"><small>Image: John A. Kelley</small></p> 
    <div id="criacuoles-markdown561" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Mollisols</strong>
      </h5>

      <ul>
        <li>Aquolls
          <ul>
            <li>Cryacuolls</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
