<ion-view title="Cryands" id="page110">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.crIco">Cryic</a> soil temperature regime (cold soil temperature).
      </p>
      <hr>
    </div>
    <div>
      <img src="img/PVb1XUeSB6FpAyZyKe0s_Haplocriand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="criandes-markdown164" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil a Cryand?</p>
    </div>
    <div id="criandes-button-bar28" class="button-bar">
      <a ui-sref="menu.subRdenesAndisoles()" id="criandes-button155" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposCriandes()" id="criandes-button156" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>