<ion-view title="Ochric horizon" id="page566">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> A more or less minimally developed surface horizon, typically thin or
		light colored, that does not meet the criteria for any other <a ui-sref="menu.epipedN">epipedon</a>.<br>
		
		The ochric epipedon fails to meet the definitions for any of
		the other seven <a ui-sref="menu.epipedN">epipedons</a> because it is too thin or too dry, has
		too high a color value or <a ui-sref="menu.cromaChroma">chroma</a>, contains too little organic
		carbon, has too high <a ui-sref="menu.valorN"> n value</a> or <a ui-sref="menu.NdiceMelNico">melanic index</a>, or is both
		massive and hard or harder when dry.</p>
    </div>
       
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.nTricoHorizonte()" id="CricoHorizonte-button749" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="CricoHorizonte-button750" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.orden()" id="CricoHorizonte-button751" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>