<ion-view title="Cryoturbation" id="page540">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Cryoturbation is the mixing of the soil as a result of intense frost churning due
		to freeze-thaw cycles.<br>
		Evidence of cryoturbation includes:<br>
&nbsp &nbsp &nbsp &nbsp a. Irregular or broken horizons.<br>
&nbsp &nbsp &nbsp &nbsp b. Involutions.<br>
&nbsp &nbsp &nbsp &nbsp c. Organic matter accumulation on the <a ui-sref="menu.permafrost">permafrost</a> table.<br>
&nbsp &nbsp &nbsp &nbsp d. Orientated rock fragments.<br>
&nbsp &nbsp &nbsp &nbsp e. Silt caps on rock fragments.
	 </p>
    </div>
    <div>
      <img src="img/98O86o5VSUa46MoHD9ey_Haploturbel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.crIco()" id="crioturbaciN-button659" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="crioturbaciN-button660" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.contactoDNsico()" id="crioturbaciN-button661" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>