<ion-view title="Cryofluvents" id="page500">
  <ion-content padding="true" class="has-header">
    <div>
      <p> <a ui-sref="menu.crIco">Cryic</a> soil temperature regime. </p>
      <hr>
    </div>
    <div>
    <img src="img/Criofluvent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div> 
    <p align="center"><small>Image: John A. Kelley</small></p> 
    <div id="criofluventes-markdown884" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Fluvents
          <ul>
            <li>Cryofluvents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
