<ion-view title="Chroma" id="page614">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Chroma is one of three varables that define soil color, is the saturation of the color (how weak or strong is a color). 
	  Brighter colors have higher numbers.
	  
    </p>
    <div>
      <img src="img/h4OS3B9QRHyBTz7rRHfo_Munsellcolorsystem.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <font size="-2">
        Image from Wikipedia</font>
    </p>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.cementaciN()" id="cromaChroma-button867" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" id="cromaChroma-button868" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
	<a ui-sref="menu.crIco()" id="cromaChroma-button869" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
	</div>
  </ion-footer-bar>
</ion-view>