<ion-view title="Aquic" id="page516">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        <b>Aquic soil moisture regime:</b>
        <br> A reducing regime for soils that are free of dissolved oxygen and water
		<a ui-sref="menu.saturaciNAgua">saturated</a> when the soil temperature is above 5 °C (seasonal ground-water
		fluctuations are typical).<br> Unlike other regimes, the aquic regime may occur
		temporarily for only a few days. Since this regime is not defined on an annual
		basis, some soils with an aquic moisture regime also have a xeric, ustic, or
		aridic (torric) soil moisture regime.

      </p>
      <hr>
      <p></p>
      <p align="justify">
        <b>Aquic conditions:</b>
        <br> Aquic conditions are characterized by <a ui-sref="menu.saturaciNAgua">saturation</a> that is of long enough
		duration to result in the depletion of oxygen by microbes, thus becoming anaerobic. Elements like iron and manganese are reduced and they
		become mobile and move in solution within the soil. When these elements reach oxygenated areas (peds faces, pores etc.), the ions are
		returned to their oxidized state
		(i.e., they lose an electron) and are immobilized. This process is marked by
		the formation of <a ui-sref="menu.rasgosRedoximRficos">redoximorphic features</a> in the soil.
		</p>
    </div>
	</ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.antrPicoHorizonte()" id="Cuico-button587" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" id="Cuico-button588" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.argLicoHorizonte()" id="Cuico-button589" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>