<ion-view title="Wedge-shaped" id="page596">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Wedge-shaped peds.</p>
    </div>
    <div>
      <img src="img/wqCMF8VmQa62leCsrIQJ_Agregadocuneiforme.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.saturaciNAgua()" id="cuneiforme-button656" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="cuneiforme-button657" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.xRicoRGimenDeHumedad()" id="cuneiforme-button658" style="font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>