<ion-view title="Bulk density" id="page595">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Bulk density is calculated as the dry weight of soil divided by its volume. 
	  This volume includes the volume of soil particles and the volume of pores among soil particles. 
	  Bulk density is typically expressed in g/cm<sup>3</sup>.</p>
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.bioturbaciN()" id="densidadAparente-button665" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
     <a ui-sref="menu.glosario()" id="densidadAparente-button666" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
     <a ui-sref="menu.caCO3Equivalente()" id="densidadAparente-button667" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>