<ion-view title="Udic (soil moisture regime)" id="page589">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The predominantly moist regime for soils of humid climates with well
	distributed rainfall. In most years, the soil is dry (in any part of <a ui-sref="menu.secciNDeControlDeHumedad">soil moisture control section</a>) 
	for < 90 cumulative days.
	</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.tRricoRGimenDeHumedad()" id="DicoRGimenDeHumedad-button812" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="DicoRGimenDeHumedad-button813" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.MbricoHorizonte()" id="DicoRGimenDeHumedad-button814" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>