<ion-view title="Dystrudepts" id="page469">
  <ion-content padding="true" class="has-header">
    <div id="distrudeptes-markdown826" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Udepts.</p>
		<br> <a ui-sref="menu.saturaciNConBases">Base saturation</a> of < 60% in all horizons at a depth between 25 and 75 cm from the
			mineral soil surface AND a lack of free
carbonates within a depth of 200 cm.
      <hr>
    </div>
    <div>
      <img src="img/JgVsOrZVSDSFyglP0n9x_Distrudept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="distrudeptes-markdown827" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Udepts
          <ul>
            <li>Dystrudepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>