<ion-view title="Dystruderts" id="page224">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
		The pH is < 4.5 in 0.01 M CaCl<sub>2</sub> (5.0 or less in 1:1 water). <a ui-sref="menu.conductividadElCtrica">Electrical conductivity</a>
		 in the saturation extract is < 4.0 dS/m. The pH and salinity
		criteria must be met in at least 25 cm of the upper 50 cm.
        

      </p>
      
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/AJFt21uHTyOVO3PHzXxG_Distrudert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="distrudertes-markdown372" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Uderts
          <ul>
            <li>Dystruderts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>