<ion-view title="Dystroxerepts" id="page460">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Lack of <a ui-sref="menu.carbonatosLibres">free carbonates</a> within a depth of 200 cm. </li>
        <li>• <a ui-sref="menu.saturaciNConBases">Base saturation</a>  of < 60% in the upper 75 cm.</li>
      </ul>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="distroxereptes-markdown810" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Xerepts
          <ul>
            <li>Dystroxerepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>