<ion-view title="Dystraquerts" id="page202">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Very strongly acid pH (and low salinity) in the upper
		50 cm.<br> The pH is < 4.5 in 0.01 M CaCl<sub>2</sub> (5.0 or less in 1:1 water). Electrical
		conductivity in the saturation extract is < 4.0 dS/m. The pH and salinity
		criteria must be met in at least 25 cm of the upper 50 cm.
		
     
      <hr>
    </div>
    <div>
      <img src="img/XseOIg1fQrSPHgVpXPKo_Distracuert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="distracuertes-markdown333" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Aquerts
          <ul>
            <li>Dystraquerts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>