<ion-view title="Duritorrands" id="page138">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        Torrands that have, in 75 percent or more of each pedon,
		a cemented horizon within 100 cm of the mineral soil surface
		or of the top of an organic layer with <a ui-sref="menu.Ndico">andic soil properties</a>,
		whichever is shallower.</p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="duritorrandes-markdown212" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Torrands
          <ul>
            <li>Duritorrands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>