<ion-view title="Duripan" id="page543">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The duripan is a root-restrictive subsoil layer that is primarily <a ui-sref="menu.cementaciNwefwe">cemented</a> by
		illuvial silica. Other cementing agents, such as calcium carbonate, may also
		be present.<br><br>
		<b>Generalized Characteristics</b><br>
&nbsp &nbsp &nbsp1) More than 50% of the layer is cemented with illuvial silica.<br>
&nbsp &nbsp &nbsp2) The slake test (air dry in 1N HCl) results in < 50% dissolution of cemented
fragments.<br>
		</p>
    </div>
    <div>
      <img src="img/88l1Tef1Tcai1r0v1PkP_Duripan.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
	  <p align="center"><small>Image: Soil Survey Staff (NRCS-USDA)</small></p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.durinDulos()" id="duripN-button662" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="duripN-button663" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.conductividadElCtrica()" id="duripN-button664" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>
