<ion-view title="Durinodes" id="page542">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Durinodes (L. durus, hard, and nodus, knot) are weakly
		cemented to indurated nodules or concretions with a diameter
		of 1 cm or more. The cement is SiO<sub>2</sub>, presumably opal and
		microcrystalline forms of silica.
        <br>Dry durinodes do not slake appreciably in water, but prolonged
soaking can result in spalling of very thin platelets.</p>
    </div>
        
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.endopedones()" id="durinDulos-button677" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="durinDulos-button678" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.duripN()" id="durinDulos-button679" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>