<ion-view title="Durorthods" id="page103">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        With a <a ui-sref="menu.duripN"> duripan</a> within 100 cm of the mineral soil surface. </p>
      <hr>
    </div>
    <div>
      <img src="img/IoBCY9BgRQKLgkdJM8X7_Duriorthod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="durortodes-markdown151" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododols</strong>
      </h5>

      <ul>
        <li>Orthods
          <ul>
            <li>Durorthods</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>