<ion-view title="Elementos formativos Suborden" id="page626">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        #table1 {
          font-family: bahnschrift, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 2px solid #476b6b;
          text-align: center;
          padding: 7px;
        }
        
        tr:nth-child(even) {
          background-color: #b3cccc;
        }
      </style>



      <h4>Formative Elements in Names of Soil <u>Suborders</u>
         </h4>

      <table id="table1">
        <tbody>
          <tr>
            <th>
              <b>FORMATIVE
                <br>ELEMENT</b>
            </th>
            <th>
              <b>CONNOTATION</b>
            </th>
          </tr>
          <tr>
            <td>alb</td>
            <td>Presence of albic horizon</td>
          </tr>
          <tr>
            <td>anthr</td>
            <td> Modified by humans</td>
          </tr>
          <tr>
            <td>aqu</td>
            <td>Aquic conditions</td>
          </tr>
          <tr>
            <td>ar</td>
            <td>Mixed horizons</td>
          </tr>
          <tr>
            <td>arg</td>
            <td>Presence of argillic horizon</td>
          </tr>
          <tr>
            <td>calc</td>
            <td>Presence of a calcic horizons</td>
          </tr>
          <tr>
            <td>camb</td>
            <td>Presence of a cambic horizon</td>
          </tr>
          <tr>
            <td>cry</td>
            <td>Cold</td>
          </tr>
          <tr>
            <td>dur</td>
            <td>Presence of a duripan</td>
          </tr>
          <tr>
            <td>fibr</td>
            <td>Least decomposed stage</td>
          </tr>
          <tr>
            <td>fluv</td>
            <td>Flood plain</td>
          </tr>
          <tr>
            <td>fol</td>
            <td>Mass of leaves</td>
          </tr>
          <tr>
            <td>gyps</td>
            <td>Presence of a gypsic horizon</td>
          </tr>
          <tr>
            <td>hem</td>
            <td>Intermediate stage of decomposition</td>
          </tr>
          <tr>
            <td>hist</td>
            <td>Presence of organic materials</td>
          </tr>
          <tr>
            <td>hum</td>
            <td>Presence of organic matter</td>
          </tr>
          <tr>
            <td>orth</td>
            <td>The common ones</td>
          </tr>
          <tr>
            <td>per</td>
            <td>Perudic moisture regime</td>
          </tr>
          <tr>
            <td>psamm</td>
            <td>Sandy texture</td>
          </tr>
          <tr>
            <td>rend</td>
            <td>High carbonate content</td>
          </tr>
          <tr>
            <td>sal</td>
            <td>Presence of a salic horizon</td>
          </tr>
          <tr>
            <td>sapr</td>
            <td>Most decomposed stage</td>
          </tr>
          <tr>
            <td>torr</td>
            <td>Torric moisture regime</td>
          </tr>
          <tr>
            <td>turb</td>
            <td>Presence of cryoturbation</td>
          </tr>
          <tr>
            <td>ud</td>
            <td>Udic moisture regime</td>
          </tr>
          <tr>
            <td>ust</td>
            <td>Ustic moisture regime</td>
          </tr>
          <tr>
            <td>vitr</td>
            <td>Presence of glass</td>
          </tr>
          <tr>
            <td>xer</td>
            <td>Xeric moisture regime</td>
          </tr>

        </tbody>
      </table>

    </div>
    <div>
      <br>
      <hr>
    </div>
  </ion-content>
</ion-view>