<ion-view title="Formative Elements in Names of Soil GG" id="page627">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        table {
          font-family: bahnschrift, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #661aff;
          text-align: center;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color:  #ccb3ff;
        }
      </style>



      <h4>Formative Elements in Names of Soil <u>Great Groups</u>
      </h4>

      <table>
        <tbody>
          <tr>
            <th>FORMATIVE
              <br>ELEMENT</th>
            <th>CONNOTATION</th>
          </tr>
          <tr>
            <td>Acr</td>
            <td>Extreme weathering</td>
          </tr>
          <tr>
            <td>Al</td>
            <td>High aluminum, low iron</td>
          </tr>
          <tr>
            <td>Alb</td>
            <td>An albic horizon</td>
          </tr>
          <tr>
            <td>Anhy</td>
            <td>Very dry</td>
          </tr>
          <tr>
            <td>Anthr</td>
            <td>An anthropic epipedon</td>
          </tr>
          <tr>
            <td>Aqu</td>
            <td>Aquic conditions</td>
          </tr>
          <tr>
            <td>Argi</td>
            <td>Presence of an argillic horizon</td>
          </tr>
          <tr>
            <td>Calci / Calc</td>
            <td>A calcic horizon</td>
          </tr>
          <tr>
            <td>Cry</td>
            <td>Cold</td>
          </tr>
          <tr>
            <td>Dur</td>
            <td>A duripan</td>
          </tr>
          <tr>
            <td>Dystr / Dys</td>
            <td>Low base saturation</td>
          </tr>
          <tr>
            <td>Endo</td>
            <td>Implying a ground water table</td>
          </tr>
          <tr>
            <td>Epi</td>
            <td>Implying a perched water table</td>
          </tr>
          <tr>
            <td>Eutr</td>
            <td>High base saturation</td>
          </tr>
          <tr>
            <td>Ferr</td>
            <td>Presence of iron</td>
          </tr>
          <tr>
            <td>Fibr</td>
            <td>Least decomposed stage</td>
          </tr>
          <tr>
            <td>Fluv</td>
            <td>Flood plain</td>
          </tr>
          <tr>
            <td>Fol</td>
            <td>Mass of leavess</td>
          </tr>
          <tr>
            <td>Fragi</td>
            <td> Presence of fragipan</td>
          </tr>
          <tr>
            <td>Fragloss</td>
            <td>See the formative elements "frag" and "gloss"</td>
          </tr>
          <tr>
		  <td>Frasi</td>
            <td>Not salty</td>
          </tr>
          <tr>
            <td>Fulv</td>
            <td>Dark brown color, presence of organic carbon</td>
          </tr>
          <tr>
            <td>Glac</td>
            <td>Ice lenses or wedges</td>
          </tr>
          <tr>
            <td>Gyps</td>
            <td>Presence of gypsic horizon</td>
          </tr>
          <tr>
            <td>Gloss</td>
            <td>Presence of a glossic horizon</td>
          </tr>
          <tr>
            <td>Hal</td>
            <td>Salty</td>
          </tr>
          <tr>
            <td>Hapl</td>
            <td>Minimum horizon development</td>
          </tr>
          <tr>
            <td>Hem</td>
            <td>Intermediate stage of decomposition</td>
          </tr>
          <tr>
            <td>Hist</td>
            <td> Presence of organic materials</td>
          </tr>
          <tr>
            <td>Hum</td>
            <td>Presence of organic matter</td>
          </tr>
          <tr>
            <td>Hidr</td>
            <td>Presence of water</td>
          </tr>
          <tr>
            <td>Kand / Kan</td>
            <td>1:1 layer silicate clays</td>
          </tr>
          <tr>
            <td>Luv</td>
            <td>Illuvial</td>
          </tr>
          <tr>
            <td>Melan</td>
            <td>Black, presence of organic carbon</td>
          </tr>
          <tr>
            <td>Moll</td>
            <td>Presence of a mollic epipedon</td>
          </tr>
          <tr>
            <td>Natr</td>
            <td>Presence of natric horizon</td>
          </tr>
          <tr>
            <td>Pale</td>
            <td>Excessive development</td>
          </tr>
          <tr>
            <td>Petr</td>
            <td>A cemented horizon</td>
          </tr>
          <tr>
            <td>Plac</td>
            <td>Presence of thin pan</td>
          </tr>
          <tr>
            <td>Plagg</td>
            <td>Presence of plaggen epipedon</td>
          </tr>
          <tr>
            <td>Plinth</td>
            <td>Presence of plinthite</td>
          </tr>
          <tr>
            <td>Psamm</td>
            <td>Sandy texture</td>
          </tr>
          <tr>
            <td>Quartz</td>
            <td>High quartz content</td>
          </tr>
          <tr>
            <td>Rhod</td>
            <td>Dark red color</td>
          </tr>
          <tr>
            <td>Sal</td>
            <td>Presence of salic horizon</td>
          </tr>
          <tr>
            <td>Sapr</td>
            <td>Most decomposed stage</td>
          </tr>
          <tr>
            <td>Somb</td>
            <td>Presence of sombric horizon</td>
          </tr>
          <tr>
            <td>Sphagn</td>
            <td>Presence of Sphagnum</td>
          </tr>
          <tr>
            <td>Sulf</td>
            <td>Presence of sulfides or their oxidation products</td>
          </tr>
          <tr>
            <td>Torr</td>
            <td>Torric moisture regime</td>
          </tr>
          <tr>
            <td>Ud</td>
            <td>Udic moisture regime</td>
          </tr>
          <tr>
            <td>Umbr</td>
            <td>Presence of umbric epipedon</td>
          </tr>
          <tr>
            <td>Ust</td>
            <td>Ustic moisture regime</td>
          </tr>
          <tr>
            <td>Verm</td>
            <td>Wormy, or mixed by animals</td>
          </tr>
          <tr>
            <td>Vitr</td>
            <td>Presence of glass</td>
          </tr>
          <tr>
            <td>Xer</td>
            <td>Xeric moisture regime</td>
          </tr>
        </tbody>
      </table>


    </div>
    <div>
      <br>
      <hr>
    </div>
  </ion-content>
</ion-view>