<ion-view title="Eluviation / Eluvial" id="page638">
  <ion-content padding="true" class="has-header">
    <p align="justify">
	Eluviation is the loss of material (clay particles, organic matter, oxides of iron and aluminum etc.) from a horizon whether it be in solution
	or in suspension.
     
      <br> A horizon in a soil profile from which material has been removed is called Eluvial horizon.
    </p>
  </ion-content>
   </ion-footer-bar>
    <ion-footer-bar class="bar-light">
	<div class="button-bar">
		<a ui-sref="menu.conductividadElCtrica()" id="eluviaciNEluvial-button870" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" iid="eluviaciNEluvial-button871" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
	<a ui-sref="menu.epipedN()" id="eluviaciNEluvial-button872" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
	</div>
  </ion-footer-bar>
</ion-view>