<ion-view title="Endoaquerts" id="page204">
  <ion-content padding="true" class="has-header">
    <div id="endoacuertes-markdown336" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Aquerts.<br> 
	  Endosaturation (saturated throughout the profile).</p>

      <hr>
    </div>
    <div>
      <img src="img/Y59RYpuESeCf690DweOg_Endoacuert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="endoacuertes-markdown337" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Aquerts
          <ul>
            <li>Endoaquerts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>