<ion-view title="Diagnostic Subsurface Horizons" id="page629">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">This <a ui-sref="menu.horizontesYCaracterSticasDeDiagnStico">diagnostic horizons</a> form below the surface 
of the soil, although in some areas they form directly below a 
layer of leaf litter. They are composed of mineral soil material. 
They may be exposed at the surface by truncation of the soil. 
Some of these horizons are designated as B horizons by many, 
but not all, pedologists and others are generally designated as 
parts of A or E horizons.
        <br><br>
      </p>
      <b>
          <u>Diagnostic Subsurface Horizons List:</u>
        </b>

      </p>
      <table style="width:100%" textalign="center">
        <tbody>
          <tr>
            <td>•
              <a ui-sref="menu.Grico"> Agric</a>
            </td>
            <td>•
              <a ui-sref="menu.Lbico"> Albic</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.argLicoHorizonte">Argillic</a>
            </td>
            <td>•
              <a ui-sref="menu.cLcicoHorizonte">Calcic</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.cMbicoHorizonte">Cambic</a>
            </td>
            <td>•
              <a ui-sref="menu.eluviaciNEluvial">Duripan</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.fragipN">Fragipan</a>
            </td>
            <td>•
              <a ui-sref="menu.glSsicoHorizonte">Glossic</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.gypsicoHorizonte">Gypsic</a>
            </td>
            <td>•
              <a ui-sref="menu.kNdicoHorizonte">Kandic</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.nTricoHorizonte">Natric</a>
            </td>
            <td>•
              <a ui-sref="menu.orsteinHorizonte">Ortstein</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.XicoHorizonte">Oxic</a>
            </td>
            <td>•
              <a ui-sref="menu.petrocLcicoHorizonte">Petrocalcic</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.petrogPsicoHorizonte">Petrogypsic</a>
            </td>
            <td>•
              <a ui-sref="menu.plCicoHorizonte">Placic</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.sLicoHorizonte">Salic</a>
            </td>
            <td>•
              <a ui-sref="menu.sMbricoHorizonte">Sombric</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.spDicoHorizonte">Spodic</a>
            </td>
            <td>•
              <a ui-sref="menu.sulfRicoHorizonte">Sulfuric</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.caracterSticasDeDiagnStico()" id="sphagnum-button836" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" id="sphagnum-button837" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
	<a ui-sref="menu.durinDulos()" id="sphagnum-button838" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
	</div>
  </ion-footer-bar>
</ion-view>