<ion-view title="Entisols" id="page41">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Entisols are young soils with little or no soil profile development.<br>
		Entisols typically have little or no development of soil horizons, other than a
		slightly darkened <a ui-sref="menu.CricoHorizonte">ochric</a> (typically thin and/or light-colored) epipedon as a
		surface layer.
      </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider12" delegate-handle="slider12" id="entisoles-slider12" style="width:100%;height:300px;">
      <ion-slide-page id="entisoles-slide234">
        <div>
          <img src="img/nwMtCSxJS8Cxz5OrluwN_Udorthent.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="entisoles-slide235">
        <a title="Global distribution of Entisols" href="img/entisols-global-distribution.jpg"><img src="img/5Ou2bsfzQLmWCQtj5mBa_Entisoles_cr300centro.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
		  </a>
      </ion-slide-page>
      <ion-slide-page id="entisoles-slide258">
        <p align="center">Entisols distribution in Argentine Republic
          <img src="img/9mPkG0R6RqWLKaYer792_entisoles1y2.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Entisoles en Argentina">
          <br>
          <font color="green">• Dominant </font> &nbsp; &nbsp;
          <font color="purple"> • Secondary </font>
        </p>
      </ion-slide-page>
    </ion-slides>
    <div id="entisoles-markdown37" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">Is this soil an Entisol?</p>
    </div>
    <div id="entisoles-button-bar15" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="entisoles-button51" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesEntisoles()" id="entisoles-button52" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>