<ion-view title="Epiaquepts" id="page433">
  <ion-content padding="true" class="has-header">
    <div>
      <p><a ui-sref="menu.episaturaciN">Episaturation</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/WbOALGBbT0O6VECRPe5U_Epiacuept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="epiacueptes-markdown761" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Aquepts
          <ul>
            <li>Epiaquepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>