<ion-view title="Epiaqualfs" id="page385">
  <ion-content padding="true" class="has-header">
    <div>
      <p> <a ui-sref="menu.episaturaciN">Episaturation</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/D5Uj8Dr2QUm7oHoOw1Mt_Epiacualf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="epiacualfes-markdown671" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Aqualfs
          <ul>
            <li>Epiaqualfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>