<ion-view title="Epipedon" id="page544">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The epipedon (Gr. epi, over, upon, and pedon, soil) is a 
horizon that forms at or near the surface and in which most of 
the rock structure has been destroyed. It is darkened by organic 
matter or shows evidence of eluviation, or both.
        <br>
        <a ui-sref="menu.claveEpipedones">Here</a> you can check a simplified key to identify epipedons.
        <br>
        <br>
        <u>Epipedons:</u>
      </p>
      <ul>
        <li>•
          <a ui-sref="menu.antrPicoHorizonte">Anthropic</a>
        </li>
        <li>•
          <a ui-sref="menu.folSticoEpipedN">Folistic</a>
        </li>
        <li>•
          <a ui-sref="menu.hSticoHorizonte">Histic</a>
        </li>
        <li>•
          <a ui-sref="menu.melNicoHorizonte">Melanic</a>
        </li>
        <li>•
          <a ui-sref="menu.mLicoHorizonte">Mollic</a>
        </li>
        <li>•
          <a ui-sref="menu.CricoHorizonte">Ochric</a>
        </li>
        <li>•
          <a ui-sref="menu.plGenoPlaggenHorizonte">Plaggen</a>
        </li>
        <li>•
          <a ui-sref="menu.MbricoHorizonte">Umbric</a>
        </li>
      </ul>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.eluviaciNEluvial()" id="epipedN-button668" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="epipedN-button669" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.episaturaciN()" id="epipedN-button670" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>