<ion-view title="Episaturation" id="page545">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The soil is
        <a ui-sref="menu.saturaciNAgua">saturated</a> with water in one or more layers within 200 cm of the mineral soil surface and also has one or more unsaturated layers, with an upper 
boundary above a depth of 200 cm, below the <a ui-sref="menu.saturaciNAgua">saturated</a> layer.<br>
        The zone of saturation, i.e., the water table, is perched on top of a relatively impermeable layer.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.epipedN()" id="episaturaciN-button680" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="episaturaciN-button681" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.pSIPorcentajeSodioInterc()" id="episaturaciN-button682" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>