<ion-view title="Eutrudepts" id="page468">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li> • <a ui-sref="menu.saturaciNConBases">Base saturation</a> of > 60% in the upper 75 cm OR </li> 
        <li> • <a ui-sref="menu.carbonatosLibres">free carbonates</a> throughout the soil. </li>
        
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/h3iiNbHWQoKyPujViFdy_Eutrudept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="eutrudeptes-markdown825" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Udepts
          <ul>
            <li>Eutrudepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>