<ion-view title="Fibric soil materials" id="page602">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Fibric soil materials</b>
      <br> Fibric soil materials are organic soil materials that are only slightly
			decomposed. They have high amounts of fibers that can be identified as to
			their biological origin. <br>
			Three quarters or more of intact fibers remain after rubbing. <br>
			Fibric materials tend to be found in cool, moist environments with
			rates of decomposition relatively slow compared to the rate of organic matter
			accumulation.<br>
			Fibric soil materials generally have low bulk density (<~0.1 g/cm<sup>3</sup>) and a high water
			content when saturated.
	</p>
    <div>
      <img src="img/bO379HUgSzupKzyXvPil_MaterialfibricohemicoysapricoIGmod.jpg" style="display: block; height: 250px; margin-left: auto; margin-right: auto;">
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.arcillasExpansibles()" id="fBricosMateriales-button683" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="fBricosMateriales-button684" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.folSticoEpipedN()" id="fBricosMateriales-button685" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>