<ion-view title="Ferrudalfs" id="page414">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">Udalfs with <a ui-sref="menu.glSsicoHorizonte">glossic</a> horizon
         and in the <a ui-sref="menu.argLicoHorizonte">argillic</a> or <a ui-sref="menu.kNdicoHorizonte">kandic</a> horizon have
		 discrete nodules, 2.5 to 30 cm in diameter, that: <br>
			 &nbsp &nbsp &nbsp a. Are enriched with iron and extremely weakly
			cemented to indurated; and <br>
			 &nbsp &nbsp &nbsp b. Have exteriors with either a redder hue or a higher
			chroma than the interiors.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="ferrudalfes-markdown724" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Udalfs
          <ul>
            <li>Ferrudalfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>