<ion-view title="Fibristels" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Are predominantly composed of <a ui-sref="menu.fBricosMateriales">fibric soil materials</a> to a depth of 50 cm or more.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/xIjZ98QITjaRcQ94jEEm_Fibristel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fibristeles-markdown21" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisols</strong>
      </h5>

      <ul>
        <li>Histels
          <ul>
            <li>Fibristels</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>