<ion-view title="Fibrists" id="page47">
  <ion-content padding="true" class="has-header">
    <p>
      • Are predominantly composed of <a ui-sref="menu.fBricosMateriales">fibric soil materials</a> between depths of 30 and 90 cm.<br>
	  • Do not have a <a ui-sref="menu.sulfRicoHorizonte">sulfuric horizon</a> within 50 cm of the soil
surface; and<br>
	  • Do not have <a ui-sref="menu.sulfDicosMateriales">sulfidic materials</a> within 100 cm of the soil
      surface.
    </p>
    <div>
      <img src="img/nToc4qtlQ8SDI9ACnCeU_Criofibrist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fibristes-markdown48" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil a Fibrist?</p>
    </div>
    <div id="fibristes-button-bar18" class="button-bar">
      <a ui-sref="menu.subRdenesHistosoles()" id="fibristes-button77" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposFibristes()" id="fibristes-button78" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>