<ion-view title="Fluvents" id="page506">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Without a
          <a ui-sref="menu.contactoDNsico">densic</a>,
          <a ui-sref="menu.contactoLTico">lithic</a> or
          <a ui-sref="menu.contactoParalTico">paralithic</a> contact within 25 cm of the mineral soil surface.</li>
        <li>• Total thickness of 50 cm or more of human-transported material
			in the surface horizons, or a surface mantle of new soil material
			50 cm or more thick that is not derived from <a ui-sref="menu.aluvial">alluvial</a> deposition, and:</li>
			<li>• Have a slope of less than 25 percent.</li>
        <li>• Have one or both of the following: <br>
		&nbsp &nbsp &nbsp At a depth of 125 cm below the mineral soil surface,
		an organic-carbon content of 0.2 percent or more; or,</li>
        <li>&nbsp &nbsp &nbsp An irregular decrease in organic-carbon content between a depth of 25 cm and either
		a depth of 125 cm below the mineral soil surface or	a densic, lithic, or paralithic contact, whichever is
		shallower.</li>
		<li>• Have a soil temperature regime that is warmer than cryic</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/DfU1yo9hTBwoHcqzl5uW_Torrifluvent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fluventes-markdown895" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil a Fluvent?</p>
    </div>
    <div id="fluventes-button-bar80" class="button-bar">
      <a ui-sref="menu.subRdenesEntisoles()" id="fluventes-button575" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposFluventes()" id="fluventes-button576" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>