<ion-view title="Fluvaquents" id="page486">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Aquents that do not have a total thickness of
		50 cm or more of human-transported material in the surface
		horizons or a surface mantle of new soil material 50 cm or more
		thick that is not derived from alluvial deposition, and:
      </p>
      <ul>
        <li>• Have a slope of less than 25 percent.</li>
        <li>• Have one or both of the following: <br>
		&nbsp &nbsp &nbsp At a depth of 125 cm below the mineral soil surface,
		an organic-carbon content of 0.2 percent or more; or,</li>
        <li>&nbsp &nbsp &nbsp An irregular decrease in organic-carbon content between a depth of 25 cm and either
		a depth of 125 cm below the mineral soil surface or	a densic, lithic, or paralithic contact, whichever is
		shallower.</li>
      </ul>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/zPRKEqKdTmubGGmydoFQ_Fluvacuent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fluvacuentes-markdown858" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Aquents
          <ul>
            <li>Fluvaquents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>