<ion-view title="Fluviwassents" id="page477">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <p>
        Wassents that do not have a total thickness of
		50 cm or more of human-transported material in the surface
		horizons, and one or both of the following:
      </p>
      <ul>
       		&nbsp &nbsp &nbsp • At a depth of 125 cm below the mineral soil surface,
		an organic-carbon content of 0.2 percent or more and no <a ui-sref="menu.contactoDNsico">densic</a>, <a ui-sref="menu.contactoLTico">lithic</a>, or <a ui-sref="menu.contactoParalTico">paralithic</a> contact within that
depth; or;</li>
        <li>&nbsp &nbsp &nbsp • An irregular decrease in organic-carbon content between a depth of 25 cm and either
		a depth of 125 cm below the mineral soil surface or	a <a ui-sref="menu.contactoDNsico">densic</a>, <a ui-sref="menu.contactoLTico">lithic</a>, or <a ui-sref="menu.contactoParalTico">paralithic</a> contact, whichever is
		shallower.</li>
      </ul>
      <hr>
      <p></p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="fluviwassentes-markdown841" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Wassents
          <ul>
            <li>Fluviwassents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>