<ion-view title="Folistic Epipedon" id="page546">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      The folistic <a ui-sref="menu.epipedN">epipedon</a> is a layer (one or more horizons) that
is <a ui-sref="menu.saturaciNAgua">saturated</a> for less than 30 days (cumulative) in normal years
(and is not artificially drained) and either:<br>
• Consists of organic soil material that: <br>
&nbsp &nbsp &nbsp Is 20 cm or more thick, and either contains 75 percent or more (by volume) <a ui-sref="menu.sphagnum">Sphagnum</a> fibers or has 
					a bulk density <0,1 g/cm <sup>3</sup> or <br>
&nbsp &nbsp &nbsp Is 15 cm or more thick.<br>
• Is an Ap horizon that, when mixed to a depth of 25 cm, has
an organic-carbon content (by weight) of:<br>
&nbsp &nbsp &nbsp 16%  or more if the mineral fraction contains 60% or more clay<br>
&nbsp &nbsp &nbsp 8% or more if the mineral fraction contains no clay<br>
&nbsp &nbsp &nbsp 8+ (clay percentage divided by 7.5) percent or more if
the mineral fraction contains less than 60 percent clay.
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.fBricosMateriales()" id="folSticoEpipedN-button686" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="folSticoEpipedN-button687" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.frGicasPropiedades()" id="folSticoEpipedN-button688" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>