<ion-view title="Fragipan" id="page548">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> A root-restrictive subsoil layer that is firm and brittle, but not cemented. 
		Air-dry fragments mostly slake in water, thus confirming the
		absence of a cementing agent. Fragments are firm or harder when dry. When
		moist, they have a brittle manner of failure when increasing pressure is
		applied (they rupture suddenly rather than deform gradually).</p><br>
		<b>Generalized Characteristics</b><br>
1) Thickness is > 15 cm.<br>
2) It is not simply mechanically
compacted layer and has evidence of pedogenesis such as oriented clay, <a ui-sref="menu.Lbico"> albic materials</a>, structure, and <a ui-sref="menu.rasgosRedoximRficos">redoximorphic features</a>).<br>
3) Layer has structure that does not allow roots to penetrate at spaces less
than 10 cm apart, or it is massive.<br>
4) Layer is not cemented (air-dry fragments mostly disintegrate when
submerged in water).<br>
5) In > 60% of volume, peds are firm or hard and brittle when moist.<br>
6) Layer is noneffervescent in dilute HCl.

    </div>
    <div>
      <img src="img/BlWwJqSjSMqR99Tf1Fgy_Fragixeralf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
       </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.frGicasPropiedades()" id="fragipN-button674" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="fragipN-button675" style="font-weight:lighter;" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.carbonatosLibres()" id="fragipN-button676" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>