<ion-view title="Fragixerepts" id="page457">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
         Xerepts that have a <a ui-sref="menu.fragipN">fragipan</a> within 100 cm of the
mineral soil surface. </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="fragixereptes-markdown804" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Xerepts
          <ul>
            <li>Fragixerepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>