<ion-view title="Fraglossudalfs" id="page415">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• A <a ui-sref="menu.glSsicoHorizonte">glossic</a> horizon and</li>
        <li>• A
          <a ui-sref="menu.fragipN">fragipan</a> within 100 cm of the mineral soil surface.</li>
      </ul>
      <hr>
    </div>
    <div>
    <img src="img/Fraglossudalf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div> 
    <p align="center"><small>Image: John A. Kelley</small></p> 
    <div id="fraglossudalfes-markdown726" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Udalfs
          <ul>
            <li>Fraglossudalfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
