<ion-view title="Fragiudalfs" id="page416">
  <ion-content padding="true" class="has-header">
    <div>
      <p> Udalfs that have a <a ui-sref="menu.fragipN">fragipan</a> within 100 cm of the
mineral soil surface. </p>
      <hr>
    </div>
    <div>
      <img src="img/M2ZL0OueRKS5gW7Jb90D_Fragiudalf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fragiudalfes-markdown728" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Udalfs
          <ul>
            <li>Fragiudalfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>