<ion-view title="Frasiwassents" id="page473">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Electric condictivity <a ui-sref="menu.conductividadElCtrica">(EC)</a> &lt; 0,2 dS/m within 100 cm of the
mineral soil surface in a 1:5 (soil:water), by volume, supernatant (not extract).
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="frasiwassentes-markdown833" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Wassents
          <ul>
            <li>Frasiwassents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>