<ion-view title="Frigid" id="page549">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> A soil with a frigid soil temperature regime is
		warmer in summer than a soil with a <a ui-sref="menu.crIco">cryic</a> regime, but its mean
		annual temperature is between 0 and 8 oC and the difference between mean summer (June, July, and August) and mean
		winter (December, January, and February) soil temperatures is
		6 <sup>o</sup>C or more either at a depth of 50 cm below the soil surface or
		at a densic, lithic, or paralithic contact, whichever is shallower.</p>
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.carbonatosLibres()" id="frGido-button689" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="frGido-button690" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.materialesGLicos()" id="frGido-button691" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>