<ion-view title="Fragic Soil Properties" id="page547">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Fragic soil properties are the essential properties of a
			<a ui-sref="menu.fragipN">fragipan</a>. They have neither the layer thickness nor volume
			requirements for the <a ui-sref="menu.fragipN">fragipan</a>.</p>
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.folSticoEpipedN()" id="frGicasPropiedades-button692" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="frGicasPropiedades-button693" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.fragipN()" id="frGicasPropiedades-button694" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-light button-icon icon-right ion-arrow-right-b">Sig.</a>
    </div>
  </ion-footer-bar>
</ion-view>