<ion-view title="Fulvudands" id="page152">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Other Udands that have a layer that meets the depth,
		thickness, and organic-carbon requirements for a <a ui-sref="menu.melNicoHorizonte">melanic</a>
		<a ui-sref="menu.epipedN">epipedon</a> (but lighter in color).
		<br>Characteristically, Fulvicryands have a thin O horizon, an
		<a ui-sref="menu.MbricoHorizonte">umbric</a> epipedon, and a <a ui-sref="menu.cMbicoHorizonte">cambic</a>
		 horizon.
		
		
      </p>
      <hr>
    </div>
    <div>
      <img src="img/utGAQs8aSqak8w2pfzCT_Fulvudand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fulvudandes-markdown240" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Udands
          <ul>
            <li>Fulvudands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>