<ion-view title="Gelepts" id="page442">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Other Inceptisols that have a <a ui-sref="menu.gLicoRGimenDeTemperatura">gelic</a> soil temperature regime.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/4b2CIhNDTpGJn9alOu4U_Humigelept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="geleptes-markdown776" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil a Gelept?</p>
    </div>
    <div id="geleptes-button-bar72" class="button-bar">
      <a ui-sref="menu.subRdenesInceptisoles()" id="geleptes-button506" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposGeleptes()" id="geleptes-button507" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>