<ion-view title="Gelisols" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
	  Soils that have:
        <li>
          1. <a ui-sref="menu.permafrost">Permafrost</a> within 100 cm of the soil surface, or</li> 
        <li>2. <a ui-sref="menu.materialesGLicos">Gelic materials</a> within 100 cm of the soil surface and
<a ui-sref="menu.permafrost">permafrost</a> within 200 cm of the soil surface.
           </li>
        <p></p>
        <hr>

      </ul>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="gelisoles-slider1" style="width:100%;height:300px;"">  <!--  -->
      <ion-slide-page id="gelisoles-slide24">
        <div>
          <img src="img/aCrGEPVKRVqC6vVr3xM7_Glacistel.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="gelisoles-slide26">
         
		 <div>
          <a title="Global distribution of Gelisols" href="img/gelisols-global-distribution.jpg"><img src="img/uKgREOIhRpiJKoi8S5dm_Gelisoles_cr300centro.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
		  </a>
		      
		</div>
		 
      </ion-slide-page>
     
    </ion-slides>
    <div id="gelisoles-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">Is this soil a Gelisol?</p>
    </div>
    <div id="gelisoles-button-bar2" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="gelisoles-button33" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesGelisoles()" id="gelisoles-button34" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>