<ion-view title="Gypsicryids" id="page243">
  <ion-content padding="true" class="has-header">
    <div>
      <p><a ui-sref="menu.gypsicoHorizonte">Gypsic</a> horizon within 100 cm
		of the soil surface.</p>
      <hr>
    </div>

<div>
<img src="img/Gipsicriid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
</div> 
    <div id="gipsicriDes-markdown402" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Cryids
          <ul>
            <li>Gypsicryids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
