<ion-view title="Gypsicryids" id="page243">
  <ion-content padding="true" class="has-header">
    <div>
      <p><a ui-sref="menu.gypsicoHorizonte">Gypsic</a> horizon within 100 cm
		of the soil surface.</p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="gipsicriDes-markdown402" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Cryids
          <ul>
            <li>Gypsicryids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>