<ion-view title="Gypsitorrerts" id="page216">
  <ion-content padding="true" class="has-header">
    <div>
      <p><a ui-sref="menu.gypsicoHorizonte">Gypsic</a> horizon within 100 cm
		of the soil surface.</p>
      <hr>
    </div>
    <div>
      <img src="img/lDTKBtLvRvmf9MX6paIt_Gipsitorrert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="gipsitorrertes-markdown356" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Torrerts
          <ul>
            <li>Gypsitorrerts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>