<ion-view title="Gelic (soil temperature regime)" id="page599">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> (L. gelare, to freeze). Soils in this temperature
		regime have a mean annual soil temperature at or below 0 <sup>o</sup>C
		(in Gelic suborders and Gelic great groups) or 1 <sup>o</sup>C or lower (in
		Gelisols) either at a depth of 50 cm below the soil surface or at
		a <a ui-sref="menu.contactoDNsico">densic</a>, <a ui-sref="menu.contactoLTico">lithic</a>, or <a ui-sref="menu.contactoParalTico">paralithic</a>
		contact, whichever is shallower.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.frGido()" id="gLicoRGimenDeTemperatura-button695" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="gLicoRGimenDeTemperatura-button696" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.materialesGLicos()" id="gLicoRGimenDeTemperatura-button697" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>