<ion-view title="Glossary" id="page515">
  <ion-nav-buttons side="right">

    <button menu-toggle="left" class="button button-icon icon ion-navicon"
            ng-hide="config.showSelect"></button>

    <button class="button-clear button back-button"
            ng-click="toggleSelect()"
            ng-show="config.showSelect"> <i class="icon ion-chevron-left"></i> </button>

  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="glosario-markdown911" class="show-list-numbers-and-dots"></div>
    <ion-list id="glosario-list2">
	  <ion-item id="glosario-list-item16" ui-sref="menu.cambioTexturalAbrupto()" class="bajo">Abrupt textural change</ion-item>
      <ion-item id="glosario-list-item8" ui-sref="menu.Grico()" class="bajo">Agric (horizon)</ion-item>
      <ion-item id="glosario-list-item9" ui-sref="menu.Lbico()" class="bajo">Albic (horizon)</ion-item>
      <ion-item id="glosario-list-item93" ui-sref="menu.aluvial()" class="bajo">Alluvial</ion-item>
	  <ion-item id="glosario-list-item120" ui-sref="menu.Ndico()" class="bajo">Andic properties</ion-item>
	  <ion-item id="glosario-list-item121" ui-sref="menu.anhidrasCondiciones()" class="bajo">Anhydrous conditions</ion-item>
	  <ion-item id="glosario-list-item10" ui-sref="menu.antrPicoHorizonte()" class="bajo">Anthropic (horizon)</ion-item>
	  <ion-item id="glosario-list-item7" ui-sref="menu.Cuico()" class="bajo">Aquic</ion-item>
      <ion-item id="glosario-list-item11" ui-sref="menu.argLicoHorizonte()" class="bajo">Argillic (horizon)</ion-item>
      <ion-item id="glosario-list-item12" ui-sref="menu.arDico()" class="bajo">Aridic (soil moisture regime)</ion-item>
	  <ion-item id="glosario-list-item76" ui-sref="menu.saturaciNConBases()" class="bajo">Base Saturation</ion-item>
      <ion-item id="glosario-list-item13" ui-sref="menu.bioturbaciN()" class="bajo">Bioturbation</ion-item>
	  <ion-item id="glosario-list-item30" ui-sref="menu.densidadAparente()" class="bajo">Bulk Density</ion-item>
      <ion-item id="glosario-list-item95" ui-sref="menu.caCO3Equivalente()" class="bajo">CaCO<sub>3</sub> equivalent</ion-item>
      <ion-item id="glosario-list-item14" ui-sref="menu.cLcicoHorizonte()" class="bajo">Calcic (horizon)</ion-item>
      <ion-item id="glosario-list-item15" ui-sref="menu.cMbicoHorizonte()" class="bajo">Cambic (horizon)</ion-item>
      <ion-item id="glosario-list-item20" ui-sref="menu.concrecionesCalcReas()" class="bajo">Carbonate Concretions</ion-item>      
      <ion-item id="glosario-list-item96" ui-sref="menu.cIC()" class="bajo">Cation-exchange capacity (CEC)</ion-item>
      <ion-item id="glosario-list-item97" ui-sref="menu.cementaciN()" class="bajo">Cementation</ion-item>
      <ion-item id="glosario-list-item18" ui-sref="menu.cromaChroma()" class="bajo">Chroma  (Soil color)</ion-item>
      <ion-item id="glosario-list-item23" ui-sref="menu.crIco()" class="bajo">Cryic (soil temperature regime)</ion-item>
      <ion-item id="glosario-list-item29" ui-sref="menu.crioturbaciN()" class="bajo">Cryoturbation</ion-item>
      <ion-item id="glosario-list-item21" ui-sref="menu.contactoDNsico()" class="bajo">Densic Contact</ion-item>
      <ion-item id="glosario-list-item116" ui-sref="menu.horizontesYCaracterSticasDeDiagnStico()" class="bajo">Diagnostic Horizons</ion-item>
	  <ion-item id="glosario-list-item115" ui-sref="menu.caracterSticasDeDiagnStico()" class="bajo">Diagnostic Soil Characteristics</ion-item>
      <ion-item id="glosario-list-item117" ui-sref="menu.endopedones()" class="bajo">Diagnostic Subsurface Horizons</ion-item>
	  <ion-item id="glosario-list-item32" ui-sref="menu.durinDulos()" class="bajo">Durinodes</ion-item>
      <ion-item id="glosario-list-item33" ui-sref="menu.duripN()" class="bajo">Duripan</ion-item>
	  <ion-item id="glosario-list-item98" ui-sref="menu.conductividadElCtrica()" class="bajo">Electrical Conductivity (EC)</ion-item>
      <ion-item id="glosario-list-item99" ui-sref="menu.eluviaciNEluvial()" class="bajo">Eluviation/Eluvial</ion-item>
      <ion-item id="glosario-list-item34" ui-sref="menu.epipedN()" class="bajo">Epipedon</ion-item>
      <ion-item id="glosario-list-item35" ui-sref="menu.episaturaciN()" class="bajo">Episaturation</ion-item>
	  <ion-item id="glosario-list-item72" ui-sref="menu.pSIPorcentajeSodioInterc()" class="bajo">Exchangeable Sodium Percentage (ESP)</ion-item>
	  <ion-item id="glosario-list-item119" ui-sref="menu.arcillasExpansibles()" class="bajo">Expansive clays</ion-item>
      <ion-item id="glosario-list-item36" ui-sref="menu.fBricosMateriales()" class="bajo">Fibric (soil materials)</ion-item>
      <ion-item id="glosario-list-item37" ui-sref="menu.folSticoEpipedN()" class="bajo">Folistic (epipedon)</ion-item>
      <ion-item id="glosario-list-item38" ui-sref="menu.frGicasPropiedades()" class="bajo">Fragic (soil properties)</ion-item>
      <ion-item id="glosario-list-item39" ui-sref="menu.fragipN()" class="bajo">Fragipan</ion-item>
	  <ion-item id="glosario-list-item25" ui-sref="menu.carbonatosLibres()" class="bajo">Free Carbonates</ion-item>
      <ion-item id="glosario-list-item40" ui-sref="menu.frGido()" class="bajo">Frigid (soil temperature regime)</ion-item>
      <ion-item id="glosario-list-item41" ui-sref="menu.gLicoRGimenDeTemperatura()" class="bajo">Gelic (soil temperature regime)</ion-item>
      <ion-item id="glosario-list-item42" ui-sref="menu.materialesGLicos()" class="bajo">Gelic (materials)</ion-item>
      <ion-item id="glosario-list-item43" ui-sref="menu.gilgaiMicrorrelieve()" class="bajo">Gilgai</ion-item>
	  <ion-item id="glosario-list-item17" ui-sref="menu.capaGlCica()" class="bajo">Glacic Layer</ion-item>
      <ion-item id="glosario-list-item45" ui-sref="menu.glSsicoHorizonte()" class="bajo">Glossic (horizon)</ion-item>
      <ion-item id="glosario-list-item46" ui-sref="menu.gypsicoHorizonte()" class="bajo">Gypsic (horizon)</ion-item>
      <ion-item id="glosario-list-item47" ui-sref="menu.hMicoMaterial()" class="bajo">Hemic (soil materials)</ion-item>
      <ion-item id="glosario-list-item50" ui-sref="menu.hSticoHorizonte()" class="bajo">Histic (horizon)</ion-item>
      <ion-item id="glosario-list-item100" ui-sref="menu.hue()" class="bajo">Hue  (Soil color)</ion-item>
      <ion-item id="glosario-list-item51" ui-sref="menu.humilVicosMateriales()" class="bajo">Humilluvic (materials)</ion-item>
	  <ion-item id="glosario-list-item48" ui-sref="menu.hidromorfismo()" class="bajo">Hydromorphic Soils</ion-item>
      <ion-item id="glosario-list-item49" ui-sref="menu.hipertRmico()" class="bajo">Hyperthermic (soil temperature regime)</ion-item>
	  <ion-item id="glosario-list-item118" ui-sref="menu.carbonatosSecundariosIdentificables()" class="bajo">Identifiable Secondary Carbonates</ion-item>
      <ion-item id="glosario-list-item101" ui-sref="menu.iluviaciNIluvial()" class="bajo">Illuviation / Illuvial</ion-item>
      <ion-item id="glosario-list-item102" ui-sref="menu.interdigitacionesDeMatLbicos()" class="bajo">Interfingering of Albic Materials</ion-item>
      <ion-item id="glosario-list-item53" ui-sref="menu.isofrGido()" class="bajo">Isofrigid</ion-item>
      <ion-item id="glosario-list-item110" ui-sref="menu.isohipertRmico()" class="bajo">Isohyperthermic</ion-item>
      <ion-item id="glosario-list-item111" ui-sref="menu.isomSico()" class="bajo">Isomesico</ion-item>
      <ion-item id="glosario-list-item112" ui-sref="menu.isotRmico()" class="bajo">Isothermic</ion-item>
      <ion-item id="glosario-list-item54" ui-sref="menu.kNdicoHorizonte()" class="bajo">Kandic (horizon)</ion-item>
      <ion-item id="glosario-list-item55" ui-sref="menu.lamela()" class="bajo">Lamellae</ion-item>
	  <ion-item id="glosario-list-item22" ui-sref="menu.contactoLTico()" class="bajo">Lithic Contact</ion-item>
	  <ion-item id="glosario-list-item31" ui-sref="menu.discontinuidadLitolGica()" class="bajo">Lithologic Discontinuity</ion-item>
      <ion-item id="glosario-list-item103" ui-sref="menu.loess()" class="bajo">Loess</ion-item>
      <ion-item id="glosario-list-item56" ui-sref="menu.melNicoHorizonte()" class="bajo">Melanic (horizon)</ion-item>
	  <ion-item id="glosario-list-item52" ui-sref="menu.NdiceMelNico()" class="bajo">Melanic Index</ion-item>
      <ion-item id="glosario-list-item57" ui-sref="menu.mSico()" class="bajo">Mesic</ion-item>
      <ion-item id="glosario-list-item58" ui-sref="menu.mLicoHorizonte()" class="bajo">Mollic (epipedon)</ion-item>
	  <ion-item id="glosario-list-item90" ui-sref="menu.valorN()" class="bajo">n Value</ion-item>
	  <ion-item id="glosario-list-item59" ui-sref="menu.nTricoHorizonte()" class="bajo">Natric (horizon)</ion-item>
      <ion-item id="glosario-list-item60" ui-sref="menu.CricoHorizonte()" class="bajo">Ochric (epipedon)</ion-item>
      <ion-item id="glosario-list-item61" ui-sref="menu.orden()" class="bajo">Order (Soil Order)</ion-item>
      <ion-item id="glosario-list-item62" ui-sref="menu.orsteinHorizonte()" class="bajo">Ortstein (horizon)</ion-item>
      <ion-item id="glosario-list-item63" ui-sref="menu.XicoHorizonte()" class="bajo">Oxic (horizon)</ion-item>
	  <ion-item id="glosario-list-item26" ui-sref="menu.contactoParalTico()" class="bajo">Paralithic Contact</ion-item>
	  <ion-item id="glosario-list-item105" ui-sref="menu.secciNDeControlDeTamaODePartCulas()" class="bajo">Particle-size Control Section</ion-item>
      <ion-item id="glosario-list-item65" ui-sref="menu.pergLico()" class="bajo">Pergelic (soil temperature regime)</ion-item>
      <ion-item id="glosario-list-item66" ui-sref="menu.permafrost()" class="bajo">Permafrost</ion-item>
      <ion-item id="glosario-list-item67" ui-sref="menu.perDico()" class="bajo">Perudic (soil moisture regime)</ion-item>
      <ion-item id="glosario-list-item68" ui-sref="menu.petrocLcicoHorizonte()" class="bajo">Petrocalcic (horizon)</ion-item>
	  <ion-item id="glosario-list-item27" ui-sref="menu.petrofRricoContacto()" class="bajo">Petroferric Contact</ion-item>
      <ion-item id="glosario-list-item69" ui-sref="menu.petrogPsicoHorizonte()" class="bajo">Petrogypsic (horizon)</ion-item>
      <ion-item id="glosario-list-item70" ui-sref="menu.plCicoHorizonte()" class="bajo">Placic (horizon)</ion-item>
	  <ion-item id="glosario-list-item64" ui-sref="menu.plGenoPlaggenHorizonte()" class="bajo">Plaggen (horizon)</ion-item>
      <ion-item id="glosario-list-item71" ui-sref="menu.plintita()" class="bajo">Plinthite</ion-item>
      <ion-item id="glosario-list-item73" ui-sref="menu.rasgosRedoximRficos()" class="bajo">Redoximorphic Features</ion-item>
	  <ion-item id="glosario-list-item74" ui-sref="menu.sLicoHorizonte()" class="bajo">Salic (horizon)</ion-item>
	  <ion-item id="glosario-list-item75" ui-sref="menu.sPricosMateriales()" class="bajo">Sapric (soil materials)</ion-item>
	  <ion-item id="glosario-list-item24" ui-sref="menu.conductividadHidrUlicaSaturadaKsat()" class="bajo">Saturated Hydraulic Conductivity(K<sub>sat</sub>)</ion-item>
	  <ion-item id="glosario-list-item106" ui-sref="menu.silicatos()" class="bajo">Silicates</ion-item>
      <ion-item id="glosario-list-item78" ui-sref="menu.slickensides()" class="bajo">Slickensides</ion-item>
	  <ion-item id="glosario-list-item77" ui-sref="menu.secciNDeControlDeHumedad()" class="bajo">Soil Moisture Control Section</ion-item>
      <ion-item id="glosario-list-item113" ui-sref="menu.regMenesDeHumedadDeSuelo()" class="bajo">Soil Moisture Regime</ion-item>
      <ion-item id="glosario-list-item114" ui-sref="menu.regMenesDeTemperaturaDeSuelo()" class="bajo">Soil Temperature Regime</ion-item>
	  <ion-item id="glosario-list-item79" ui-sref="menu.sMbricoHorizonte()" class="bajo">Sombric (horizon)</ion-item>
      <ion-item id="glosario-list-item80" ui-sref="menu.sphagnum()" class="bajo">Sphangnum</ion-item>
      <ion-item id="glosario-list-item81" ui-sref="menu.spDicoHorizonte()" class="bajo">Spodic (horizon)</ion-item>
      <ion-item id="glosario-list-item82" ui-sref="menu.spDicosMateriales()" class="bajo">Spodic (materials)</ion-item>
      <ion-item id="glosario-list-item83" ui-sref="menu.sulfDicosMateriales()" class="bajo">Sulfidic (materials)</ion-item>
      <ion-item id="glosario-list-item84" ui-sref="menu.sulfRicoHorizonte()" class="bajo">Sulfuric (horizon)</ion-item>
      <ion-item id="glosario-list-item107" ui-sref="menu.textura()" class="bajo">Texture</ion-item>
	  <ion-item id="glosario-list-item85" ui-sref="menu.tRmicoRGimenDeTemperatura()" class="bajo">Thermic (soil temperature regime)</ion-item>
      <ion-item id="glosario-list-item86" ui-sref="menu.till()" class="bajo">Till</ion-item>
      <ion-item id="glosario-list-item108" ui-sref="menu.tRricoRGimenDeHumedad()" class="bajo">Torric (soil moisture regime)</ion-item>
      <ion-item id="glosario-list-item87" ui-sref="menu.DicoRGimenDeHumedad()" class="bajo">Udic (soil moisture regime)</ion-item>
      <ion-item id="glosario-list-item88" ui-sref="menu.MbricoHorizonte()" class="bajo">Úmbrico (horizonte)</ion-item>
      <ion-item id="glosario-list-item89" ui-sref="menu.usticoRGimenDeHumedad()" class="bajo">Ustic (soil moisture regime)</ion-item>
      <ion-item id="glosario-list-item109" ui-sref="menu.value()" class="bajo">Value (Soil color)</ion-item>
	  <ion-item id="glosario-list-item104" ui-sref="menu.saturaciNAgua()" class="bajo">Water Saturation</ion-item>
	  <ion-item id="glosario-list-item28" ui-sref="menu.cuneiforme()" class="bajo">Wedge-Shaped Peds</ion-item>
      <ion-item id="glosario-list-item91" ui-sref="menu.xRicoRGimenDeHumedad()" class="bajo">Xeric (soil moisture regime)</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
