<ion-view title="Glossocryalfs" id="page390">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Other Cryalfs that have a <a ui-sref="menu.glSsicoHorizonte">glossic</a> horizon. </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="glossocrialfes-markdown679" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Cryalfs
          <ul>
            <li>Glossocryalfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>