<ion-view title="Glossic (horizon)" id="page553">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> (Gr. glossa, tongue). The glossic horizon is a degrading <a ui-sref="menu.argLicoHorizonte">argillic</a>, 
	  <a ui-sref="menu.kNdicoHorizonte">kandic</a>, or  <a ui-sref="menu.nTricoHorizonte">natric</a> horizon. In this
		horizon, eluviation of clay and iron oxides is occurring. This results in the
		formation of <a ui-sref="menu.Lbico"> albic materials</a> to the extent that they make up 15 to 85 percent of
		the volume of the horizon. <br>
		1. Horizon has thickness of > 5 cm.<br>
		2. Horizon has two distinct parts (<a ui-sref="menu.eluviaciNEluvial">eluvial</a> and <a ui-sref="menu.iluviaciNIluvial">iluvial</a>), each making up 15-85%
		of the horizon.
        </p>
    </div>
    <div>
      <img src="img/FjPXGf5RIqHuYIWJRq6g_Glsico.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.capaGlCica()" id="glSsicoHorizonte-button698" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="glSsicoHorizonte-button699" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.gypsicoHorizonte()" id="glSsicoHorizonte-button700" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>