<ion-view title="Cryalfs Great Groups" id="page392">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.palecrialfes()" id="grandesGruposCrialfes-button448" class="button button-royal button-block">Palecryalfs</a>
    <a ui-sref="menu.glossocrialfes()" id="grandesGruposCrialfes-button449" class="button button-royal button-block">Glossocryalfs</a>
    <a ui-sref="menu.haplocrialfes()" id="grandesGruposCrialfes-button450" class="button button-royal button-block">Haplocryalfs</a>
    <div id="grandesGruposCrialfes-markdown682" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Cryalfs
          <ul>
            <li>Palecryalfs</li>
            <li>Glossocryalfs</li>
            <li>Haplocryalfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>