<ion-view title="Wassents Great Groups" id="page479">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.frasiwassentes()" id="grandesGruposWassentes-button500" class="button button-royal button-block">Frasiwassents</a>
    <a ui-sref="menu.psammowassentes()" id="grandesGruposWassentes-button501" class="button button-royal button-block">Psammowassents</a>
    <a ui-sref="menu.sulfiwassentes()" id="grandesGruposWassentes-button502" class="button button-royal button-block">Sulfiwassents</a>
    <a ui-sref="menu.hidrowassentes()" id="grandesGruposWassentes-button503" class="button button-royal button-block">Hydrowassents</a>
    <a ui-sref="menu.fluviwassentes()" id="grandesGruposWassentes-button504" class="button button-royal button-block">Fluviwassents</a>
    <a ui-sref="menu.haplowassentes()" id="grandesGruposWassentes-button505" class="button button-royal button-block">Haplowassents</a>
    <div id="grandesGruposWassentes-markdown844" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Wassents
          <ul>
            <li>Frasiwassents</li>
            <li>Psammowassents</li>
            <li>Sulfiwassents</li>
            <li>Hydrowassents</li>
            <li>Fluviwassents</li>
            <li>Haplowassents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>