<ion-view title="Xerands Great Groupss" id="page120">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.vitrixerandes()" id="grandesGruposXerandes-button196" style="color:#FFFFFF;" class="button button-royal button-block">Vitrixerands</a>
    <a ui-sref="menu.melanoxerandes()" id="grandesGruposXerandes-button198" class="button button-royal button-block">Melanoxerands</a>
    <a ui-sref="menu.haploxerandes()" id="grandesGruposXerandes-button199" class="button button-royal button-block">Haploxerands</a>
    <div id="grandesGruposXerandes-markdown179" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Xerands
          <ul>
            <li>Vitrixerands</li>
            <li>Melanoxerands</li>
            <li>Haploxerands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>