<ion-view title="Xerolls Great Groups" id="page357">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durixeroles()" id="grandesGruposXeroles-button386" class="button button-royal button-block">Durixerolls</a>
    <a ui-sref="menu.natrixeroles()" id="grandesGruposXeroles-button387" class="button button-royal button-block">Natrixerolls</a>
    <a ui-sref="menu.palexeroles()" id="grandesGruposXeroles-button388" class="button button-royal button-block">Palexerolls</a>
    <a ui-sref="menu.calcixeroles()" id="grandesGruposXeroles-button390" class="button button-royal button-block">Calcixerolls</a>
    <a ui-sref="menu.argixeroles()" id="grandesGruposXeroles-button389" class="button button-royal button-block">Argixerolls</a>
    <a ui-sref="menu.haploxeroles()" id="grandesGruposXeroles-button394" class="button button-royal button-block">Haploxerolls</a>
    <div id="grandesGruposXeroles-markdown617" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Mollisols</strong>
      </h5>

      <ul>
        <li>Xerolls
          <ul>
            <li>Durixerolls</li>
            <li>Natrixerolls</li>
            <li>Palexerolls</li>
            <li>Calcixerolls</li>
            <li>Argixerolls</li>
            <li>Haploxerolls</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>