<ion-view title="Aquerts Great Groups" id="page196">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sulfacuertes()" id="grandesGruposAcuertes-button251" style="color:#FFFFFF;" class="button button-royal button-block">Sulfaquerts</a>
    <a ui-sref="menu.salacuertes()" id="grandesGruposAcuertes-button252" class="button button-royal button-block">Salaquerts</a>
    <a ui-sref="menu.duracuertes()" id="grandesGruposAcuertes-button253" class="button button-royal button-block">Duraquerts</a>
    <a ui-sref="menu.natracuertes()" id="grandesGruposAcuertes-button254" class="button button-royal button-block">Natraquerts</a>
    <a ui-sref="menu.calciacuertes()" id="grandesGruposAcuertes-button255" class="button button-royal button-block">Calciaquerts</a>
    <a ui-sref="menu.distracuertes()" id="grandesGruposAcuertes-button256" class="button button-royal button-block">Dystraquerts</a>
    <a ui-sref="menu.epiacuertes()" id="grandesGruposAcuertes-button257" class="button button-royal button-block">Epiaquerts</a>
    <a ui-sref="menu.endoacuertes()" id="grandesGruposAcuertes-button258" class="button button-royal button-block">Endoaquerts</a>
    <div id="grandesGruposAcuertes-markdown321" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Aquerts
          <ul>
            <li>Sulfaquerts</li>
            <li>Salaquerts</li>
            <li>Duraquerts</li>
            <li>Natraquerts</li>
            <li>Calciaquerts</li>
            <li>Dystraquerts</li>
            <li>Epiaquerts</li>
            <li>Endoaquerts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
