<ion-view title="Aqualfs Great Groups" id="page387">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criacualfes()" id="grandesGruposAcualfes-button405" class="button button-royal button-block">Cryaqualfs</a>
    <a ui-sref="menu.plintacualfes()" id="grandesGruposAcualfes-button406" class="button button-royal button-block">Plinthaqualfs</a>
    <a ui-sref="menu.duracualfes()" id="grandesGruposAcualfes-button418" class="button button-royal button-block">Duraqualfs</a>
    <a ui-sref="menu.natracualfes()" id="grandesGruposAcualfes-button430" class="button button-royal button-block">Natraqualfs</a>
    <a ui-sref="menu.fragiacualfes()" id="grandesGruposAcualfes-button431" class="button button-royal button-block">Fragiaqualfs</a>
    <a ui-sref="menu.kandiacualfes()" id="grandesGruposAcualfes-button432" class="button button-royal button-block">Kandiaqualfs</a>
    <a ui-sref="menu.vermacualfes()" id="grandesGruposAcualfes-button433" class="button button-royal button-block">Vermaqualfs</a>
    <a ui-sref="menu.albacualfes()" id="grandesGruposAcualfes-button437" class="button button-royal button-block">Albaqualfs</a>
    <a ui-sref="menu.glosacualfes()" id="grandesGruposAcualfes-button436" class="button button-royal button-block">Glossaqualfs</a>
    <a ui-sref="menu.epiacualfes()" id="grandesGruposAcualfes-button434" class="button button-royal button-block">Epiaqualfs</a>
    <a ui-sref="menu.endoacualfes()" id="grandesGruposAcualfes-button435" class="button button-royal button-block">Endoaqualfs</a>
    <div id="grandesGruposAcualfes-markdown674" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Aqualfs
          <ul>
            <li>Cryaqualfs</li>
            <li>Plinthaqualfs</li>
            <li>Duraqualfs</li>
            <li>Natraqualfs</li>
            <li>Fragiaqualfs</li>
            <li>Kandiaqualfs</li>
            <li>Vermaqualfs</li>
            <li>Albaqualfs</li>
            <li>Glossaqualfs</li>
            <li>Epiaqualfs</li>
            <li>Endoaqualfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>