<ion-view title="Cryids Great Groups" id="page234">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.salicriDes()" id="grandesGruposCriDes-button296" style="color:#FFFFFF;" class="button button-royal button-block">Salicryids</a>
    <a ui-sref="menu.petrocriDes()" id="grandesGruposCriDes-button297" class="button button-royal button-block">Petrocryids</a>
    <a ui-sref="menu.gipsicriDes()" id="grandesGruposCriDes-button298" class="button button-royal button-block">Gypsicryids</a>
    <a ui-sref="menu.argicriDes()" id="grandesGruposCriDes-button299" class="button button-royal button-block">Argicryids</a>
    <a ui-sref="menu.calcicriDes()" id="grandesGruposCriDes-button300" class="button button-royal button-block">Calcicryids</a>
    <a ui-sref="menu.haplocriDes()" id="grandesGruposCriDes-button301" class="button button-royal button-block">Haplocryids</a>
    <div id="grandesGruposCriDes-markdown390" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Cryids
          <ul>
            <li>Salicryids</li>
            <li>Petrocryids</li>
            <li>Gypsicryids</li>
            <li>Argicryids</li>
            <li>Calcicryids</li>
            <li>Haplocryids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>