<ion-view title="Cryepts Great Groups" id="page447">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.humicrieptes()" id="grandesGruposCrieptes-button508" class="button button-royal button-block">Humicryepts</a>
    <a ui-sref="menu.calcicrieptes()" id="grandesGruposCrieptes-button511" class="button button-royal button-block">Calcicryepts</a>
    <a ui-sref="menu.distrocrieptes()" id="grandesGruposCrieptes-button509" class="button button-royal button-block">Dystrocryepts</a>
    <a ui-sref="menu.haplocrieptes()" id="grandesGruposCrieptes-button510" class="button button-royal button-block">Haplocryepts</a>
    <div id="grandesGruposCrieptes-markdown785" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Cryepts
          <ul>
            <li>Humicryepts</li>
            <li>Calcicryepts</li>
            <li>Dystrocryepts</li>
            <li>Haplocryepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>