<ion-view title="Udalfs Great Groups" id="page423">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.natrudalfes()" id="grandesGruposUdalfes-button474" class="button button-royal button-block">Natrudalfs</a>
    <a ui-sref="menu.ferrudalfes()" id="grandesGruposUdalfes-button480" class="button button-royal button-block">Ferrudalfs</a>
    <a ui-sref="menu.fraglossudalfes()" id="grandesGruposUdalfes-button481" class="button button-royal button-block">Fraglossudalfs</a>
    <a ui-sref="menu.fragiudalfes()" id="grandesGruposUdalfes-button475" class="button button-royal button-block">Fragiudalfs</a>
    <a ui-sref="menu.kandiudalfes()" id="grandesGruposUdalfes-button476" class="button button-royal button-block">Kandiudalfs</a>
    <a ui-sref="menu.kanhapludalfes()" id="grandesGruposUdalfes-button482" class="button button-royal button-block">Kanhapludalfs</a>
    <a ui-sref="menu.paleudalfes()" id="grandesGruposUdalfes-button478" class="button button-royal button-block">Paleudalfs</a>
    <a ui-sref="menu.rodudalfes()" id="grandesGruposUdalfes-button477" class="button button-royal button-block">Rhodudalfs</a>
    <a ui-sref="menu.glossudalfes()" id="grandesGruposUdalfes-button483" class="button button-royal button-block">Glossudalfs</a>
    <a ui-sref="menu.hapludalfes()" id="grandesGruposUdalfes-button479" class="button button-royal button-block">Hapludalfs</a>
    <div id="grandesGruposUdalfes-markdown741" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Udalfs
          <ul>
            <li>Natrudalfs</li>
            <li>Ferrudalfs</li>
            <li>Fraglossudalfs</li>
            <li>Fragiudalfs</li>
            <li>Kandiudalfs</li>
            <li>Kanhapludalfs</li>
            <li>Paleudalfs</li>
            <li>Rhodudalfs</li>
            <li>Glossudalfs</li>
            <li>Hapludalfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>