<ion-view title="Ustands Great Groups" id="page122">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durustandes()" id="grandesGruposUstandes-button203" style="color:#FFFFFF;" class="button button-royal button-block">Durustands</a>
    <a ui-sref="menu.haplustandes()" id="grandesGruposUstandes-button204" class="button button-royal button-block">Haplustands</a>
    <div id="grandesGruposUstandes-markdown181" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Ustands
          <ul>
            <li>Durustands</li>
            <li>Haplustands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>