<ion-view title="Xererts Great Groups" id="page206">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durixerertes()" id="grandesGruposXerertes-button267" style="color:#FFFFFF;" class="button button-royal button-block">Durixererts</a>
    <a ui-sref="menu.calcixerertes()" id="grandesGruposXerertes-button268" class="button button-royal button-block">Calcixererts</a>
    <a ui-sref="menu.haploxerertes()" id="grandesGruposXerertes-button269" class="button button-royal button-block">Haploxererts</a>
    <div id="grandesGruposXerertes-markdown339" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Xererts
          <ul>
            <li>Durixererts</li>
            <li>Calcixererts</li>
            <li>Haploxererts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>