<ion-view title="Folists Great Groups" id="page50">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criofolistes()" id="grandesGruposFolistes-button83" style="color:#FFFFFF;" class="button button-royal button-block">Cryofolists</a>
    <a ui-sref="menu.torrifolistes()" id="grandesGruposFolistes-button84" class="button button-royal button-block">Torrifolists</a>
    <a ui-sref="menu.ustifolistes()" id="grandesGruposFolistes-button85" class="button button-royal button-block">Ustifolists</a>
    <a ui-sref="menu.udifolistes()" id="grandesGruposFolistes-button86" class="button button-royal button-block">Udifolists</a>
    <div id="grandesGruposFolistes-markdown53" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosols</strong>
      </h5>

      <ul>
        <li>Folists
          <ul>
            <li>Criofolists</li>
            <li>Torrifolists</li>
            <li>Ustifolists</li>
            <li>Udifolists</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>