<ion-view title="Aquox Great Groups" id="page123">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acracuoxes()" id="grandesGruposAcuoxes-button205" style="color:#FFFFFF;" class="button button-royal button-block">Acraquox</a>
    <a ui-sref="menu.plintacuoxes()" id="grandesGruposAcuoxes-button206" class="button button-royal button-block">Plinthaquox</a>
    <a ui-sref="menu.eutracuoxes()" id="grandesGruposAcuoxes-button208" class="button button-royal button-block">Eutraquox</a>
    <a ui-sref="menu.haplacuoxes()" id="grandesGruposAcuoxes-button207" class="button button-royal button-block">Haplaquox</a>
    <div id="grandesGruposAcuoxes-markdown182" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisols</strong>
      </h5>

      <ul>
        <li>Aquox
          <ul>
            <li>Acraquox</li>
            <li>Plinthaquox</li>
            <li>Eutraquox</li>
            <li>Haplaquox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>