<ion-view title="Gelepts Great Groups" id="page441">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.humigeleptes()" id="grandesGruposGeleptes-button495" class="button button-royal button-block">Humigelepts</a>
    <a ui-sref="menu.distrogeleptes()" id="grandesGruposGeleptes-button498" class="button button-royal button-block">Dystrogelepts</a>
    <a ui-sref="menu.haplogeleptes()" id="grandesGruposGeleptes-button499" class="button button-royal button-block">Haplogelepts</a>
    <div id="grandesGruposGeleptes-markdown774" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Gelepts
          <ul>
            <li>Humigelepts</li>
            <li>Dystrogelepts</li>
            <li>Haplogelepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>