<ion-view title="Argids Great Groups" id="page238">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.petroargides()" id="grandesGruposArgides-button316" class="button button-royal button-block">Petroargids</a>
    <a ui-sref="menu.natrargides()" id="grandesGruposArgides-button317" class="button button-royal button-block">Natrargids</a>
    <a ui-sref="menu.paleargides()" id="grandesGruposArgides-button318" class="button button-royal button-block">Paleargids</a>
    <a ui-sref="menu.gipsiargides()" id="grandesGruposArgides-button319" class="button button-royal button-block">Gypsiargids</a>
    <a ui-sref="menu.calciargides()" id="grandesGruposArgides-button320" class="button button-royal button-block">Calciargids</a>
    <a ui-sref="menu.haplargides()" id="grandesGruposArgides-button321" class="button button-royal button-block">Haplargids</a>
    <div id="grandesGruposArgides-markdown394" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Argids
          <ul>
            <li>Petroargids</li>
            <li>Natrargids</li>
            <li>Paleargids</li>
            <li>Gypsiargids</li>
            <li>Calciargids</li>
            <li>Haplargids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>