<ion-view title="Usterts Great Groups" id="page208">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.distrustertes()" id="grandesGruposUstertes-button274" style="color:#FFFFFF;" class="button button-royal button-block">Dystrusterts</a>
    <a ui-sref="menu.salustertes()" id="grandesGruposUstertes-button278" style="color:#FFFFFF;" class="button button-royal button-block">Salusterts</a>
    <a ui-sref="menu.gipsiustertes()" id="grandesGruposUstertes-button275" style="color:#FFFFFF;" class="button button-royal button-block">Gypsiusterts</a>
    <a ui-sref="menu.calciustertes()" id="grandesGruposUstertes-button276" class="button button-royal button-block">Calciusterts</a>
    <a ui-sref="menu.haplustertes()" id="grandesGruposUstertes-button277" class="button button-royal button-block">Haplusterts</a>
    <div id="grandesGruposUstertes-markdown341" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Usterts
          <ul>
            <li>Dystrusterts</li>
            <li>Salusterts</li>
            <li>Gypsiusterts</li>
            <li>Calciusterts</li>
            <li>Haplusterts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>