<ion-view title="Fibrists Great Group" id="page52">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criofibristes()" id="grandesGruposFibristes-button94" style="color:#FFFFFF;" class="button button-royal button-block">Criofibrists</a>
    <a ui-sref="menu.sphagnofibristes()" id="grandesGruposFibristes-button95" class="button button-royal button-block">Sphagnofibrists</a>
    <a ui-sref="menu.haplofibristes()" id="grandesGruposFibristes-button96" class="button button-royal button-block">Haplofibrists</a>
    <div id="grandesGruposFibristes-markdown55" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosols</strong>
      </h5>

      <ul>
        <li>Fibrists
          <ul>
            <li>Criofibrists</li>
            <li>Sphagnofibrists</li>
            <li>Haplofibrists</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>