<ion-view title="Aquepts Great Groups" id="page436">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sulfacueptes()" id="grandesGruposAcueptes-button486" class="button button-royal button-block">Sulfaquepts</a>
    <a ui-sref="menu.petracueptes()" id="grandesGruposAcueptes-button487" class="button button-royal button-block">Petraquepts</a>
    <a ui-sref="menu.halacueptes()" id="grandesGruposAcueptes-button488" class="button button-royal button-block">Halaquepts</a>
    <a ui-sref="menu.fragiacueptes()" id="grandesGruposAcueptes-button489" class="button button-royal button-block">Fragiaquepts</a>
    <a ui-sref="menu.gelacueptes()" id="grandesGruposAcueptes-button490" class="button button-royal button-block">Gelaquepts</a>
    <a ui-sref="menu.vermacueptes()" id="grandesGruposAcueptes-button491" class="button button-royal button-block">Vermaquepts</a>
    <a ui-sref="menu.humacueptes()" id="grandesGruposAcueptes-button492" class="button button-royal button-block">Humaquepts</a>
    <a ui-sref="menu.epiacueptes()" id="grandesGruposAcueptes-button493" class="button button-royal button-block">Epiaquepts</a>
    <a ui-sref="menu.endoacueptes()" id="grandesGruposAcueptes-button494" class="button button-royal button-block">Endoaquepts</a>
    <div id="grandesGruposAcueptes-markdown765" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Aquepts
          <ul>
            <li>Sulfaquepts</li>
            <li>Petraquepts</li>
            <li>Halaquepts</li>
            <li>Fragiaquepts</li>
            <li>Gelaquepts</li>
            <li>Criaquepts</li>
            <li>Vermaquepts</li>
            <li>Humaquepts</li>
            <li>Epiaquepts</li>
            <li>Endoaquepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>