<ion-view title="Orthods Great Groups" id="page84">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.placortodes()" id="grandesGruposOrtodes-button134" style="color:#FFFFFF;" class="button button-royal button-block">Placorthods</a>
    <a ui-sref="menu.durortodes()" id="grandesGruposOrtodes-button139" class="button button-royal button-block">Durorthods</a>
    <a ui-sref="menu.fragiortodes()" id="grandesGruposOrtodes-button140" class="button button-royal button-block">Fragiorthods</a>
    <a ui-sref="menu.alortodes()" id="grandesGruposOrtodes-button142" class="button button-royal button-block">Alorthods</a>
    <a ui-sref="menu.haplortodes()" id="grandesGruposOrtodes-button141" class="button button-royal button-block">Haplorthods</a>
    <div id="grandesGruposOrtodes-markdown113" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spodosols</strong>
      </h5>

      <ul>
        <li>Humods
          <ul>
            <li>Placorthods</li>
            <li>Durorthods</li>
            <li>Fragiorthods</li>
            <li>Alorthods</li>
            <li>Haplorthods</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>