<ion-view title="Salids Great Groups" id="page235">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acuisalides()" id="grandesGruposSalides-button303" class="button button-royal button-block">Aquisalids</a>
    <a ui-sref="menu.haplosalides()" id="grandesGruposSalides-button304" class="button button-royal button-block">Haplosalids</a>
    <div id="grandesGruposSalides-markdown391" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Salids
          <ul>
            <li>Aquisalids</li>
            <li>Haplosalids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>