<ion-view title="Torrands Great Groups" id="page119">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.duritorrandes()" id="grandesGruposTorrandes-button190" style="color:#FFFFFF;" class="button button-royal button-block">Duritorrands</a>
    <a ui-sref="menu.vitritorrandes()" id="grandesGruposTorrandes-button191" class="button button-royal button-block">Vitritorrands</a>
    <a ui-sref="menu.haplotorrandes()" id="grandesGruposTorrandes-button192" class="button button-royal button-block">Haplotorrands</a>
    <div id="grandesGruposTorrandes-markdown178" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Torrands
          <ul>
            <li>Duritorrands</li>
            <li>Vitritorrands</li>
            <li>Haplotorrands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>