<ion-view title="Gelods Great Groups" id="page81">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.humigelodes()" id="grandesGruposGelodes-button128" style="color:#FFFFFF;" class="button button-royal button-block">Humigelods</a>
    <a ui-sref="menu.humigelodes()" id="grandesGruposGelodes-button129" class="button button-royal button-block">Haplogelods</a>
    <div id="grandesGruposGelodes-markdown110" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spodosols</strong>
      </h5>

      <ul>
        <li>Gelods
          <ul>
            <li>Humigelods</li>
            <li>Haplogelods</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>