<ion-view title="Ustepts Great Groups" id="page454">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durusteptes()" id="grandesGruposUsteptes-button515" class="button button-royal button-block">Durustepts</a>
    <a ui-sref="menu.calciusteptes()" id="grandesGruposUsteptes-button518" class="button button-royal button-block">Calciustepts</a>
    <a ui-sref="menu.humusteptes()" id="grandesGruposUsteptes-button514" class="button button-royal button-block">Humustepts</a>
    <a ui-sref="menu.distrusteptes()" id="grandesGruposUsteptes-button516" class="button button-royal button-block">Dystrustepts</a>
    <a ui-sref="menu.haplusteptes()" id="grandesGruposUsteptes-button517" class="button button-royal button-block">Haplustepts</a>
    <div id="grandesGruposUsteptes-markdown798" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Ustepts
          <ul>
            <li>Durustepts</li>
            <li>Calciustepts</li>
            <li>Humustepts</li>
            <li>Dystrustepts</li>
            <li>Haplustepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>