<ion-view title="Cryerts Great Groups" id="page205">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.humicriertes()" id="grandesGruposCriertes-button259" style="color:#FFFFFF;" class="button button-royal button-block">Humicryerts</a>
    <a ui-sref="menu.haplocriertes()" id="grandesGruposCriertes-button260" class="button button-royal button-block">Haplocryerts</a>
    <div id="grandesGruposCriertes-markdown338" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Cryerts
          <ul>
            <li>Humicryerts</li>
            <li>Haplocryerts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>