<ion-view title="Fluvents Great Groups" id="page505">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.gelifluventes()" id="grandesGruposFluventes-button569" class="button button-royal button-block">Gelifluvents</a>
    <a ui-sref="menu.criofluventes()" id="grandesGruposFluventes-button570" class="button button-royal button-block">Cryofluvents</a>
    <a ui-sref="menu.xerofluventes()" id="grandesGruposFluventes-button571" class="button button-royal button-block">Xerofluvents</a>
    <a ui-sref="menu.ustifluventes()" id="grandesGruposFluventes-button572" class="button button-royal button-block">Ustifluvents</a>
    <a ui-sref="menu.torrifluventes()" id="grandesGruposFluventes-button573" class="button button-royal button-block">Torrifluvents</a>
    <a ui-sref="menu.udifluventes()" id="grandesGruposFluventes-button574" class="button button-royal button-block">Udifluvent</a>
    <div id="grandesGruposFluventes-markdown893" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Fluvents
          <ul>
            <li>Gelifluvents</li>
            <li>Cryofluvents</li>
            <li>Xerofluvents</li>
            <li>Ustifluvents</li>
            <li>Torrifluvents</li>
            <li>Udifluvents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>