<ion-view title="Cambids Great Groups" id="page240">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acuicambides()" id="grandesGruposCambides-button328" class="button button-royal button-block">Aquicambids</a>
    <a ui-sref="menu.petrocambides()" id="grandesGruposCambides-button329" class="button button-royal button-block">Petrocambids</a>
    <a ui-sref="menu.haplocambides()" id="grandesGruposCambides-button330" class="button button-royal button-block">Haplocambids</a>
    <div id="grandesGruposCambides-markdown396" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Cambids
          <ul>
            <li>Aquicambids</li>
            <li>Petrocambids</li>
            <li>Haplocambids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>