<ion-view title="Uderts Great Groups" id="page209">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.distrudertes()" id="grandesGruposUdertes-button279" style="color:#FFFFFF;" class="button button-royal button-block">Dystruderts</a>
    <a ui-sref="menu.hapludertes()" id="grandesGruposUdertes-button283" class="button button-royal button-block">Hapluderts</a>
    <div id="grandesGruposUdertes-markdown342" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Uderts
          <ul>
            <li>Dystruderts</li>
            <li>Hapluderts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>