<ion-view title="Udults Great Groups" id="page311">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.plinthudultes()" id="grandesGruposUdultes-button355" class="button button-royal button-block">Plinthudults</a>
    <a ui-sref="menu.fragiudultes()" id="grandesGruposUdultes-button360" class="button button-royal button-block">Fragiudults</a>
    <a ui-sref="menu.kandiudultes()" id="grandesGruposUdultes-button356" class="button button-royal button-block">Kandiudults</a>
    <a ui-sref="menu.kanhapludultes()" id="grandesGruposUdultes-button357" class="button button-royal button-block">Kanhapludults</a>
    <a ui-sref="menu.paleudultes()" id="grandesGruposUdultes-button358" class="button button-royal button-block">Paleudults</a>
    <a ui-sref="menu.rhodudultes()" id="grandesGruposUdultes-button361" class="button button-royal button-block">Rhodudults</a>
    <a ui-sref="menu.hapludultes()" id="grandesGruposUdultes-button359" class="button button-royal button-block">Hapludults</a>
    <div id="grandesGruposUdultes-markdown534" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Udults
          <ul>
            <li>Plinthudults</li>
            <li>Fragiudults</li>
            <li>Kandiudults</li>
            <li>Kanhapludults</li>
            <li>Paleudults</li>
            <li>Rhodudults</li>
            <li>Hapludults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>