<ion-view title="Xeralfs Great Groups" id="page411">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durixeralfes()" id="grandesGruposXeralfes-button451" class="button button-royal button-block">Durixeralfs</a>
    <a ui-sref="menu.natrixeralfes()" id="grandesGruposXeralfes-button453" class="button button-royal button-block">Natrixeralfs</a>
    <a ui-sref="menu.fragixeralfes()" id="grandesGruposXeralfes-button454" class="button button-royal button-block">Fragixeralfs</a>
    <a ui-sref="menu.plintoxeralfes()" id="grandesGruposXeralfes-button452" class="button button-royal button-block">Plinthoxeralfs</a>
    <a ui-sref="menu.rodoxeralfes()" id="grandesGruposXeralfes-button457" class="button button-royal button-block">Rhodoxeralfs</a>
    <a ui-sref="menu.palexeralfes()" id="grandesGruposXeralfes-button456" class="button button-royal button-block">Palexeralfs</a>
    <a ui-sref="menu.haploxeralfes()" id="grandesGruposXeralfes-button458" class="button button-royal button-block">Haploxeralfs</a>
    <div id="grandesGruposXeralfes-markdown718" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Xeralfs
          <ul>
            <li>Durixeralfs</li>
            <li>Natrixeralfs</li>
            <li>Fragixeralfs</li>
            <li>Plinthoxeralfs</li>
            <li>Rhodoxeralfs</li>
            <li>Palexeralfs</li>
            <li>Haploxeralfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>