<ion-view title="Ustults Great Groups" id="page318">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.plinthustultes()" id="grandesGruposUstultes-button335" class="button button-royal button-block">Plinthustults</a>
    <a ui-sref="menu.kandiustultes()" id="grandesGruposUstultes-button353" class="button button-royal button-block">Kandiustults</a>
    <a ui-sref="menu.kanhaplustultes()" id="grandesGruposUstultes-button354" class="button button-royal button-block">Kanhaplustults</a>
    <a ui-sref="menu.paleustultes()" id="grandesGruposUstultes-button362" class="button button-royal button-block">Paleustults</a>
    <a ui-sref="menu.rhodustultes()" id="grandesGruposUstultes-button363" class="button button-royal button-block">Rhodustults</a>
    <a ui-sref="menu.haplustultes()" id="grandesGruposUstultes-button364" class="button button-royal button-block">Haplustults</a>
    <div id="grandesGruposUstultes-markdown547" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Udults
          <ul>
            <li>Plinthudults</li>
            <li>Fragiudults</li>
            <li>Kandiudults</li>
            <li>Kanhapludults</li>
            <li>Paleudults</li>
            <li>Rhodudults</li>
            <li>Hapludults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>