<ion-view title="Cryolls Great Groups" id="page349">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.duricrioles()" id="grandesGruposCrioles-button397" class="button button-royal button-block">Duricryolls</a>
    <a ui-sref="menu.natricrioles()" id="grandesGruposCrioles-button398" class="button button-royal button-block">Natricryolls</a>
    <a ui-sref="menu.palecrioles()" id="grandesGruposCrioles-button399" class="button button-royal button-block">Palecryolls</a>
    <a ui-sref="menu.argicrioles()" id="grandesGruposCrioles-button400" class="button button-royal button-block">Argicryolls</a>
    <a ui-sref="menu.calcicrioles()" id="grandesGruposCrioles-button401" class="button button-royal button-block">Calcicryolls</a>
    <a ui-sref="menu.haplocrioles()" id="grandesGruposCrioles-button402" class="button button-royal button-block">Haplocryolls</a>
    <div id="grandesGruposCrioles-markdown602" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Mollisols</strong>
      </h5>

      <ul>
        <li>Cryolls
          <ul>
            <li>Duricryolls</li>
            <li>Natricryolls</li>
            <li>Palecryolls</li>
            <li>Argicryolls</li>
            <li>Calcicryolls</li>
            <li>Haplocryolls</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>