<ion-view title="Xerepts Great Groups" id="page462">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durixereptes()" id="grandesGruposXereptes-button521" class="button button-royal button-block">Durixerepts</a>
    <a ui-sref="menu.fragixereptes()" id="grandesGruposXereptes-button526" class="button button-royal button-block">Fragixerepts</a>
    <a ui-sref="menu.humuxereptes()" id="grandesGruposXereptes-button523" class="button button-royal button-block">Humuxerepts</a>
    <a ui-sref="menu.calcixereptes()" id="grandesGruposXereptes-button522" class="button button-royal button-block">Calcixerepts</a>
    <a ui-sref="menu.distroxereptes()" id="grandesGruposXereptes-button524" class="button button-royal button-block">Dystroxerepts</a>
    <a ui-sref="menu.haploxereptes()" id="grandesGruposXereptes-button525" class="button button-royal button-block">Haploxerepts</a>
    <div id="grandesGruposXereptes-markdown813" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Xerepts
          <ul>
            <li>Durixerepts</li>
            <li>Fragixerepts</li>
            <li>Humuxerepts</li>
            <li>Calcixerepts</li>
            <li>Dystroxerepts</li>
            <li>Haploxerepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>