<ion-view title="Aquolls Great Groups" id="page333">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criacuoles()" id="grandesGruposAcuoles-button366" class="button button-royal button-block">Cryaquolls</a>
    <a ui-sref="menu.duracuoles()" id="grandesGruposAcuoles-button372" class="button button-royal button-block">Duraquolls</a>
    <a ui-sref="menu.natracuoles()" id="grandesGruposAcuoles-button373" class="button button-royal button-block">Natraquolls</a>
    <a ui-sref="menu.calciacuoles()" id="grandesGruposAcuoles-button374" class="button button-royal button-block">Calciaquolls</a>
    <a ui-sref="menu.argiacuoles()" id="grandesGruposAcuoles-button368" class="button button-royal button-block">Argiaquolls</a>
    <a ui-sref="menu.epiacuoles()" id="grandesGruposAcuoles-button375" class="button button-royal button-block">Epiaquolls</a>
    <a ui-sref="menu.endoacuoles()" id="grandesGruposAcuoles-button376" class="button button-royal button-block">Endoaquolls</a>
    <div id="grandesGruposAcuoles-markdown574" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Mollisols</strong>
      </h5>

      <ul>
        <li>Aquolls
          <ul>
            <li>Cryaquolls</li>
            <li>Duraquolls</li>
            <li>Natraquolls</li>
            <li>Calciaquolls</li>
            <li>Argiaquolls</li>
            <li>Epiaquolls</li>
            <li>Endoaquolls</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>