<ion-view title="Aquults Great Groups" id="page288">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.plintacultes()" id="grandesGruposAcultes-button340" class="button button-royal button-block">Plinthaquults</a>
    <a ui-sref="menu.fragiacultes()" id="grandesGruposAcultes-button341" class="button button-royal button-block">Fragiaquults</a>
    <a ui-sref="menu.albacultes()" id="grandesGruposAcultes-button342" class="button button-royal button-block">Albaquults</a>
    <a ui-sref="menu.kandiacultes()" id="grandesGruposAcultes-button343" class="button button-royal button-block">Kandiaquults</a>
    <a ui-sref="menu.kanhaplacultes()" id="grandesGruposAcultes-button344" class="button button-royal button-block">Kanhaplaquults</a>
    <a ui-sref="menu.paleacultes()" id="grandesGruposAcultes-button345" class="button button-royal button-block">Paleaquults</a>
    <a ui-sref="menu.umbracultes()" id="grandesGruposAcultes-button346" class="button button-royal button-block">Umbraquults</a>
    <a ui-sref="menu.epiacultes()" id="grandesGruposAcultes-button347" class="button button-royal button-block">Epiaquults</a>
    <a ui-sref="menu.endoacultes()" id="grandesGruposAcultes-button348" class="button button-royal button-block">Endoaquults</a>
    <div id="grandesGruposAcultes-markdown494" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Aquults
          <ul>
            <li>Plintaquults</li>
            <li>Fragiaquults</li>
            <li>Albaquults</li>
            <li>Kandiaquults</li>
            <li>Kanhaplaquults</li>
            <li>Paleaquults</li>
            <li>Umbraquults</li>
            <li>Epiaquults</li>
            <li>Endoaquults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
