<ion-view title="Histels Great Groups" id="page29">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.folisteles()" id="grandesGruposHisteles-button10" style="color:#FFFFFF;" class="button button-royal button-block">Folistels</a>
    <a ui-sref="menu.glacisteles()" id="grandesGruposHisteles-button19" class="button button-royal button-block">Glacistels</a>
    <a ui-sref="menu.fibristeles()" id="grandesGruposHisteles-button20" class="button button-royal button-block">Fibristels</a>
    <a ui-sref="menu.hemisteles()" id="grandesGruposHisteles-button21" class="button button-royal button-block">Hemistels</a>
    <a ui-sref="menu.sapristeles()" id="grandesGruposHisteles-button23" class="button button-royal button-block">Sapristels</a>
    <div id="grandesGruposHisteles-markdown13" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisols</strong>
      </h5>

      <ul>
        <li>Histels
          <ul>
            <li>Folistels</li>
            <li>Glacistels</li>
            <li>Fibristels</li>
            <li>Hemistels</li>
            <li>Sapristels</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>