<ion-view title="Udands Great Groups" id="page521">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.placudandes()" id="grandesGruposUdandes-button557" style="color:#FFFFFF;" class="button button-royal button-block">Placudands</a>
    <a ui-sref="menu.durudandes()" id="grandesGruposUdandes-button567" style="color:#FFFFFF;" class="button button-royal button-block">Durudands</a>
    <a ui-sref="menu.melanudandes()" id="grandesGruposUdandes-button568" style="color:#FFFFFF;" class="button button-royal button-block">Melanudands</a>
    <a ui-sref="menu.hidrudandes()" id="grandesGruposUdandes-button577" style="color:#FFFFFF;" class="button button-royal button-block">Hydrudands</a>
    <a ui-sref="menu.fulvudandes()" id="grandesGruposUdandes-button578" style="color:#FFFFFF;" class="button button-royal button-block">Fulvudands</a>
    <a ui-sref="menu.hapludandes()" id="grandesGruposUdandes-button566" class="button button-royal button-block">Hapludandes</a>
    <div id="grandesGruposUdandes-markdown118" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Udands
          <ul>
            <li>Placudands</li>
            <li>Durudands</li>
            <li>Melanudands</li>
            <li>Hydrudands</li>
            <li>Fulvudands</li>
            <li>Hapludands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>