<ion-view title="Udepts Great Groups" id="page470">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sulfudeptes()" id="grandesGruposUdeptes-button529" class="button button-royal button-block">Sulfudepts</a>
    <a ui-sref="menu.durudeptes()" id="grandesGruposUdeptes-button535" class="button button-royal button-block">Durudepts</a>
    <a ui-sref="menu.fragiudeptes()" id="grandesGruposUdeptes-button530" class="button button-royal button-block">Fragiudepts</a>
    <a ui-sref="menu.humudeptes()" id="grandesGruposUdeptes-button531" class="button button-royal button-block">Humudepts</a>
    <a ui-sref="menu.eutrudeptes()" id="grandesGruposUdeptes-button532" class="button button-royal button-block">Eutrudepts</a>
    <a ui-sref="menu.distrudeptes()" id="grandesGruposUdeptes-button533" class="button button-royal button-block">Dystrudepts</a>
    <div id="grandesGruposUdeptes-markdown828" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Udepts
          <ul>
            <li>Sulfudepts</li>
            <li>Durudepts</li>
            <li>Fragiudepts</li>
            <li>Humudepts</li>
            <li>Eutrudepts</li>
            <li>Dystrudepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>