<ion-view title="Cryands Great Groups" id="page118">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.duricriandes()" id="grandesGruposCriandes-button184" style="color:#FFFFFF;" class="button button-royal button-block">Duricryands</a>
    <a ui-sref="menu.hidrocriandes()" id="grandesGruposCriandes-button185" class="button button-royal button-block">Hidrocryands</a>
    <a ui-sref="menu.melanocriandes()" id="grandesGruposCriandes-button186" class="button button-royal button-block">Melanocryands</a>
    <a ui-sref="menu.fulvicriandes()" id="grandesGruposCriandes-button187" class="button button-royal button-block">Fulvicryands</a>
    <a ui-sref="menu.vitricriandes()" id="grandesGruposCriandes-button188" class="button button-royal button-block">Vitricryands</a>
    <a ui-sref="menu.haplocriandes()" id="grandesGruposCriandes-button189" class="button button-royal button-block">Haplocryands</a>
    <div id="grandesGruposCriandes-markdown177" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Cryands
          <ul>
            <li>Duricryands</li>
            <li>Hidrocryands</li>
            <li>Melanocryands</li>
            <li>Fulvicryands</li>
            <li>Vitricryands</li>
            <li>Haplocryands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>