<ion-view title="Aquands Grat Groups" id="page116">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.gelacuandes()" id="grandesGruposAcuandes-button167" style="color:#FFFFFF;" class="button button-royal button-block">Gelaquands</a>
    <a ui-sref="menu.criacuandes()" id="grandesGruposAcuandes-button168" class="button button-royal button-block">Cryaquands</a>
    <a ui-sref="menu.placacuandes()" id="grandesGruposAcuandes-button169" class="button button-royal button-block">Placaquands</a>
    <a ui-sref="menu.duracuandes()" id="grandesGruposAcuandes-button170" class="button button-royal button-block">Duraquands</a>
    <a ui-sref="menu.vitracuandes()" id="grandesGruposAcuandes-button171" class="button button-royal button-block">Vitraquands</a>
    <a ui-sref="menu.melanacuandes()" id="grandesGruposAcuandes-button172" class="button button-royal button-block">Melanaquands</a>
    <a ui-sref="menu.epiacuandes()" id="grandesGruposAcuandes-button173" class="button button-royal button-block">Epiaquands</a>
    <a ui-sref="menu.endoacuandes()" id="grandesGruposAcuandes-button175" class="button button-royal button-block">Endoaquands</a>
    <div id="grandesGruposAcuandes-markdown175" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Aquands
          <ul>
            <li>Gelaquands</li>
            <li>Cryaquands</li>
            <li>Placaquands</li>
            <li>Duraquands</li>
            <li>Vitraquands</li>
            <li>Melanaquands</li>
            <li>Epiaquands</li>
            <li>Endoaquands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>