<ion-view title="Orthels Great Groups" id="page43">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.historteles()" id="grandesGruposOrteles-button60" style="color:#FFFFFF;" class="button button-royal button-block">Historthels</a>
    <a ui-sref="menu.acuorteles()" id="grandesGruposOrteles-button61" class="button button-royal button-block">Aquorthels</a>
    <a ui-sref="menu.anhiorteles()" id="grandesGruposOrteles-button62" class="button button-royal button-block">Anhyorthels</a>
    <a ui-sref="menu.molorteles()" id="grandesGruposOrteles-button63" class="button button-royal button-block">Mollorthels</a>
    <a ui-sref="menu.umbrorteles()" id="grandesGruposOrteles-button64" class="button button-royal button-block">Umbrorthels</a>
    <a ui-sref="menu.argiorteles()" id="grandesGruposOrteles-button67" class="button button-royal button-block">Argiorthels</a>
    <a ui-sref="menu.psammorteles()" id="grandesGruposOrteles-button65" class="button button-royal button-block">Psammorthels</a>
    <a ui-sref="menu.haplorteles()" id="grandesGruposOrteles-button66" class="button button-royal button-block">Haplorthels</a>
    <div id="grandesGruposOrteles-markdown39" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisols</strong>
      </h5>

      <ul>
        <li>Ortels
          <ul>
            <li>Historthels</li>
            <li>Aquorthels</li>
            <li>Anhyorthels</li>
            <li>Mollorthels</li>
            <li>Umbrorthels</li>
            <li>Argiorthels</li>
            <li>Psammorthels</li>
            <li>Haplorthels</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>