<ion-view title="Gypsids Great Groups" id="page237">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.petrogipsides()" id="grandesGruposGipsides-button311" class="button button-royal button-block">Petrogypsid</a>
    <a ui-sref="menu.natrigipsides()" id="grandesGruposGipsides-button312" class="button button-royal button-block">Natrigypsid</a>
    <a ui-sref="menu.argigipsides()" id="grandesGruposGipsides-button313" class="button button-royal button-block">Argigypsid</a>
    <a ui-sref="menu.calcigipsides()" id="grandesGruposGipsides-button314" class="button button-royal button-block">Calcigypsid</a>
    <a ui-sref="menu.haplogipsides()" id="grandesGruposGipsides-button315" class="button button-royal button-block">Haplogypsid</a>
    <div id="grandesGruposGipsides-markdown393" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Gypsids
          <ul>
            <li>Petrogypsids</li>
            <li>Natrigypsids</li>
            <li>Argigypsids</li>
            <li>Calcigypsids</li>
            <li>Haplogypsids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>