<ion-view title="Wasists Great Groups" id="page51">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.frasiwassistes()" id="grandesGruposWassites-button91" style="color:#FFFFFF;" class="button button-royal button-block">Frasiwassists</a>
    <a ui-sref="menu.sulfiwassistes()" id="grandesGruposWassites-button92" class="button button-royal button-block">Sulfiwassists</a>
    <a ui-sref="menu.haplowassistes()" id="grandesGruposWassites-button93" class="button button-royal button-block">Haplowassists</a>
    <div id="grandesGruposWassites-markdown54" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosols</strong>
      </h5>

      <ul>
        <li>Wassists
          <ul>
            <li>Frasiwassists</li>
            <li>Sulfiwassists</li>
            <li>Haplowassists</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>