<ion-view title="Aquents Great Groups" id="page489">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sulfacuentes()" id="grandesGruposAcuentes-button545" class="button button-royal button-block">Sulfaquents</a>
    <a ui-sref="menu.hidracuentes()" id="grandesGruposAcuentes-button546" class="button button-royal button-block">Hidraquents</a>
    <a ui-sref="menu.gelacuentes()" id="grandesGruposAcuentes-button547" class="button button-royal button-block">Gelaquents</a>
    <a ui-sref="menu.criacuentes()" id="grandesGruposAcuentes-button548" class="button button-royal button-block">Criaquents</a>
    <a ui-sref="menu.psammacuentes()" id="grandesGruposAcuentes-button550" class="button button-royal button-block">Psammaquents</a>
    <a ui-sref="menu.fluvacuentes()" id="grandesGruposAcuentes-button551" class="button button-royal button-block">Fluvaquents</a>
    <a ui-sref="menu.epiacuentes()" id="grandesGruposAcuentes-button549" class="button button-royal button-block">Epiaquents</a>
    <a ui-sref="menu.endoacuentes()" id="grandesGruposAcuentes-button552" class="button button-royal button-block">Endoaquents</a>
    <div id="grandesGruposAcuentes-markdown863" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Aquents
          <ul>
            <li>Sulfaquents</li>
            <li>Hydraquents</li>
            <li>Gelaquents</li>
            <li>Cryaquents</li>
            <li>Psammaquents</li>
            <li>Fluvaquents</li>
            <li>Epiaquents</li>
            <li>Endoaquents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>