<ion-view title="Ustalfs Great Groups" id="page402">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durustalfes()" id="grandesGruposUstalfes-button461" class="button button-royal button-block">Durustalfs</a>
    <a ui-sref="menu.plintustalfes()" id="grandesGruposUstalfes-button462" class="button button-royal button-block">Plinthustalfs</a>
    <a ui-sref="menu.natrustalfes()" id="grandesGruposUstalfes-button463" class="button button-royal button-block">Natrustalfs</a>
    <a ui-sref="menu.kandiustalfes()" id="grandesGruposUstalfes-button464" class="button button-royal button-block">Kandiustalfs</a>
    <a ui-sref="menu.kanhaplustalfes()" id="grandesGruposUstalfes-button465" class="button button-royal button-block">Kanhaplustalfs</a>
    <a ui-sref="menu.paleustalfes()" id="grandesGruposUstalfes-button466" class="button button-royal button-block">Paleustalfs</a>
    <a ui-sref="menu.rodustalfes()" id="grandesGruposUstalfes-button467" class="button button-royal button-block">Rhodustalfs</a>
    <a ui-sref="menu.haplustalfes()" id="grandesGruposUstalfes-button468" class="button button-royal button-block">Haplustalfs</a>
    <div id="grandesGruposUstalfes-markdown701" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Ustalfs
          <ul>
            <li>Durustalfs</li>
            <li>Plinthustalfs</li>
            <li>Natrustalfs</li>
            <li>Kandiustalfs</li>
            <li>Kanhaplustalfs</li>
            <li>Paleustalfs</li>
            <li>Rhodustalfs</li>
            <li>Haplustalfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>