<ion-view title="Agric (horizon)" id="page517">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Agric Horizon:</b>
      <br> (from agriculture).
      <a ui-sref="menu.iluviaciNIluvial">Iluvial</a> horizon formed under cultivation, with illuvial
accumulation of silt, clay, and humus.<br><br>

<b>Generalized Characteristics</b><br>
&nbsp &nbsp &nbsp1) Horizon is directly below a plow layer.<br>
&nbsp &nbsp &nbsp2) Thickness is > 10 cm.<br>
&nbsp &nbsp &nbsp3) Horizon has illuvial silt/clay/humus (with color value of < 4 moist and
chroma of < 2) as wormhole linings or thin lenses comprising > 5%, by
volume.

	</p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.cambioTexturalAbrupto()" id="Grico-button593" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="Grico-button594" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.Lbico()" id="Grico-button595" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>