<ion-view title="Gypsic (horizon)" id="page554">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The gypsic horizon is a horizon with an accumulation of gypsum. It typically is
		in the subsoil but may be at the surface in some soils. Gypsic horizons form in
		arid or semiarid environments and are typically associated with gypsiferous
		parent materials.<br><br>
		Generalized Characteristics <br>
&nbsp &nbsp &nbsp1. Thickness is > 15 cm.<br>
&nbsp &nbsp &nbsp2. Horizon has > 1% visible secondary gypsum and > 5% gypsum (by weight). <br>
 &nbsp &nbsp &nbsp3.(Gypsum % wt.) X (thickness in cm) > 150. (For example, if gypsum
is 6% and thickness is 20 cm: 6% gypsum X 20 cm = 120; example
fails gypsic).<br>
&nbsp &nbsp &nbsp4. Horizon has as no, or minimal, cementation (air-dry fragments disintegrate
when submerged in water).
		
		
		</p>
    </div>
    <div>
      <img src="img/E8eCBqES9WrxAzPHi6hX_Horizontegpsico.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.glSsicoHorizonte()" id="gypsicoHorizonte-button707" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="gypsicoHorizonte-button708" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.hMicoMaterial()" id="gypsicoHorizonte-button709" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>