<ion-view title="Halaquepts" id="page427">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify"></p>
      <ul>
        <li>• With
          <a ui-sref="menu.sLicoHorizonte">salic</a> horizon
        </li> or
        <li>• In one or more horizons with a total thickness of 25
cm or more within 50 cm of the mineral soil surface, an <a ui-sref="menu.pSIPorcentajeSodioInterc">ESP</a>
 of 15 or more (or a sodium adsorption ratio [SAR] of 13 or more) and a
decrease in ESP (or SAR) values with increasing depth
below 50 cm.
           </li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/CDh3ELpLSPu7sAkND82m_HalacueptINTACorrientes.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="halacueptes-markdown749" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Aquept
          <ul>
            <li>Halaquept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>