<ion-view title="Haplosaprists" id="page69">
  <ion-content padding="true" class="has-header">
    <div id="haplosapristes-markdown86" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Saprists.</p>

      <hr>
    </div>
    <div>
      <img src="img/cmZLcNZfRwTmtbui51Gz_Haplosaprist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplosapristes-markdown87" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosols</strong>
      </h5>

      <ul>
        <li>Saprists
          <ul>
            <li>Haplosaprists</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>