<ion-view title="Haploxerults" id="page320">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Other Xerults.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/neqCEmNTQFufaAbshoGk_Haploxerult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haploxerultes-markdown551" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Xerults
          <ul>
            <li>Haploxerults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>