<ion-view title="Haplargids" id="page262">
  <ion-content padding="true" class="has-header">
    <div id="haplargides-markdown440" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Argids.</p>

      <hr>
    </div>
    <div>
      <img src="img/Vmj00wTbTbCYTZRKJyCJ_Haplargid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplargides-markdown441" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Argids
          <ul>
            <li>Haplargids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>