<ion-view title="Haplustepts" id="page453">
  <ion-content padding="true" class="has-header">
    <div id="haplusteptes-markdown796" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Ustepts.</p>

      <hr>
    </div>
    <div>
      <img src="img/pwNeE0e3SaaW2y605gGU_Haplustept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplusteptes-markdown797" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Ustepts
          <ul>
            <li>Haplustepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>