<ion-view title="Haplocryods" id="page98">
  <ion-content padding="true" class="has-header">
    <div id="haplocriodes-markdown140" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Cryods.</p>

      <hr>
    </div>
    <div>
      <img src="img/vE7upTmvSG2mb664Lank_Haplocriod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplocriodes-markdown141" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododols</strong>
      </h5>

      <ul>
        <li>Cryods
          <ul>
            <li>Haplocryods</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>