<ion-view title="Haplustolls" id="page366">
  <ion-content padding="true" class="has-header">
    <div id="haplustoles-markdown634" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Ustolls. <br>
	  </p>

      <hr>
    </div>
    <div>
      <img src="img/3biJacFZSc29qwPEAzLs_Haplustol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplustoles-markdown635" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Mollisols</strong>
      </h5>

      <ul>
        <li>Ustolls
          <ul>
            <li>Haplustolls</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>