<ion-view title="Haplustalfs" id="page401">
  <ion-content padding="true" class="has-header">
    <div id="haplustalfes-markdown699" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Ustalfs.</p>

      <hr>
    </div>
    <div>
      <img src="img/ZVTZbyCsTjKxpgPSyOn7_Haplustalf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplustalfes-markdown700" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Ustalfs
          <ul>
            <li>Haplustalfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>