<ion-view title="Hapludands" id="page153">
  <ion-content padding="true" class="has-header">
    <div id="hapludandes-markdown241" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Udands.</p>

      <hr>
    </div>
    <div>
      <img src="img/vcixyJn1QEGH761gVOJe_Hapludand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="hapludandes-markdown242" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Udands
          <ul>
            <li>Hapludands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>