<ion-view title="Haploxererts" id="page214">
  <ion-content padding="true" class="has-header">
    <div id="haploxerertes-markdown351" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Xererts.</p>

      <hr>
    </div>
    <div>
      <img src="img/qJl7QOkATAC6Eg7YR6Xg_Haploxerert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haploxerertes-markdown352" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisols</strong>
      </h5>

      <ul>
        <li>Xererts
          <ul>
            <li>Haploxererts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>