<ion-view title="Haplodurids" id="page251">
  <ion-content padding="true" class="has-header">
    <div id="haplodurides-markdown417" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Durids.</p>

      <hr>
    </div>
    <div>
      <img src="img/RqNIAaTwyhYxHJAYYiXA_Haplodurid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplodurides-markdown418" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Durids
          <ul>
            <li>Haplodurids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>