<ion-view title="Haplogelepts" id="page440">
  <ion-content padding="true" class="has-header">
    <div id="haplogeleptes-markdown772" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Gelepts.</p>

      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="haplogeleptes-markdown773" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Gelepts
          <ul>
            <li>Haplogelepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>