<ion-view title="Haplohemists" id="page74">
  <ion-content padding="true" class="has-header">
    <div id="haplohemistes-markdown96" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Hemists.</p>

      <hr>
    </div>
    <div>
    <img src="img/Haplohemist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div> 
    <p align="center"><small>Image: Padana Barus</small></p> 
    <div id="haplohemistes-markdown97" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosols</strong>
      </h5>

      <ul>
        <li>Hemists
          <ul>
            <li>Haplohemists</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
