<ion-view title="Hemistels" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Are predominantly composed of <a ui-sref="menu.hMicoMaterial">hemic soil materials</a> to a depth of 50 cm or more.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="hemisteles-markdown22" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisols</strong>
      </h5>

      <ul>
        <li>Histels
          <ul>
            <li>Hemistels</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>