<ion-view title="Hydrudands" id="page151">
  <ion-content padding="true" class="has-header">
    <div id="hidrudandes-markdown237" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A very high water-holding capacity within the upper
100 cm. <br>
Water held at 1500 kPa tension is > 100% (by weight) on
undried samples.</p>

      <hr>
    </div>
    <div>
      <img src="img/b0Zb98ApQoOZGnjtqQuw_Hidrudand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="hidrudandes-markdown238" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Udands
          <ul>
            <li>Hydrudands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>