<ion-view title="Hydraquents" id="page482">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Other Aquents that have at a depth between 20 and 50 cm below the mineral soil surface:
      </p>
      <ul>
        <li>&nbsp &nbsp &nbsp • 8 percent or more clay in the fine earth fraction and</li>
        <li>&nbsp &nbsp &nbsp •
          <a ui-sref="menu.valorN"> n value</a> &gt; 0,7.</li>
      </ul>
      <hr>
      <p></p>
    </div>
    <div>
    <img src="img/Hidracuent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div> 
    <p align="center"><small>Image: Plogeo (via Wikimedia)</small></p> 
    <div id="hidracuentes-markdown850" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Aquents
          <ul>
            <li>Hydraquents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
