<ion-view title="Hydrowassents" id="page476">
  <ion-content padding="true" class="has-header">
    <div>
      <p> A low load-bearing capacity (flows when
compressed)<br>
        Between 20 and 50 cm below the mineral soil surface:
      </p>
      <ul>
        <li>• 8 percent or more clay in the fine earth fraction and</li>
        <li>•
          <a ui-sref="menu.valorN">n Value</a> &gt; 0.7.</li>
      </ul>
      <hr>
      <p></p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="hidrowassentes-markdown839" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Wassents
          <ul>
            <li>Hydrowassents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>