<ion-view title="Hydromorphic Soils" id="page556">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Soils developed in environments under prolonged <a ui-sref="menu.saturaciNAgua">water saturation</a> and seasonal alternational between water logging and drainage.<br> 
	  Their morphology is chacterized by the pressence of <a ui-sref="menu.rasgosRedoximRficos">redoximorphyc features</a>. <br>
	  These water saturation cycles affect the O<sub>2</sub> suply and consecuently the oxidation 
	  state of iron, manganese and sulfur that strongly influences their solubility and colour, explaining the brown, 
	   gray, blue, black and yellow mottles typical in hydromorphyc soils.
	  	  
	  </p>
    </div>
	  
<div>
<img src="img/Hidromorfismo.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
</div> 
	  
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
      <a ui-sref="menu.humilVicosMateriales()" id="hidromorfismo-button713" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="hidromorfismo-button714" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.hipertRmico()" id="hidromorfismo-button715" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
	 </ion-footer-bar>
  
</ion-view>
