<ion-view title="Hyperthermic" id="page557">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> At a depth of 50 cm below the soil surface (or at the upper boundary of a
root-limiting layer) a mean annual soil temperature &#62 &#61 22 ºC. <br>
A difference in soil temperature of
6 ºC or more between mean summer (June, July, and August
in the Northern Hemisphere) and mean winter (December,
January, and February in the Northern Hemisphere).</p>
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.hidromorfismo()" id="hipertRmico-button719" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="hipertRmico-button720" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.carbonatosSecundariosIdentificables()" id="hipertRmico-button721" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>