<ion-view title="Histoturbels" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>Turbels that have, in 30 percent or more of the pedon,
more than 40 percent, by volume, organic soil materials from the soil surface to a depth of 50 cm which meet the saturation
requirement for a <a ui-sref="menu.hSticoHorizonte">histic</a> <a ui-sref="menu.epipedN">epipedon</a>.
      
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/9aKupsFSdiyzeZudkrdB_Histoturbel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="histoturbeles-markdown41" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisols</strong>
      </h5>

      <ul>
        <li>Turbels
          <ul>
            <li>Histoturbels</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>