<ion-view title="Histels" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
	  <li>Gelisols that have organic soil materials that meet one or
more of the following:</li>
        <li>
          • Overlie cindery, fragmental, or pumiceous materials
and/or fill their interstices and directly below these materials
have either a densic, lithic, or paralithic contact; or</li>
        <li>•
          When added with the underlying cindery, fragmental, or
pumiceous materials, total 40 cm or more between the soil
surface and a depth of 50 cm; or
        </li>
        <li>• Comprise 80 percent or more, by volume, from the soil
surface to a depth of 50 cm or to a glacic layer or a densic,
lithic, or paralithic contact, whichever is shallower.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/xIjZ98QITjaRcQ94jEEm_Fibristel.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div id="histeles-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil an Histel?</p>
    </div>
    <div id="histeles-button-bar3" class="button-bar">
      <a ui-sref="menu.subRdenesGelisoles()" id="histeles-button31" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposHisteles()" id="histeles-button35" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>