<ion-view title="Diagnostic horizons and characteristics" id="page628">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
	  The classes of Soil Taxonomy are based largely on the presence of diagnostic horizons and characteristics.<br>
	  These diagnostic horizons 
	  and characteristics reflect the important pedogenic processes that are either occurring now, or have occurred in the past, to
	 produce the kinds of soil profiles we see today. <br>
	 There are horizons and diagnostic characteristics for mineral soils, 
	 for organic soils and others that are common to both.<br><br>
        <b>Diagnostic Horizons</b>
        <br> Diagnostic horizons are divided into <a ui-sref="menu.epipedN">epipedons</a> and <a ui-sref="menu.endopedones">diagnostic subsurface horizons</a>.
        <br>Diagnostic horizons are defined by quantifiable variables (morphological or analytical).
        <br>The diagnostic horizons are not equivalent to the genetic horizons (A, E, B, etc.).
        <br>
        <br>
      </p>
      <hr>

      <b>Diagnostic Characteristics</b>
      <br>
      <p align="justify">They are other properties of the soil that do not constitute horizons in themselves. 
	  <a ui-sref="menu.caracterSticasDeDiagnStico">Here</a> you can find a list of them.
        <br> 

      </p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.contactoDNsico()" id="sphagnum-button836" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" id="sphagnum-button837" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
	<a ui-sref="menu.caracterSticasDeDiagnStico()" id="sphagnum-button838" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
	</div>
  </ion-footer-bar>
</ion-view>