<ion-view title="Histic horizon" id="page558">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">A saturated horizon that formed in organic materials. <br><br>
	  
	  <b>Generalized Characteristics</b><br>
	  <div style="padding-left:10px;">
	1) Poorly drained (<a ui-sref="menu.saturaciNAgua">saturated</a> &ge; 30 days cumulative annually), and<br>
	2) High in organic material (generally &gt;&#126 15% O.C., by weight, depending on<br>
		clay content), and<br>
	3) At least 20 cm thick.</div>
       </p>
    </div>
    <div>
      <img src="img/l3OCygySuGRELphSdwr9_histico200aos200suelos.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
   
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.hMicoMaterial()" id="hSticoHorizonte-button722" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="hSticoHorizonte-button723" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.hue()" id="hSticoHorizonte-button724" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>