<ion-view title="Hue" id="page639">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      It is one of the three variables that define color in the Munsell system. It is the dominant color of the spectrum and 
	  is related to the dominant wavelength of light.
    </p>
    <div>
      <img src="img/h4OS3B9QRHyBTz7rRHfo_Munsellcolorsystem.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <font size="-2">
        Image from Wikipedia</font>
    </p>
      
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	   <a ui-sref="menu.hSticoHorizonte()" id="hue-button873" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="hue-button874" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.humilVicosMateriales()" id="hue-button875" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>