<ion-view title="Humicryods" id="page96">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        These soils have &ge; 6.0% organic carbon in a layer &ge; 10 cm thick within the
<a ui-sref="menu.spDicoHorizonte">spodic</a> horizon.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/Humicriod.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <p align=center><small>Imagen: Skye Cooley</small></p>
    <div id="humicriodes-markdown137" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododols</strong>
      </h5>

      <ul>
        <li>Cryods
          <ul>
            <li>Humicryods</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
