<ion-view title="Humicryepts" id="page443">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        With
        
        <a ui-sref="menu.mLicoHorizonte">mollic</a> or
        <a ui-sref="menu.MbricoHorizonte">umbric</a> <a ui-sref="menu.epipedN">epipedon</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/WC6iHTbTCWmvu8nVwwm9_Humicriept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="humicrieptes-markdown778" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Cryepts
          <ul>
            <li>Humicryepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>