<ion-view title="Humigelods" id="page92">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
         These soils have &ge; 6.0% organic carbon in a layer &ge; 10 cm thick within the
<a ui-sref="menu.spDicoHorizonte">spodic</a> horizon.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/pWxttsTEqyhLqDplM5Hw_Humigelod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="humigelodes-markdown129" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododols</strong>
      </h5>

      <ul>
        <li>Gelods
          <ul>
            <li>Humigelods</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>