<ion-view title="Humilluvic materials" id="page604">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Humilluvic materials</b>
      <br> Humilluvic material, i.e., <a ui-sref="menu.iluviaciNIluvial">illuvial</a> humus, accumulates in the
		lower parts of some organic soils that are acid and have been
		drained and cultivated.<br>
		The humilluvic material has a C<sup>14</sup> age
		that is not older than the overlying organic materials. It has very
		high solubility in sodium pyrophosphate and rewets very slowly
		after drying. Most commonly, it accumulates near a contact with
		a sandy mineral horizon.
		<br>To be recognized as a differentia in classification, the
		humilluvic material must constitute one-half or more (by
		volume) of a layer 2 cm or more thick.
		
       </p>
         
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.hue()" id="humilVicosMateriales-button725" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="humilVicosMateriales-button726" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.hidromorfismo()" id="humilVicosMateriales-button727" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>