<ion-view title="Humods" id="page78">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>These soils have &ge; 6.0% organic carbon in a layer &ge; 10 cm thick within the
<a ui-sref="menu.spDicoHorizonte">spodic</a> horizon.</li>
        <li>Well drained.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/Lu1NNEmSfy8AG9n7mDsQ_Haplohumod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="humodes-markdown106" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil an Humod?</p>
    </div>
    <div id="humodes-button-bar24" class="button-bar">
      <a ui-sref="menu.subRdenesSpodosoles()" id="humodes-button117" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposHumodes()" id="humodes-button118" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>