<ion-view title="Humustepts" id="page451">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        With
        
        <a ui-sref="menu.mLicoHorizonte">mollic</a> or
        <a ui-sref="menu.MbricoHorizonte">umbric</a> <a ui-sref="menu.epipedN">epipedon</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/EYTKVjfmQOO9onbBcZNy_Humustept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="humusteptes-markdown793" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Ustepts
          <ul>
            <li>Humustepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>