<ion-view title="Humults" id="page283">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
	  High amounts of organic carbon in the subsoil. <br>
	  These soils have &gt; 0.9% organic carbon in the upper 15 cm of the of the <a ui-sref="menu.argLicoHorizonte">argillic</a> or
	  <a ui-sref="menu.kNdicoHorizonte">kandic</a> horizon,
		or they have &gt; 12 kg/m<sup>2</sup> in the upper 100 cm of the profile.
       
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/fIQY0YO6SpyuMtqdlOfM_Palehumult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="humultes-markdown485" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil an Humult?</p>
    </div>
    <div id="humultes-button-bar54" class="button-bar">
      <a ui-sref="menu.subRdenesUltisoles()" id="humultes-button327" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposHumultes()" id="humultes-button331" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>