<ion-view title="Humixerepts" id="page458">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        With
        
        <a ui-sref="menu.mLicoHorizonte">mollic</a> or
        <a ui-sref="menu.MbricoHorizonte">umbric</a> <a ui-sref="menu.epipedN">epipedon</a>..
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="humuxereptes-markdown806" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Xerepts
          <ul>
            <li>Humixerepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>