<ion-view title="Illuviation / Illuvial" id="page640">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>
        <u>Illuviation</u>
      </b>
      <br>Enrichment of a horizon with materials from another horizon transported by the flow of water in the soil.<br>
	  These materials can be, silicate clays, organic matter, iron, calcium carbonates among others. <br>
	  Illuviation involves translocation and reactions that immobilize the translocated constituent.
	   
      <br>
	  
	  
	  <br>
      <b>
        <u>Illuvial horizon</u>
      </b>
      <br> An illuvial horizon is one in which the materials transported by the illuviation have accumulated.
    </p>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.carbonatosSecundariosIdentificables()" id="iluviaciNIluvial-button876" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="iluviaciNIluvial-button877" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.interdigitacionesDeMatLbicos()" id="iluviaciNIluvial-button878" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>