<ion-view title="Start" id="page1">
  <ion-content padding="true" style="background: url(img/lEThPQpR42eBQfZ5GTtL_fondo2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="inicio-heading2" style="color:#1C1748;font-weight:600;text-align:center;">Introduction</h3>
    <div>
      <p align="justify">
        <font color="#1C1748">This application has been designed to facilitate the interpretation, learning and use of soil classification
		according to the 12th edition of the Keys to Soil Taxonomy (<a href="https://www.nrcs.usda.gov/wps/PA_NRCSConsumption/download?cid=stelprdb1252094&ext=pdf">pdf download</a>). Through an agile and interactive access, 
		  it allows to identify the main properties of the soils up to the taxonomic level of the Great Group although it does not intend to 
		  replace the keys for the classification of the soils.</font>
      </p>
      <hr>
    </div>
    <div>
      <p align="justify">
        <font color="#1e1e15">
          <b>
            <font size="4">What is a soil?</font>
          </b>
          <br>
          <br> Since 2017 there is a new definition of soil:<br>"The layer(s) of generally loose mineral
		and/or organic material that are affected by physical, chemical, and/or bio-
		logical processes at or near the planetary surface and usually hold liquids,
		gases, and biota and support plants" (van Es, 2017).<br>
			According to Soil Taxonomy the upper limit of soil is the boundary between soil and
			either air, shallow water, live plants, or plant materials that
			have not begun to decompose. Areas are not considered to have
			soil if the surface is permanently covered by water too deep
			(typically more than about 2.5 m) for the growth of rooted
			plants. The horizontal boundaries of soil are areas where the soil
			grades to deep water, barren areas, rock, or ice.<br>
			The lower boundary that separates soil from the nonsoil
			underneath is more difficult to define. Soil consists of the
			horizons near the surface that, in contrast to the
			underlying parent material, have been altered by the interactions
			of climate, relief, and living organisms over time. Commonly,
			soil grades at its lower boundary to hard rock or to earthy
			materials virtually devoid of animals, roots, or other marks
			of biological activity. The lowest depth of biological activity,
			however, is difficult to discern and is often gradual. For
			the practicality of soil survey, the lower boundary of soil is
			arbitrarily set at 200 cm.
			</font>
      </p>
      <br>

    </div>
    <div>
      <img src="img/NcHMZVczRcqt7JwQmsxo_pedonirregular.png" style="display: block; width: auto; height: 200px; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p align="justify">
      </p>
      <p style="FONT-SIZE:12px; COLOR:#1e1e15; LINE-HEIGHT:13px; FONT-FAMILY:bahnschrift,sans-serif; text-align:justify"> Basic scheme of a pedon, 
	  the smallest, three-dimensional unit at the surface of the earth that is considered as a soil. </p>
      <br>
    </div>
    <div>
      <hr>
      <p align="justify">
        <font color="#1C1748">
          <b>
            <font size="3">Why are soils classified?</font>
          </b>
          <br>
          <br> • To organize knowledge and allow the effective transmission of knowledge among different people.
		  <br> • To facilitate research in a logical and understandable manner.
          <br> • To group them in similar classes according to some scientific or professional objective.
          <br> • To constitute, together with the Cartography, a base for practical applications.
        </font>
      </p>
      <hr>

    </div>
    <div>
      <p align="justify">
        <font color="#1e1e15">
          <b>
            <font size="3">Soil Taxonomy System</font>
          </b>
          <br>
          <br> The Soil Taxonomy System has six levels of classification. They are, from most general to specific: order, suborder, great group, subgroup, family and series. 
		  The system is based on the definition of <a ui-sref="menu.horizontesYCaracterSticasDeDiagnStico">diagnostic horizons and characteristics</a> for mineral and organic soils. 
		  Each horizon or diagnostic feature are defined one or several quantifiable properties whether they are: morphological (thickness, color, texture, etc.), 
		  physical (humidity and temperature regimes, among others), physicochemical (pH, base saturation, CEC, etc.), 
		  chemicals (carbon content, phosphates, etc.) or mineralogical (mineralogy of clays etc.).
		  
		 
		 
          <br> The order is the highest level of hierarchy in the Soil Taxonomy classification system and is the level that 
		  uses the least amount of information for its definition. 12 orders are recognized. To classify a soil, the user of 
		  the system must begin by checking if the soil complies with all the properties required by the first Order of the 
		  key (Gelisols), in case of not fulfilling them, it must do the same with the following order (Histosols) and so on 
		  until the order is found for which the soil meets all the required properties.Once the soil is located within an
		  order, the suborder is identified in the same way, then the great group, the subgroup and family until reaching the 
		  last taxonomic level that is the series, the taxa that uses the most amount of information for its definition. 
		  With this application you only get to the identification of the great group of a soil.
        </font>
      </p>
      <hr>

    </div>
    <div>
      <a style="display:block;" ui-sref="menu.usoDeSoilTaxonomy()">
        <img src="img/UnAaqc0GTXS4ghKKaYMF_MapaSoilTaxonomy2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <p align="center">
        <font color="black">
          <small>Countries where Soil Taxonomy is used.
            <br> Adapted from West et al. (2017). The Soils of the USA.
          </small>
        </font>
      </p>
      <hr>
    </div>
    <p align="justify">
      <font color="#1C1748">
        <b>
          <font size="3">Sintax of a soil Great Group name.</font>
        </b>
        <br>
        <br> The name at the level of Great Group is denominated with a single word 
		constituted by three formative elements. Each formative element identifies 
		the Order, Suborder and Great Group respectively. To identify each of the taxa
		that make up the name, the reading is done from right to left: the formative 
		element located to the right of the word identifies the Order, the middle one, 
		the Suborder and the left one the Great Group.

      </font>
    </p>
    <div>
      <font color="#1C1748">
        <u>For example:</u>
        <br>
      </font>
      <p align="center">
        <b>
          <font size="5" color="black">Argi</font>
          <font size="5" color="#008000">ud</font>
          <font size="5" color="#660000">oll</font>
        </b>
        <br>
      </p>
    </div>
    <div>
      <br>

      <p align="justify">•
        <b>
          <font color="#660000">oll</font>
        </b>
        <font color="#1C1748">: <u>Order</u> formative element: Mollisol</font>
        <br> •
        <b>
          <font color="#008000">ud</font>
        </b>
        <font color="#1C1748">: <u>Suborder</u> formative element: Udoll</font>
        <br> •
        <b>
          <font color="black">Argi</font>
        </b>
        <font color="#1C1748">: <u>Great group </u>formative element: Argiudoll</font>
        <br>

      </p>
      <hr>





    </div>
    <div>


      <font color="#1C1748">Here you can consult the training elements of the
        <a ui-sref="menu.elementosFormativosOrden">orders</a>,
        <a ui-sref="menu.elementosFormativosSuborden">suborders</a>, and
        <a ui-sref="menu.elementosFormativosGG">great groups</a>
      </font>.
      <br>
      <br>

    </div>
  </ion-content>
</ion-view>
