<ion-view title="Interfingering of albic materials" id="page559">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Narrow penetrations of light-colored, leached material into a subsoil horizon.<br>
	  Interfingering of <a ui-sref="menu.Lbico"> albic materials</a> is a soil feature consisting of thin penetrations
		of albic materials (light-colored, leached soil material) extending 5 cm or more
		into an <a ui-sref="menu.argLicoHorizonte">argillic</a>, <a ui-sref="menu.kNdicoHorizonte">kandic</a> or <a ui-sref="menu.nTricoHorizonte">natric</a> horizon.
		The penetrations are along vertical, and to a lesser degree horizontal, ped surfaces.
	  </p>
    </div>
    <div>
      <img src="img/IVEc7BXVSiEeZsHTAOAJ_InterdigitadosMAIG300.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.iluviaciNIluvial()" id="interdigitacionesDeMatLbicos-button728" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="interdigitacionesDeMatLbicos-button729" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.isofrGido()" id="interdigitacionesDeMatLbicos-button730" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>