<ion-view title="Isomesic soil temperature regime" id="page635">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Isomesic soil temperature regime</b>
      </p>
      <p align="justify"> The mean annual soil temperature is &ge; 8 °C and &lt; 15 &ordm;C.
         <br>The prefix iso means that mean summer and mean winter soil temperatures differ
			by less than 6 &ordm;C at a depth of 50 cm or at a <a ui-sref="menu.contactoDNsico">densic</a>, <a ui-sref="menu.contactoLTico">lithic</a>, or
			<a ui-sref="menu.contactoParalTico">paralithic</a> contact, whichever is shallower.</p>
    </div> 
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.isohipertRmico()" id="isomSico-button850" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="isomSico-button856" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.isotRmico()" id="isomSico-button857" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>