<ion-view title="Kandiustults" id="page316">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Without a
          <a ui-sref="menu.contactoDNsico">densic</a>,
          <a ui-sref="menu.contactoLTico">lithic</a>,
          <a ui-sref="menu.contactoParalTico">paralithic</a> o
          <a ui-sref="menu.petrofRricoContacto">petroferric</a> contact within 150 cm of the mineral soil surface.</li>
        <li>• With a
          <a ui-sref="menu.kNdicoHorizonte">kandic</a>.</li> horizon.
        <li>• The percentage of clay does not decrease from its maximum amount by as much as 20 percent within a depth of 150 cm.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/R0LnfnSmmn0mWkKbGc9w_Kandiustult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="kandiustultes-markdown544" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Ustults
          <ul>
            <li>Kandiustults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>