<ion-view title="Kandiaquults" id="page291">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Without a
          <a ui-sref="menu.contactoDNsico">densic</a>,
          <a ui-sref="menu.contactoLTico">lithic</a>,
          <a ui-sref="menu.contactoParalTico">paralithic</a> o
          <a ui-sref="menu.petrofRricoContacto">petroferric</a> contact within 150 cm of the mineral soil surface.</li>
        <li>• With a
          <a ui-sref="menu.kNdicoHorizonte">kandic</a>.</li> horizon.
        <li>• The percentage of clay does not decrease from its maximum amount by as much as 20 percent within a depth of 150 cm.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="kandiacultes-markdown496" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Aquults
          <ul>
            <li>Kandiaquults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>