<ion-view title="Kandiudalfs" id="page417">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• With a
          <a ui-sref="menu.kNdicoHorizonte">kandic</a> horizon.</li>
        <li>• Without a
          <a ui-sref="menu.contactoDNsico">densic</a>,
          <a ui-sref="menu.contactoLTico">lithic</a>,
          <a ui-sref="menu.contactoParalTico">paralithic</a> o
          <a ui-sref="menu.petrofRricoContacto">petroferric</a> contact within 150 cm of the mineral soil surface.</li>
		  <li>•Clay content must not decrease by > 20% of the maximum in the kandic horizon within 150 cm of the mineral soil surface.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="kandiudalfes-markdown730" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Udalfs
          <ul>
            <li>Kandiudalfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>