<ion-view title="Kanhapludults" id="page307">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        With a
        <a ui-sref="menu.kNdicoHorizonte">kandic</a> horizon.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/QtVg5dIhSupgK9KRStA5_Kanhapludult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="kanhapludultes-markdown527" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Udults
          <ul>
            <li>Kanhapludults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>