<ion-view title="Kanhapludalfs" id="page418">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        With a
        <a ui-sref="menu.kNdicoHorizonte">kandic</a> horizon.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/Au2m3J4zTqKJ91ZNzMyw_Kanhapludalf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="kanhapludalfes-markdown732" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Udalfs
          <ul>
            <li>Kanhapludalfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>