<ion-view title="Kandic horizon" id="page560">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Subsoil horizon with a low nutrient-holding capacity and significantly more clay than the overlying surface layer.<br><br>
	  <b>Generalized Characteristics</b><br>
<div style="padding-left:10px;"> 1) Horizon underlies a coarser textured surface layer > 18 cm thick.<br>
2) Horizon is > 30 cm thick.<br>
3) Clay percent increases significantly within a vertical distance of < 15 cm.
(Minimum required increase ranges from 4 to 8 percent, depending on the
clay content of the overlying layer.)<br>
4) Horizon begins generally at a depth of < 125 cm.<br>
5) Texture is loamy or clayey.<br>
6) < 16 and <a ui-sref="menu.cIC">CEC </a> (cation-exchange capacity) is < 16 and <a ui-sref="menu.cIC">ECEC </a> (effective cationexchange
capacity) is < 12 (cmol+ per kg clay).<br>
7) Horizon is not alluvial in nature (there is no fine stratification and organic
carbon content decreases regularly with increasing depth).</div>
          </p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.isotRmico()" id="kNdicoHorizonte-button737" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="kNdicoHorizonte-button738" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.lamela()" id="kNdicoHorizonte-button739" style="font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>