<ion-view title="Lamellae" id="page561">
  <ion-content padding="true" class="has-header">
    <p align="justify"> Lamellae consist of two or more thin layers with accumulation of <a ui-sref="menu.iluviaciNIluvial">illuvial</a> clay.<br>
Each individual lamella is associated with an overlying <a ui-sref="menu.eluviaciNEluvial">eluvial</a> layer containing
less clay than the lamella below it. Each lamella is &lt; 7.5 cm thick and commonly just a few millimeters thick.
    </p>
    <div>
      <img src="img/zoigmzERD2HdLmtbdK1t_lamelasIG300.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.kNdicoHorizonte()" id="lamela-button743" style="font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="lamela-button744" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.contactoLTico()" id="lamela-button745" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>