<ion-view title="Loess" id="page642">
  <ion-content padding="true" class="has-header">
    <p align="justify">Material transported and deposited by wind and consisting of predominantly silt-sized particles.
    </p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.discontinuidadLitolGica()" id="loess-button882" style="font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="loess-button883" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.melNicoHorizonte()" id="loess-button884" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>