<ion-view title="Gelic materials" id="page550">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Gelic materials are mineral or organic soil materials that show evidence of <a ui-sref="menu.crioturbaciN">cryoturbation</a> (frost churning) and/or ice segregation in the active layer (seasonal thaw layer) and/or the upper part of the <a ui-sref="menu.permafrost">permafrost</a>. 
         <a ui-sref="menu.crioturbaciN">Cryoturbation</a> is manifested by irregular and broken horizons, involutions, accumulation of organic matter on top of and within the <a ui-sref="menu.permafrost">permafrost</a>, oriented rock fragments, and silt-enriched layers.
         </p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.gLicoRGimenDeTemperatura()" id="materialesGLicos-button701" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="materialesGLicos-button702" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.gilgaiMicrorrelieve()" id="materialesGLicos-button703" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>