<ion-view title="Umbric (horizon)" id="page590">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Surface soil horizon similar to a <a ui-sref="menu.mLicoHorizonte">mollic</a> <a ui-sref="menu.epipedN">epipedon</a> but with a  <a ui-sref="menu.saturaciNConBases">base saturation</a> of less than 50%.
         Is a thick, dark-colored (mostly very dark brown to black) and humus-rich.
         </p>
    </div>
    <div>
      <img src="img/7Djtdr85RAmTlyR0GSv5_umbricoIG300.jpg" style="display: block; width: auto; height: 270px; margin-left: auto; margin-right: auto;">
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.DicoRGimenDeHumedad()" id="MbricoHorizonte-button833" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="MbricoHorizonte-button834" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.usticoRGimenDeHumedad()" id="MbricoHorizonte-button835" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>