<ion-view title="Melanudands" id="page150">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Have a <a ui-sref="menu.melNicoHorizonte">melanic</a> <a ui-sref="menu.epipedN">epipedon</a>.
         </p>
      <hr>
    </div>
    <div>
      <img src="img/W5e7G4bRSP6Xu5jmgtka_Melanudand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="melanudandes-markdown236" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Udands
          <ul>
            <li>Melanudands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>