<ion-view title="Mollic (horizon)" id="page564">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The mollic <a ui-sref="menu.epipedN">epipedon</a> is a thick, friable, dark-colored (moist <a ui-sref="menu.value">value</a> and <a ui-sref="menu.cromaChroma">chroma</a> are < 3 and dry <a ui-sref="menu.value">value</a> is < 5) and humus-rich (about 1% organic matter content) surface horizon. It has a high <a ui-sref="menu.saturaciNConBases">base saturation</a>
(greater than 50%) and bivalent cations are dominant on the exchange complex. When dry, horizon is not both massive and hard.
 </p>
    </div>
	<div>
	<img src="img/D8E9RULTxkbqGDdXZDQb_Argixerol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
	</div> 
	<p align="center"><small>Mollic horizon in an Argixeroll.</small></p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.mSico()" id="mLicoHorizonte-button716" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="mLicoHorizonte-button717" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.valorN()" id="mLicoHorizonte-button718" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>
