<ion-view title="Mode of use" id="page608" style="background-color:#E5E5E5;">
  <ion-content padding="true" class="has-header">
    <div>
      <b>
        <u>Classification Module</u>
      </b>
      <br>
      <br>
      <p align="justify">
       The information is organized in such a way that for each hierarchical level (Order, Suborder and Great Group) it must start from the first element of the list and in case of not corresponding to the soil to be classified, continue with the next element.
        <br>
        <br>
        <u>Example:</u> the Orders list follows the sequence:
        <br>
        <font color="blue">Gelisols -&gt; Histosols -&gt; Spodosols -&gt; Andisols -&gt; ...</font>
      </p>
      <p align="justify"> It starts with the Gelisols and it checks if the soil to be classified meets the requirements of Gelisol, in case of not fulfilling them, it continues with the Histosols and so on until the corresponding Order is found. Once the Order is defined, the same procedure is followed to define the Suborder and then the Great Group. </p>
    </div>
    <div>
      <img src="img/JDaAyJeRTiqOgTBrdbf9_diagramaflujo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="modoDeUso-markdown122" style="text-align:justify;" class="show-list-numbers-and-dots">
    <hr>
	    <p style="color:#000000;">In the initial screen of each Soil Order, in addition to the definition, there is a series of slides that includes: a photo of a soil profile, a global distribution map of that soil Order and a map of that Order in Argentina.</p>
      
         <div class="row">
	<div class="column">
    <img src="img/n92DIZ1lRJuVelGN2hus_Hapludol.jpg" style="height:125px;border:3px solid #555;"><!---Esto no sé si va a traer problemas en algunas pantallas, sino cargar imagen triple.jpg con ancho auto--->
	</div>
	<div class="column">
    <p>&nbsp;</p>
	</div>
	<div class="column">
    <img src="img/xQmoOq4DQxenwhEwimGe_Molisoles_cr300centro.jpg" style="height:125px;border:3px solid #555;">
	</div>
	<div class="column">
    <p>&nbsp;</p>
	</div>
	<div class="column">
    <img src="img/CrM89EWgSjmNibiZjJlB_Molisoles1y2.jpeg"  style="height:125px;border:3px solid #555;">
	</div>
	
 </div> 
  <p align=center>Swipe to view the next image.</p>    
      
        

      <hr>
    </div>
    <div>
      <b>
        <u>Glossary Module</u>
      </b>
      <br>
      <br>
      <p align="justify">
        The glossary can be used independently or through the links present in the definitions of the Classification module (marked in blue). If you access a glossary term from the Classification module, use the "Back" button on your phone to return to the previous screen.</p>
    </div>
  </ion-content>
</ion-view>
