<ion-view title="Mesic" id="page563">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The mean annual soil temperature is 8ºC or higher but lower than 15ºC, and the difference between mean summer and mean winter soil temperatures is 6ºC or more.
	  </p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.NdiceMelNico()" id="mSico-button752" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="mSico-button753" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.mLicoHorizonte()" id="mSico-button754" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>