<ion-view title="Melanic index" id="page641">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      The index is related to the ratio of the humic and fulvic acids in the organic fraction of the soil.
    </p>
    <div class="spacer" style="height: 310px;"></div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.melNicoHorizonte()" id="NdiceMelNico-button879" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="NdiceMelNico-button880" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.mSico()" id="NdiceMelNico-button881" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>