<ion-view title="Ortstein (horizon)" id="page568">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Consists of <a ui-sref="menu.spDicosMateriales">spodic materials</a>, Is in a layer that is 50 percent or more <a ui-sref="menu.cementaciN">cemented</a> and Is 25 mm or more thick.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.orden()" id="orsteinHorizonte-button758" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="orsteinHorizonte-button759" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.XicoHorizonte()" id="orsteinHorizonte-button760" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>