<ion-view title="Paleudolls" id="page371">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>• Do not have a <a ui-sref="menu.contactoDNsico">densic</a>, 
		<a ui-sref="menu.contactoLTico">lithic</a>, 
		<a ui-sref="menu.contactoParalTico">paralithic</a> or 
		<a ui-sref="menu.petrofRricoContacto">petroferric</a> contact within 150 cm of the mineral soil surface.		
		</li>
        <li>• An <a ui-sref="menu.argLicoHorizonte">argillic</a> horizon with clayey texture and Hue of some 7.5YR or redder colors more than 60 cm deep. </li>
        <li>• <a ui-sref="menu.frGido">Frigid</a> soil temperature regime. 
         </li>
        <li>•A <a ui-sref="menu.textura">texture</a> class finer than loamy fine sand in all horizons above the <a ui-sref="menu.argLicoHorizonte">argillic</a> horizon.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/MTgxBIdQv6dDpGV5yWFd_Paleudol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="paleudoles-markdown644" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisolls</strong>
      </h5>

      <ul>
        <li>Udolls
          <ul>
            <li>Paleudolls</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>