<ion-view title="Palecryolls" id="page345">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• An <a ui-sref="menu.argLicoHorizonte">argillic</a> horizon that has its upper boundary 60 cm or more below the mineral soil surface AND
           </li>
        <li>•A <a ui-sref="menu.textura">texture</a> class finer than loamy fine sand in all horizons above the <a ui-sref="menu.argLicoHorizonte">argillic</a> horizon.
          </li>
      </ul>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="palecrioles-markdown595" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisolls</strong>
      </h5>

      <ul>
        <li>Cryolls
          <ul>
            <li>Palecryolls</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>