<ion-view title="Paleudults" id="page308">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Within 150 cm of the mineral soil surface:
      </p>
      <ul>
        <li>• Do not have a <a ui-sref="menu.contactoDNsico">densic</a>, 
		<a ui-sref="menu.contactoLTico">lithic</a>, 
		<a ui-sref="menu.contactoParalTico">paralithic</a> or 
		<a ui-sref="menu.petrofRricoContacto">petroferric</a> contact.</li>
        <li>• Clay content that does not significantly decrease in depth.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/WobzMNZpS0G5bqg7Eg60_Paleudult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="paleudultes-markdown529" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Udults
          <ul>
            <li>Paleudults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>