<ion-view title="Paleustults" id="page314">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Within 150 cm of the mineral soil surface:
      </p>
      <ul>
        <li>• Do not have a <a ui-sref="menu.contactoDNsico">densic</a>, 
		<a ui-sref="menu.contactoLTico">lithic</a>, 
		<a ui-sref="menu.contactoParalTico">paralithic</a> or 
		<a ui-sref="menu.petrofRricoContacto">petroferric</a> contact.</li>
        <li>• Clay content that does not significantly decrease in depth.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="paleustultes-markdown540" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Ustults
          <ul>
            <li>Paleustults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>