<ion-view title="Perudic" id="page598">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">The perudic (L. per, throughout in time, and L. udus, humid) moisture regime is a special type of <a ui-sref="menu.DicoRGimenDeHumedad">udic</a> regime.
	          
        <br>Regime characteristic of areas where precipitation exceeds evapotranspiration every month.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.permafrost()" id="perDico-button779" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="perDico-button780" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.petrocLcicoHorizonte()" id="perDico-button781" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>