<ion-view title="Permafrost" id="page572">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Permafrost is defined as a thermal condition in which a material (including soil material) remains below 0 °C for 2 or more years in succession. Those <a ui-sref="menu.materialesGLicos">gelic materials</a> having permafrost contain the unfrozen soil solution that drives cryopedogenic processes. 
	          <br>Permafrost may be impregnated by ice or, in the case of insufficient interstitial water, may be dry.</p>
    </div>
    <div>
      <img src="img/vYZqmldEQ5ihJrSTLrfi_Permafrost.jpg" style="display: block; width: auto; height: 270px; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.pergLico()" id="permafrost-button776" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="permafrost-button777" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.perDico()" id="permafrost-button778" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>