<ion-view title="Perox" id="page159">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• A <a ui-sref="menu.perDico">perudic</a> soil moisture regime.          .
        </li>
        <li>• More total precipitation than evaporation each month. </li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/x19DBpasTEy9cSBrZRsE_Acroperox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="peroxes-markdown253" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil a Perox?</p>
    </div>
    <div id="peroxes-button-bar37" class="button-bar">
      <a ui-sref="menu.subRdenesOxisoles()" id="peroxes-button212" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposPeroxes()" id="peroxes-button213" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>
