<ion-view title="Petrogypsic (horizon)" id="page574">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The petrogypsic horizon is a root-restrictive subsoil horizon that is <a ui-sref="menu.cementaciN">cemented</a> by gypsum. The horizon is essentially an advanced-stage <a ui-sref="menu.gypsicoHorizonte">gypsic</a> horizon where so much secondary gypsum has accumulated in the layer that the pores have become plugged and cemented.
	  Commonly, the gypsum was naturally occurring in the parent materials, where it was dissolved and reprecipitated locally within the horizon. Petrogypsic horizons are commonly found in arid or semiarid environments where deep leaching and removal of soluble salts like gypsum does not take place.</p>
    </div>
    <div>
      <img src="img/TPQxnEQtqXcg4SMF8VQZ_HorizontepegipsicoST350px.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <font size="-2">Image: Soil Survey Staff (NRCS-USDA)</font>
    </p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.petrofRricoContacto()" id="petrogPsicoHorizonte-button788" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="petrogPsicoHorizonte-button789" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.plCicoHorizonte()" id="petrogPsicoHorizonte-button790" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>