<ion-view title="Petrogypsids" id="page252">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Have have a <a ui-sref="menu.petrogPsicoHorizonte">petrogypsic</a> or <a ui-sref="menu.petrocLcicoHorizonte">petrocalcic</a> horizon within 100 cm of the soil surface.
         </p>
      <hr>
    </div>
    <div>
      <img src="img/ea4gL5SVRiqTIwkK4PlB_Petrogipsid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="petrogipsides-markdown420" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisols</strong>
      </h5>

      <ul>
        <li>Gypsids
          <ul>
            <li>Petrogypsids</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>