<ion-view title="Petraquepts" id="page426">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        Have, within 100 cm of the mineral soil surface, one or more horizons in which <a ui-sref="menu.plintita">plinthite</a> or a <a ui-sref="menu.cementaciN">cemented</a> diagnostic horizon either forms a continuous phase or constitutes one-half or more of the volume.
		      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="petracueptes-markdown747" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Aquepts
          <ul>
            <li>Petraquepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>