<ion-view title="Petroferric (contact)" id="page605">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify"> A petroferric (Gr. petra, rock, and L. ferrum, iron; implying ironstone) contact is a boundary between soil and a continuous layer of indurated material in which iron is an important cement and organic matter is either absent or present only in traces. 
        <br>  The indurated layer must be continuous within the limits of each pedon, but it may be fractured if the average lateral distance between fractures is 10 cm or more.
        <br>

        <br>
        <u>
          <b>Several features can aid in making the distinction between a lithic contact and a petroferric contact:</b>
        </u>
      </p>
      <ul>
        <li>
          <p align="justify">• a petroferric contact is roughly horizontal,</p>
        </li>
        <li>
          <p align="justify"> • the material directly below a petroferric contact contains a high amount of iron (normally 30 percent or more Fe   
            <sub>2</sub>O
            <sub>3</sub>).</p>
        </li>
      </ul>
    </div>
	  
<div>
<img src="img/ContactoPetroferrico.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
</div> 
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.petrocLcicoHorizonte()" id="petrofRricoContacto-button650" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="petrofRricoContacto-button651" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.petrogPsicoHorizonte()" id="petrofRricoContacto-button652" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>
