<ion-view title="Placaquands" id="page126">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">Have, in half or more of each pedon, a <a ui-sref="menu.plCicoHorizonte">placic</a> horizon within 100 cm of the mineral soil surface or of  the top of an organic layer with <a ui-sref="menu.Ndico">andic soil properties</a>, whichever is shallower.	 </p>
      <hr>
    </div>
    <div>
  <img src="img/Placacuand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
  </div>
     <p align="center"><small>Image: Osvaldo Salazar (@fertisuelo)</small></p> 
    <div id="placacuandes-markdown188" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Aquands
          <ul>
            <li>Placaquands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
