<ion-view title="Psammaquents" id="page485">
  <ion-content padding="true" class="has-header">
    <div Within the <a ui-sref="menu.secciNDeControlDeTamaODePartCulas">particle-size control section</a> have:
      <ul>
        <li>• less than 35 percent (by volume) rock fragments, and</li>
        <li>•
          a <a ui-sref="menu.textura">texture</a> class of loamy fine sand or throughout the upper meter.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/ZN2rZtSWTm7r6jPrEJML_Psammacuent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="psammacuentes-markdown856" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Aquents
          <ul>
            <li>Psammaquents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>