<ion-view title="Redoximorphic Features" id="page594">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">Redoximorphic features that are formed under conditions of soil <a ui-sref="menu.saturaciNAgua">saturation</a> with water.
	  In this anaerobic environment the Fe and Mn are reduced and become soluble (and mobile) generating areas of accumulation or redox impoverishment (these elements tend to migrate from reducing zones to better aerated or oxidizing areas where they tend to accumulate).
	         <br> Non-coherent redox concentrations (masses or mottles) are commonly observed in poorly drained soils of the region.
      </p>
    </div>
    <div>
      <img src="img/JWzq1aONSOKnlFthgNWS_MoteadosFe300.jpg" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.plintita()" id="rasgosRedoximRficos-button806" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="rasgosRedoximRficos-button807" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.sLicoHorizonte()" id="rasgosRedoximRficos-button808" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>