<ion-view title="Soil Moisture Regimes" id="page630">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Soil moisture regimes</b>
      <br>
      <br> The term “soil moisture regime” refers to the presence or absence either of ground water or of water held at a tension of less than 1500 kPa in the soil or in specific horizons during periods of the year. 
	       <br>Water held at a tension of 1500 kPa or more is not available to keep most mesophytic plants alive.
      <br>
      <br>
      <u>Five soil moisture regimesare recognized::</u>
      <br> •
      <a ui-sref="menu.Cuico"> Aquic</a>
      <br> •
      <a ui-sref="menu.arDico">Aridic</a> or
      <a ui-sref="menu.tRricoRGimenDeHumedad">torric</a>
      <br> •
      <a ui-sref="menu.DicoRGimenDeHumedad">Udic</a>
      <br> •
      <a ui-sref="menu.usticoRGimenDeHumedad">Ustic</a>
      <br> •
      <a ui-sref="menu.xRicoRGimenDeHumedad">Xeric</a>
      <br>

    </p>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.secciNDeControlDeHumedad()" id="regMenesDeHumedadDeSuelo-button996" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" id="regMenesDeHumedadDeSuelo-button997" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
	<a ui-sref="menu.regMenesDeTemperaturaDeSuelo()" id="regMenesDeHumedadDeSuelo-button998" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
	</div>
  </ion-footer-bar>
</ion-view>