<ion-view title="Rhodudults" id="page309">
  <ion-content padding="true" class="has-header">
    <p align="justify">Both a dark surface layer and a dark, reddish <a ui-sref="menu.argLicoHorizonte">argillic</a> subsoil horizon (<a ui-sref="menu.hue">Hue</a> de 2,5YR or redder).
    </p>
    <div id="rhodudultes-markdown530" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/IGCpUFjFS52zH7Srwgfi_Rhodudult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="rhodudultes-markdown531" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Udults
          <ul>
            <li>Rhodudults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>