<ion-view title="Sapristels" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Other Histels.</li>
        <li>• Compounded predominantly by <a ui-sref="menu.sPricosMateriales">sapric soil material</a> to a depth of 50 cm or more.</li>
      </ul>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="sapristeles-markdown23" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisols</strong>
      </h5>

      <ul>
        <li>Histels
          <ul>
            <li>Sapristels</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>