<ion-view title="Base saturation" id="page597">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Base saturation is the percentage of the <a ui-sref="menu.cIC">cation-exchange capacity (CEC)</a> occupied by the four basic cations (calcium, magnesium, sodium, and potassium).	  </p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.arDico()" id="saturaciNConBases-button818" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="saturaciNConBases-button819" style="font-weight:lighter;" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.bioturbaciN()" id="saturaciNConBases-button820" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>