<ion-view title="Soil Moisture Control Section" id="page579">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> It is used to characterize the soil moisture regime. It is the profile area, where humidity must be measured. 
	  
        <br> The upper boundary of the MCS is the depth to which a dry soil will be wetted by 2.5 cm of precipitation in a 24-hour period. The lower boundary is the depth to which the same soil will be wetted by 7.5 cm of precipitation in a 48-hour period. 	 </p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.slickensides()" id="secciNDeControlDeHumedad-button824" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="secciNDeControlDeHumedad-button825" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.regMenesDeHumedadDeSuelo()" id="secciNDeControlDeHumedad-button826" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>