<ion-view title="Salic (horizon)" id="page578">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The salic horizon is a saline horizon in which salts more soluble than gypsum have accumulated.
        <br> A salic horizon is must be 15 cm or more thick and has, for 90 consecutive days or more in normal years:
        <br> 1 - An <a ui-sref="menu.conductividadElCtrica">electrical conductivity</a> (EC) equal to or greater than 30 dS/m in the water extracted from a saturated paste; and
        <br> 2 - A product of the EC, in dS/m, and thickness, in cm, equal to 900 or more. </p>
    </div>
	  
<div>
<img src="img/HorizonteSalico.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
</div> 
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.rasgosRedoximRficos()" id="sLicoHorizonte-button809" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="sLicoHorizonte-button810" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.sPricosMateriales()" id="sLicoHorizonte-button811" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>
