<ion-view title="Spodic (materials)" id="page584">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Spodic materials form in an <a ui-sref="menu.iluviaciNIluvial">illuvial</a> horizon that normally
underlies a   
        <a ui-sref="menu.hSticoHorizonte">histic</a>,
        <a ui-sref="menu.CricoHorizonte">ochric</a> or
        <a ui-sref="menu.MbricoHorizonte">umbric</a> epipedon or an 
        <a ui-sref="menu.Lbico"> albic</a> horizon.
        <br> Are dominated by active amorphous materials that are <a ui-sref="menu.iluviaciNIluvial">illuvial</a> and are composed of organic matter and aluminum, with or without iron. They are reddish color and pH &lt; 5,9.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	   <a ui-sref="menu.spDicoHorizonte()" id="spDicosMateriales-button845" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="spDicosMateriales-button846" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.sulfDicosMateriales()" id="spDicosMateriales-button847" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>