<ion-view title="Spodic (horizon)" id="page583">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">Subsurface horizon underlying an O, A, Ap, or E horizon with an <a ui-sref="menu.iluviaciNIluvial">illuvial</a> accumulation of active amorphous materials that consist of organic matter in complex with aluminum and also commonly iron.
         
        <br> Have a high <a ui-sref="menu.cIC">cation-exchange capacity</a>, a large surface area, high water retention, reddish color, low pH, and a high content of organic carbon. </p>
    </div>
    <div>
      <img src="img/VzWoo9OBQWeQzFbqzViE_SpdicoIG300.jpg" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.sphagnum()" id="spDicoHorizonte-button842" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="spDicoHorizonte-button843" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.spDicosMateriales()" id="spDicoHorizonte-button844" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>