<ion-view title="Sphagnofibrists" id="page63">
  <ion-content padding="true" class="has-header">
    <p>
      <a ui-sref="menu.sphagnum">Sphagnum</a> fibers constitute three-fourths or more of the volume to either a depth of 90 cm from the soil surface or to a <a ui-sref="menu.contactoDNsico">densic</a>, <a ui-sref="menu.contactoLTico">lithic</a>, or <a ui-sref="menu.contactoParalTico">paralithic</a> contact, fragmental materials, or other mineral soil materials if at a depth of less than 90 cm.
	    
        </p>
    <div>
      <img src="img/ZphPCfIITuGsRNZqETX9_Sphagnofibrist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sphagnofibristes-markdown75" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosols</strong>
      </h5>

      <ul>
        <li>Fibrists
          <ul>
            <li>Sphagnofibrists</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>