<ion-view title="Spodosols" id="page32">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        • Soils with a 
        <a ui-sref="menu.spDicoHorizonte">spodic</a> horizon.
        <br> • Cannot have a
        <a ui-sref="menu.plGenoPlaggenHorizonte">plaggen</a>,
        <a ui-sref="menu.argLicoHorizonte">argillic</a> or
        <a ui-sref="menu.kNdicoHorizonte">kandic</a> horizon above the
        <a ui-sref="menu.spDicoHorizonte">spodic</a>.
      </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="spodosoles-slider3" style="width:100%;height:300px;">
      <ion-slide-page id="spodosoles-slide27">
        <div>
          <img src="img/Lu1NNEmSfy8AG9n7mDsQ_Haplohumod.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="spodosoles-slide28">
       <div> 
	   <p align="center">
		<a title="Global distribution of Spodosols" href="img/Spodosoles_mundo.jpg"><img src="img/JU5qoF0S1KE5wU4yoehg_Spodosoles_cr300centro.jpg" alt="Global distribution of Spodosols" style="width: auto; height: 280px; center">
		</a>
		</p>
		</div>
      </ion-slide-page>
      <ion-slide-page id="spodosoles-slide243">
        <p align="center">Spodosols distribution in Argentine Republic
          <img src="img/5deGRAZ6QiyCDDHjZXGO_Spodosoles2y3.jpeg" style="max-width: 200px; max-height: 250px" alt="Spodosols distribution in Argentine Republic">
          <br>
          <font color="purple"> • Secondary </font>&nbsp; &nbsp;
          <font color="orange">• Tertiary </font>
        </p>
      </ion-slide-page>
    </ion-slides>
    <div id="spodosoles-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">Is this soil a Spodosol?</p>
    </div>
    <div id="spodosoles-button-bar6" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="spodosoles-button18" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesSpodosoles()" id="spodosoles-button26" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Yes</a>
    </div>
  </ion-content>
</ion-view>
