<ion-view title="Ultisols Suborders" id="page282">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acultes()" id="subRdenesUltisoles-button302" class="button button-balanced button-block">Aquult</a>
    <a ui-sref="menu.humultes()" id="subRdenesUltisoles-button305" class="button button-balanced button-block">Humult</a>
    <a ui-sref="menu.udultes()" id="subRdenesUltisoles-button306" class="button button-balanced button-block">Udult</a>
    <a ui-sref="menu.ustultes()" id="subRdenesUltisoles-button307" class="button button-balanced button-block">Ustult</a>
    <a ui-sref="menu.xerultes()" id="subRdenesUltisoles-button324" class="button button-balanced button-block">Xerult</a>
    <div id="subRdenesUltisoles-markdown483" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Ultisols</strong>
      </h4>

      <ul>
        <li>Aquults</li>
        <li>Humults</li>
        <li>Udults</li>
        <li>Ustults</li>
        <li>Xerults</li>
      </ul>
    </div>
  </ion-content>
</ion-view>
