<ion-view title="Entisols Suborders" id="page472">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.wassentes()" id="subRdenesEntisoles-button539" class="button button-balanced button-block">Wassent</a>
    <a ui-sref="menu.acuentes()" id="subRdenesEntisoles-button540" class="button button-balanced button-block">Aquent</a>
    <a ui-sref="menu.psammentes()" id="subRdenesEntisoles-button541" class="button button-balanced button-block">Psamment</a>
    <a ui-sref="menu.fluventes()" id="subRdenesEntisoles-button542" class="button button-balanced button-block">Fluvent</a>
    <a ui-sref="menu.ortentes()" id="subRdenesEntisoles-button543" class="button button-balanced button-block">Orthent</a>
    <div id="subRdenesEntisoles-markdown831" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Entisols</strong>
      </h4>

      <ul>
        <li>Wassents</li>
        <li>Acuents</li>
        <li>Psamments</li>
        <li>Fluvents</li>
        <li>Orthents</li>
      </ul>
    </div>
  </ion-content>
</ion-view>