<ion-view title="Mollisols Suborders" id="page334">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.alboles()" id="subRdenesMolisoles-button377" class="button button-balanced button-block">Alboll</a>
    <a ui-sref="menu.acuoles()" id="subRdenesMolisoles-button378" class="button button-balanced button-block">Aquoll</a>
    <a ui-sref="menu.rendoles()" id="subRdenesMolisoles-button379" class="button button-balanced button-block">Rendoll</a>
    <a ui-sref="menu.geloles()" id="subRdenesMolisoles-button380" class="button button-balanced button-block">Geloll</a>
    <a ui-sref="menu.crioles()" id="subRdenesMolisoles-button381" class="button button-balanced button-block">Cryoll</a>
    <a ui-sref="menu.xeroles()" id="subRdenesMolisoles-button427" class="button button-balanced button-block">Xeroll</a>
    <a ui-sref="menu.ustoles()" id="subRdenesMolisoles-button428" class="button button-balanced button-block">Ustoll</a>
    <a ui-sref="menu.udoles()" id="subRdenesMolisoles-button429" class="button button-balanced button-block">Udoll</a>
    <div id="subRdenesMolisoles-markdown575" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Mollisols</strong>
      </h4>

      <ul>
        <li>Albolls</li>
        <li>Aquolls</li>
        <li>Rendolls</li>
        <li>Gelolls</li>
        <li>Cryolls</li>
        <li>Xerolls</li>
        <li>Ustolls</li>
        <li>Udolls</li>
      </ul>
    </div>
  </ion-content>
</ion-view>
