<ion-view title="Gelisols Suborders" id="page30">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.histeles()" id="subRdenesGelisoles-button24" class="button button-balanced button-block">Histels</a>
    <a ui-sref="menu.turbeles()" id="subRdenesGelisoles-button25" class="button button-balanced button-block">Turbels</a>
    <a ui-sref="menu.orteles()" id="subRdenesGelisoles-button22" class="button button-balanced button-block">Orthels</a>
    <div id="subRdenesGelisoles-markdown15" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Gelisols</strong>
      </h4>

      <ul>
        <li>Histels</li>
        <li>Turbels</li>
        <li>Orthels</li>
      </ul>
    </div>
  </ion-content>
</ion-view>
