<ion-view title="Inceptisols Suborders" id="page435">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acueptes()" id="subRdenesInceptisoles-button443" class="button button-balanced button-block">Aquept</a>
    <a ui-sref="menu.geleptes()" id="subRdenesInceptisoles-button444" class="button button-balanced button-block">Gelept</a>
    <a ui-sref="menu.crieptes()" id="subRdenesInceptisoles-button445" class="button button-balanced button-block">Cryept</a>
    <a ui-sref="menu.usteptes()" id="subRdenesInceptisoles-button455" class="button button-balanced button-block">Ustept</a>
    <a ui-sref="menu.xereptes()" id="subRdenesInceptisoles-button473" class="button button-balanced button-block">Xerept</a>
    <a ui-sref="menu.udeptes()" id="subRdenesInceptisoles-button538" class="button button-balanced button-block">Udept</a>
    <div id="subRdenesInceptisoles-markdown764" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Inceptisols</strong>
      </h4>

      <ul>
        <li>Aquepts</li>
        <li>Gelepts</li>
        <li>Cryepts</li>
        <li>Ustepts</li>
        <li>Xerepts</li>
        <li>Udepts</li>
      </ul>
    </div>
  </ion-content>
</ion-view>
