<ion-view title="Alfisols Suborders" id="page388">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acualfes()" id="subRdenesAlfisoles-button438" class="button button-balanced button-block">Aqualfs</a>
    <a ui-sref="menu.crialfes()" id="subRdenesAlfisoles-button439" class="button button-balanced button-block">Cryalfs</a>
    <a ui-sref="menu.ustalfes()" id="subRdenesAlfisoles-button440" class="button button-balanced button-block">Ustalfs</a>
    <a ui-sref="menu.xeralfes()" id="subRdenesAlfisoles-button441" class="button button-balanced button-block">Xeralfs</a>
    <a ui-sref="menu.udalfes()" id="subRdenesAlfisoles-button442" class="button button-balanced button-block">Udalfs</a>
    <div id="subRdenesAlfisoles-markdown675" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Alfisols</strong>
      </h4>

      <ul>
        <li>Aqualfs</li>
        <li>Cryalfs</li>
        <li>Ustalfs</li>
        <li>Xeralfs</li>
        <li>Udalfs</li>
      </ul>
    </div>
  </ion-content>
</ion-view>