<ion-view title="Sulfiwassists" id="page60">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        With <a ui-sref="menu.sulfDicosMateriales">sulfidic materials</a> in at least 15 of the first 50 cm.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="sulfiwassistes-markdown69" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosols</strong>
      </h5>

      <ul>
        <li>Wassists
          <ul>
            <li>Sulfiwassists</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>