<ion-view title="Sulfuric (Horizon)" id="page586">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The sulfuric horizon is 15 cm or more thick and is composed 
of either mineral or organic soil material that has a pH value 
(1:1 by weight in water or in a minimum of water to permit 
measurement) of 3.5 or less or less than 4.0 if sulfide or other 
S-bearing minerals that produce sulfuric acid upon their 
oxidation are present. It has Jarosite concentrations (straw-yellow color, commonly <a ui-sref="menu.hue">hue</a> of 2.5Y or yellower and <a ui-sref="menu.cromaChroma">chroma</a> of > 6).  

        <br>The horizon shows evidence that the low 
pH value is caused by sulfuric acid. The highly acidic materials are toxic to plants and negatively affect structures built upon them.
        <br> It is a <a ui-sref="menu.horizontesYCaracterSticasDeDiagnStico">diagnostic horizon</a> for both mineral and organic soils.  </p>
    </div>
    <div>
      <img src="img/TwHLrMTNC65taQkWvibA_JarositaIG300.jpg" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<div id="sulfRicoHorizonte-button-bar160" class="button-bar">
      <a ui-sref="menu.sulfDicosMateriales()" id="sulfRicoHorizonte-button773" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="sulfRicoHorizonte-button774" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.textura()" id="sulfRicoHorizonte-button775" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>