<ion-view title="Sulfaquents" id="page481">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <p> <a ui-sref="menu.sulfDicosMateriales">Sulfidic materials</a> within a depth of 50 cm. </p>
      <hr>
      <p></p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="sulfacuentes-markdown848" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Aquents
          <ul>
            <li>Sulfaquents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>