<ion-view title="Sulfidic (materials)" id="page585">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Sulfidic materials contain oxidizable sulfur compounds (elemental S or most commonly sulfide minerals, such as pyrite or iron monosulfides). 
        <br> They are mineral or organic soil materials that have a pH value of more than 3.5 and that become significantly more acid when oxidized.
      </p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.spDicosMateriales()" id="sulfDicosMateriales-button755" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="sulfDicosMateriales-button756" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.sulfRicoHorizonte()" id="sulfDicosMateriales-button757" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>