<ion-view title="Texture" id="page622">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Physical property of the soil defined by the relative content of sand, silt and clay particles.
      <br> The twelve textural classes are: sand, loamy sand, sandy loam, loam, silt loam, silt, sandy clay loam, clay loam, silty clay loam, sandy clay, silty clay, and clay.
      
    </p>
    <div>
      <img src="img/A529nA7ASYG3ojiWCHmF_TrianguloTextural.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p align="justify">
      The particles are classified according to their size in: clay (&lt;0.002 mm), silt (0.002 to 0,05 mm) y sand (0.05 to 2 mm).
      <br> In turn, the clays can be subdivided into fine clays (&lt;0.0002 mm) and coarse clays (0.0002 mm to 0.002 mm). 
	  The silt is subdivided into fine silt (0.002 to 0,02 mm) and coarse silt (0.02 to 0.05 mm). 
	  The sands can be classified as very fine(0.05 to 0.1
      mm), fine (0.1 to 0.25 mm), medium (0,25 to 0,5 mm), coarse (0,5 to 1 mm) and very coarse (1 to 2 mm).
    </p>
    </ion-content>
   </ion-footer-bar>
    <ion-footer-bar class="bar-light">
	<div class="button-bar">
		<a ui-sref="menu.sulfRicoHorizonte()" id="sphagnum-button836" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-small button-stable button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
	<a ui-sref="menu.glosario()" id="sphagnum-button837" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
	<a ui-sref="menu.tRmicoRGimenDeTemperatura()" id="sphagnum-button838" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
	</div>
  </ion-footer-bar>
</ion-view>