<ion-view title="Torrifluvents" id="page503">
  <ion-content padding="true" class="has-header">
    <div>
      <p> 
        <a ui-sref="menu.tRricoRGimenDeHumedad">Torric</a> or
        <a ui-sref="menu.arDico">aridic</a> soil moisture regime. </p>
      <hr>
    </div>
    <div>
      <img src="img/DfU1yo9hTBwoHcqzl5uW_Torrifluvent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="torrifluventes-markdown890" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Fluvents
          <ul>
            <li>Torrifluvents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>