<ion-view title="Torrifolists" id="page56">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.arDico">Aridic</a> or
        <a ui-sref="menu.tRricoRGimenDeHumedad">torric</a> soil moisture regime.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/8N3wOZjxRXC2irXZv9bh_Torrifolist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="torrifolistes-markdown61" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosols</strong>
      </h5>

      <ul>
        <li>Folists
          <ul>
            <li>Torrifolists</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>