<ion-view title="Thermic (soil temperature regimes)" id="page587">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The mean annual soil temperature is 15 ºC or higher but lower than 22 ºC, and the difference between mean
summer and mean winter soil temperatures is 6 ºC or more either at a depth of 50 cm below the soil surface or at a <a ui-sref="menu.contactoDNsico">densic</a>, <a ui-sref="menu.contactoLTico">lithic</a>, or <a ui-sref="menu.contactoParalTico">paralithic</a> contact, whichever is shallower.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.textura()" id="tRmicoRGimenDeTemperatura-button782" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="tRmicoRGimenDeTemperatura-button783" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.till()" id="tRmicoRGimenDeTemperatura-button784" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>