<ion-view title="Torric (soil moisture regime)" id="page588">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> (L. torridus, hot and dry <i>'torridus'</i>: hot and dry) Same soil moisture regimes that <a ui-sref="menu.arDico">aridic</a>.
        <br> the <a ui-sref="menu.secciNDeControlDeHumedad">moisture control section</a> is, in normal years dry in all parts for more than half of the cumulative days per year when the soil temperature at a depth of 50 cm below the soil surface is above 5ºC and moist in some or all parts for less than 90 consecutive days when the soil temperature at a depth of 50 cm below the soil surface is above 8ºC.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.till()" id="tRricoRGimenDeHumedad-button803" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="tRricoRGimenDeHumedad-button804" style="font-weight:lighter;" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.DicoRGimenDeHumedad()" id="tRricoRGimenDeHumedad-button805" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>