<ion-view title="Udipsamments" id="page496">
  <ion-content padding="true" class="has-header">
    <div id="udipsammentes-markdown876" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Psamments.</p>

      <hr>
    </div>
    <div>
      <img src="img/dzhbIwdrSE2IJz0A4Unw_Udipsamment.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div id="udipsammentes-markdown877" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Psamments
          <ul>
            <li>Udipsamments</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>