<ion-view title="Udorthents" id="page512">
  <ion-content padding="true" class="has-header">
    <div id="udortentes-markdown906" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Orthents.</p>

      <hr>
    </div>
    <div>
      <img src="img/nwMtCSxJS8Cxz5OrluwN_Udorthent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="udortentes-markdown907" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Orthents
          <ul>
            <li>Udorthents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>