<ion-view title="Ultisols" id="page37">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Soils with  
        <a ui-sref="menu.saturaciNConBases">base saturation</a> (by sum of cations) of less than 35 percent AND 
        <a ui-sref="menu.argLicoHorizonte">argillic</a> or
        <a ui-sref="menu.kNdicoHorizonte">kandic</a> subsoil horizon.</p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider8" delegate-handle="slider8" id="ultisoles-slider8" style="width:100%;height:300px;">
      <ion-slide-page id="ultisoles-slide222">
        <div>
          <img src="img/iVzkRlxS1WXOzeve1nkM_Kandiudult.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="ultisoles-slide223">
        <div>
          <a title="Global distribution of Ultisols" href="img/Ultisoles_mundo.jpg"><img src="img/1r9m8YJRQWunzjn8UozS_Ultisoles_cr300centro.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
		  </a>
		      
		</div>
      </ion-slide-page>
      <ion-slide-page id="ultisoles-slide255">
        <p align="center">Ultisols distribution in Argentine Republic.
          <img src="img/n3eUV2NyRP2dRLD9Fnoc_Ultisoles1y2.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Ultisoles en Argentina">
          <br>
          <font color="green">• Dominant </font> &nbsp; &nbsp;
          <font color="purple"> • Secondary </font>
        </p>
      </ion-slide-page>
    </ion-slides>
    <div id="ultisoles-markdown33" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">Is this soil an Ultisol?</p>
    </div>
    <div id="ultisoles-button-bar11" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="ultisoles-button43" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesUltisoles()" id="ultisoles-button44" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Yes</a>
    </div>
  </ion-content>
</ion-view>
