<ion-view title="Umbriturbels" id="page271">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Turbels that have an <a ui-sref="menu.MbricoHorizonte">umbric</a> <a ui-sref="menu.epipedN">epipedon</a>.   
        
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="umbriturbeles-markdown462" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisols</strong>
      </h5>

      <ul>
        <li>Turbels
          <ul>
            <li>Umbriturbels</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>