<ion-view title="Umbraquults" id="page294">
  <ion-content padding="true" class="has-header">
    <div>
      <p>These soils have either a <a ui-sref="menu.mLicoHorizonte">mollic</a> or <a ui-sref="menu.MbricoHorizonte">umbric</a> <a ui-sref="menu.epipedN">epipedon</a>.
         
         </p>
      <hr>
    </div>
    <div>
      <img src="img/EE7aoj2sQWee1M0aWOmS_Umbracult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="umbracultes-markdown502" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisols</strong>
      </h5>

      <ul>
        <li>Aquults
          <ul>
            <li>Umbraquults</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>