<ion-view title="Ustifolists" id="page57">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
                <a ui-sref="menu.usticoRGimenDeHumedad">Ustic</a> or
        <a ui-sref="menu.xRicoRGimenDeHumedad">xeric</a> soil moisture regime.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="ustifolistes-markdown63" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosols</strong>
      </h5>

      <ul>
        <li>Folists
          <ul>
            <li>Ustifolists</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>