<ion-view title="Ustifluvents" id="page502">
  <ion-content padding="true" class="has-header">
    <div>
      <p> 
        <a ui-sref="menu.usticoRGimenDeHumedad">Ustic</a> soil moisture regime. </p>
      <hr>
    </div>
    <div>
      <img src="img/msVLMhfdTN6h8jQxyN18_Ustifluvent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="ustifluventes-markdown888" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisols</strong>
      </h5>

      <ul>
        <li>Fluvents
          <ul>
            <li>Ustifluvents</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>