<ion-view title="Ustic (soil moisture regime)" id="page591">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The ustic soil moisture regime is intermediate between the <a ui-sref="menu.arDico">aridic</a> regime and the   
        <a ui-sref="menu.DicoRGimenDeHumedad">udic</a> regime. Its concept is one of moisture that is limited but is present at a time when conditions are suitable for plant growth. The <a ui-sref="menu.secciNDeControlDeHumedad">soil moisture control section</a> is dry in some or all parts for 90 or more cumulative days in normal years.</p>
    </div>
	</ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.MbricoHorizonte()" id="usticoRGimenDeHumedad-button839" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="usticoRGimenDeHumedad-button840" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.value()" id="usticoRGimenDeHumedad-button841" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>