<ion-view title="N value" id="page592">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> A value that describes the ability of a  
        <a ui-sref="menu.saturaciNAgua">saturated</a> soil to support a load, such as grazing cattle or small machinery. It considers the percentage of water held under field conditions as well as percentages of silt, sand, clay, and organic matter in the soil.
        <br>For soil classification purposes, a critical 
        <b>n value</b> of 0.7 is used.
        <br> A simple field test involves squeezing a fist-full of soil. If the soil flows between the fingers but with difficulty (i.e., slightly fluid), the n value is likely between 0.7 and 1.0. If the soil flows easily (i.e., moderately fluid or very fluid), it is greater than 1.0. If no soil flows between the fingers (non-fluid), it is less than .0.7.
        <br> n = (A – 0,2 R)/(L+3H)
        <br> In this formula, A is the percentage of water in the soil in field condition, calculated on a dry-soil basis; R is the percentage of silt plus sand; L is the percentage of clay; and H is the percentage of organic matter (percent organic carbon multiplied by 1.724).</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.mLicoHorizonte()" id="valorN-button851" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="valorN-button852" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.nTricoHorizonte()" id="valorN-button853" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>