<ion-view title="Value" id="page623">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Value is one of the three variables that define color in the Munsell system. It represents how light or dark a color is with respect to its pattern color. The scale of value ranges from 0 for pure black to 10 for pure white.
      
    </p>
    <div>
      <a style="display:block;" href="mailto:">
        <img src="img/h4OS3B9QRHyBTz7rRHfo_Munsellcolorsystem.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <p>
      <font size="-2">
        Image from Wikipedia</font>
    </p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.usticoRGimenDeHumedad()" id="value-button793" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="value-button821" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.saturaciNAgua()" id="value-button822" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>