<ion-view title="Vermudolls" id="page374">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Either below an Ap horizon or below a depth of 18 cm from the mineral soil surface, contains 50 percent or more (by volume) wormholes, wormcasts, or filled animal burrows.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="vermudoles-markdown650" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Mollisols</strong>
      </h5>

      <ul>
        <li>Udolls
          <ul>
            <li>Vermudolls</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>