<ion-view title="Vermaqualfs" id="page382">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        A total of > 25 cm (within a depth of 100 cm) with > 50% evidence of <a ui-sref="menu.bioturbaciN">bioturbation</a> is required.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/cUiCdqUwSmWQjwffLERT_Vermacualf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="vermacualfes-markdown665" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisols</strong>
      </h5>

      <ul>
        <li>Aqualfs
          <ul>
            <li>Vermaqualfs</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>