<ion-view title="Vermaquepts" id="page431">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        One or more layers > 25 cm thick (cumulative) must have > 25%, by volume, evidence of 
        <a ui-sref="menu.bioturbaciN">bioturbation</a>.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="vermacueptes-markdown757" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisols</strong>
      </h5>

      <ul>
        <li>Aquepts
          <ul>
            <li>Vermaquepts</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>