<ion-view title="Vitrands" id="page113">
  <ion-content padding="true" class="has-header">
    <div id="vitrandes-markdown169" class="show-list-numbers-and-dots">
      <ul>
        <li>Relatively young Andosols.</li>
        <li>Sandy (water held at 1500 kPa tension is < 15% (by weight) on air-dry samples). </li>
        <li>Dominated by volcanic glass.</li>
      </ul>

      <hr>
    </div>
    <div>
      <img src="img/Y1epC6YmQ389X0LJQKbn_Udivitrand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="vitrandes-markdown170" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">Is this soil an Vitrand?</p>
    </div>
    <div id="vitrandes-button-bar31" class="button-bar">
      <a ui-sref="menu.subRdenesAndisoles()" id="vitrandes-button161" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposVitrandes()" id="vitrandes-button162" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>