<ion-view title="Vitrixerands" id="page141">
  <ion-content padding="true" class="has-header">
    <div id="vitrixerandes-markdown217" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Water held at 1500 kPa tension is < 15% (by weight) on air-dry samples. Dominated by volcanic glass.</p>

      <hr>
    </div>
    <div>
      <img src="img/HrgG5ctTyy2fN8Ljsx82_Vitrixerand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="vitrixerandes-markdown218" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisols</strong>
      </h5>

      <ul>
        <li>Xerands
          <ul>
            <li>Vitrixerands</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>