<ion-view title="Oxic (horizon)" id="page569">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizon with high weathering, formed by a mixture of hydrated oxides of Fe and/or Al, with kaolinitic clays (
        <a ui-sref="menu.cIC">an apparent CEC </a> of 16 cmol(+) or less per kg clay) and insoluble minerals.
        <br> It constitutes the "B" of tropical red soils, the thickness must be at least 30 cm.</p>
    </div>
	</ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.orsteinHorizonte()" id="XicoHorizonte-button761" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="XicoHorizonte-button762" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.contactoParalTico()" id="XicoHorizonte-button763" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>