<ion-view title="Xeric (moisture regime)" id="page593">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> The 
        <a ui-sref="menu.secciNDeControlDeHumedad">soil moisture control section</a>, in normal years, is dry in all parts for 45 or more consecutive days in the 4 months following the summer solstice and moist in all parts for 45 or more consecutive days in the 4 months following the winter solstice.</p>
    </div> 
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.cuneiforme()" id="xRicoRGimenDeHumedad-button854" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="xRicoRGimenDeHumedad-button855" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
    </div>
  </ion-footer-bar>
</ion-view>